<section class="spy120px bg-white-1">
  <div class="container">
    <div class="grid grid-cols-12 gap-6">
      <div
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="spl60px spt60px spl80px col-start-1 col-end-13 rounded-xl bg-white-5 lg:col-end-7"
      >
        <div
          class="flex size-20 items-center justify-center rounded-xl bg-primary"
        >
          <i class="ph ph-bank text-[32px] text-white-1"></i>
        </div>
        <h3 class="h2 max-w-[615px] pt-6 font-bold text-black-1">
          Empower yourself financially with our easy-to-use
        </h3>
        <p class="l-text pt-3 text-black-4">
          Empower yourself financially with our user-friendly app. Manage your
          finances effortlessly and focus on achieving your goals with ease
        </p>
        <img
          src="./assets/images/empower-mobile-ui.png"
          alt="Empower yourself financially mobile ui"
          class="spt60px mx-auto block"
        />
      </div>
      <div
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="spl60px spt60px spl80px col-start-1 col-end-13 rounded-xl bg-white-5 lg:col-start-7"
      >
        <div
          class="flex size-20 items-center justify-center rounded-xl bg-primary"
        >
          <i class="ph ph-barcode text-[32px] text-white-1"></i>
        </div>

        <h3 class="h2 max-w-[615px] pt-6 font-bold text-black-1">
          Manage your finances effortlessly with our intuitive
        </h3>
        <p class="l-text max-w-[706px] pt-3 text-black-4">
          Effortlessly manage your finances with our intuitive app. Take control
          of your financial future with ease
        </p>
        <div class="spt60px">
          <img
            src="./assets/images/manage-card-image.png"
            alt="manage your finances card image"
          />
        </div>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="col-start-1 col-end-13 grid grid-cols-12 gap-6 rounded-xl bg-white-5"
      >
        <div
          class="spl60px spt60px col-start-1 col-end-13 pb-10 lg:col-end-6 3xl:pb-[174px]"
        >
          <div
            class="flex size-20 items-center justify-center rounded-xl bg-primary"
          >
            <i class="ph ph-export text-[32px] text-white-1"></i>
          </div>
          <h3 class="h2 max-w-[708px] pt-6 font-bold text-black-1">
            Enjoy fee-free transfers to any destination worldwide.
          </h3>
          <p class="l-text pt-3 text-black-4">
            Experience fee-free transfers to any destination worldwide. Send
            money internationally without worrying about additional charges.
          </p>
        </div>
        <div
          class="col-start-1 col-end-13 flex h-[70vh] w-full items-end justify-end overflow-hidden rounded-br-xl bg-accent-2 max-3xl:rounded-bl-xl lg:h-[50vh] 3xl:col-start-6 3xl:h-full 3xl:rounded-tr-xl 3xl:[clip-path:polygon(27%_0,100%_1%,100%_100%,0%_100%);]"
        >
          <div
            class="tags-container relative z-40 h-full w-full bg-transparent"
          ></div>
        </div>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="sp40px col-start-1 col-end-13 rounded-xl bg-white-4 lg:col-end-5"
      >
        <div
          class="flex size-20 items-center justify-center rounded-xl bg-primary"
        >
          <i class="ph ph-bank text-[32px] text-white-1"></i>
        </div>
        <h3 class="h3 max-w-[388px] pt-6 font-bold text-black-1">
          Simplify banking tasks effortlessly
        </h3>
        <div class="spt60px flex items-center gap-4">
          <div>
            <img src="./assets/images/card-big.png" alt="bank card big" />
          </div>
          <div>
            <img src="./assets/images/card-small.png" alt="bank card small" />
          </div>
        </div>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="sp40px col-start-1 col-end-13 rounded-xl bg-white-4 lg:col-start-5 lg:col-end-9"
      >
        <div
          class="flex size-20 items-center justify-center rounded-xl bg-primary"
        >
          <i class="ph ph-currency-circle-dollar text-[32px] text-white-1"></i>
        </div>
        <h3 class="h3 max-w-[388px] pt-6 font-bold text-black-1">
          Simplify banking tasks effortlessly
        </h3>
        <div
          class="smt60px flex w-full items-center justify-between gap-4 rounded-xl bg-white-1 p-4 shadow-custom3"
        >
          <div class="flex items-center gap-3">
            <img src="./assets/images/usa-flag.png" alt="usa flag" />
            <span class="l-text font-medium text-black-1">USA</span>
          </div>
          <i class="ph ph-arrow-up-right text-[32px]"></i>
        </div>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="sp40px spr80px spl40px relative col-start-1 col-end-13 flex items-center overflow-hidden rounded-xl bg-black-1 text-white-1 lg:col-start-9"
      >
        <div>
          <h3
            class="h3 relative z-10 max-w-[431px] pt-6 font-bold text-white-1"
          >
            Check out other product features
          </h3>
          <div class="btn-area relative z-20 mt-10">
            <a
              href="#"
              aria-label="Contact"
              class="move-btn theme-transition-4 flex items-center text-center text-white-1"
            >
              <span
                class="one m-text theme-transition-4 min-h-[45px] rounded-2xl bg-primary px-8 py-3 font-medium capitalize"
              >
                View More
              </span>
              <span
                class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center rounded-2xl border border-primary bg-primary p-2.5 text-center"
              >
                <i
                  class="ph ph-arrow-up-right text-[24px]"
                  data-icon-name="arrow-right"
                ></i>
              </span>
            </a>
          </div>
        </div>
        <img
          src="./assets/images/card-circle-bottom-left.png"
          alt="card circle element bottom left"
          class="absolute bottom-0 left-0 max-lg:w-32 lg:max-xxl:max-w-48"
        />
        <img
          src="./assets/images/card-circle-top-right.png"
          alt="card circle element top right"
          class="absolute right-0 top-0 max-lg:w-28 lg:max-xxl:max-w-40"
        />
      </div>
    </div>
  </div>
</section>
