<section class="spy120px bg-white-1">
  <div class="container">
    <div
      class="mx-auto flex max-w-[301px] flex-col items-center justify-center gap-4 text-center"
    >
      <div
        data-aos="zoom-out-down"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="flex items-center justify-center gap-3"
      >
        <i class="ph ph-fire text-[24px] text-primary"></i>
        <h5 class="l-text font-medium text-primary">What Our Customers Say</h5>
      </div>
      <h3
        data-aos="zoom-out-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="h2 font-bold text-black-1"
      >
        Hear from Our Users
      </h3>
    </div>
    <div class="spt60px">
      <div class="customer-slider smooth overflow-hidden">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-1.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Wade Warren</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-1.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Wade Warren</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-2.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">
                        Darlene Robertson
                      </h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-3.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">
                        Brooklyn Simmons
                      </h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-4.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Jane Cooper</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-5.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Robert Fox</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-6.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Jenny Wilson</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-7.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Kathryn Murphy</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-8.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">
                        Leslie Alexander
                      </h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="customer-slider-reverse smooth mt-6 overflow-hidden">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-1.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Wade Warren</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-1.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Wade Warren</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-2.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">
                        Darlene Robertson
                      </h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-3.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">
                        Brooklyn Simmons
                      </h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-4.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Jane Cooper</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-5.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Robert Fox</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-6.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Jenny Wilson</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-7.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">Kathryn Murphy</h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rounded-3xl border border-accent-2 p-1">
              <div
                class="sp32px flex flex-col gap-6 rounded-3xl border border-accent-2"
              >
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <img
                      src="./assets/images/customer-8.png"
                      alt="customer one"
                      class="rounded-full"
                    />
                    <div class="flex flex-col gap-2">
                      <h5 class="h5 font-bold text-black-2">
                        Leslie Alexander
                      </h5>
                      <p class="m-text text-black-4">@iamsedaoi&wv</p>
                    </div>
                  </div>
                  <a href="#"
                    ><i
                      class="ph-fill ph-twitter-logo text-[32px] text-primary"
                    ></i
                  ></a>
                </div>
                <p class="m-text text-black-4">
                  I was amazed at the efficiency of the platform. The handyman
                  arrived promptly and completed the task with skill and will
                  definitely use this service again.
                </p>
                <p class="m-text font-medium text-black-4">
                  10:01PM. April 07,2024
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
