<section class="spy120px bg-white-4">
  <div class="container">
    <div
      class="mx-auto flex max-w-[289px] flex-col items-center justify-center gap-4 text-center"
    >
      <div class="flex items-center justify-center gap-3">
        <i class="ph ph-fire text-[24px] text-primary"></i>
        <h5 class="l-text font-medium text-primary">AppleX in Action</h5>
      </div>
      <h3 class="h2 font-bold text-black-1">See AppleX in Action</h3>
    </div>

    <div
      class="spt60px grid-cols-12 flex-col-reverse gap-6 max-xxl:items-center max-xl:flex xl:grid"
    >
      <div
        data-aos="fade-right"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1200"
        class="col-start-1 col-end-8 flex flex-col gap-5"
      >
        <div
          class="rounded-16px appear-down rounded-xl bg-white-1 p-4 shadow-custom3 sm:p-5"
        >
          <div
            class="rounded-16px faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
          >
            <h6 class="xl-text font-semibold text-black-2">
              How do I report fraudulent activity on my account?
            </h6>
            <div
              class="bg-bgColorOne text-primaryColor theme-transition-4 flex size-8 shrink-0 items-center justify-center rounded-full border-2 border-black-4 leading-none"
            >
              <i class="ph ph-plus text-[24px]"> </i>
            </div>
          </div>
          <div class="theme-transition-6 h-0 overflow-hidden">
            <p class="l-text mt-4 text-black-4">
              If you notice any suspicious or unauthorized activity on your
              account, follow these steps: 1. Contact your bank or credit card
              issuer immediately. 2. Report the fraudulent transactions and
              provide details of the unauthorized activity. 3. Request to block
              or deactivate the affected card or account. 4. Follow any
              additional instructions provided by your bank to resolve the
              issue.
            </p>
          </div>
        </div>
        <div
          class="rounded-16px appear-down rounded-xl bg-white-1 p-4 shadow-custom3 sm:p-5"
        >
          <div
            class="rounded-16px faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
          >
            <h6 class="xl-text font-semibold text-black-2">
              How secure is AppleX?
            </h6>
            <div
              class="bg-bgColorOne text-primaryColor theme-transition-4 flex size-8 shrink-0 items-center justify-center rounded-full border-2 border-black-4 leading-none"
            >
              <i class="ph ph-plus text-[24px]"> </i>
            </div>
          </div>
          <div class="theme-transition-6 h-0 overflow-hidden">
            <p class="l-text mt-4 text-black-4">
              If you notice any suspicious or unauthorized activity on your
              account, follow these steps: 1. Contact your bank or credit card
              issuer immediately. 2. Report the fraudulent transactions and
              provide details of the unauthorized activity. 3. Request to block
              or deactivate the affected card or account. 4. Follow any
              additional instructions provided by your bank to resolve the
              issue.
            </p>
          </div>
        </div>
        <div
          class="rounded-16px appear-down rounded-xl bg-white-1 p-4 shadow-custom3 sm:p-5"
        >
          <div
            class="rounded-16px faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
          >
            <h6 class="xl-text font-semibold text-black-2">
              Can AppleX be customized for our unique workflow?
            </h6>
            <div
              class="bg-bgColorOne text-primaryColor theme-transition-4 flex size-8 shrink-0 items-center justify-center rounded-full border-2 border-black-4 leading-none"
            >
              <i class="ph ph-plus text-[24px]"> </i>
            </div>
          </div>
          <div class="theme-transition-6 h-0 overflow-hidden">
            <p class="l-text mt-4 text-black-4">
              If you notice any suspicious or unauthorized activity on your
              account, follow these steps: 1. Contact your bank or credit card
              issuer immediately. 2. Report the fraudulent transactions and
              provide details of the unauthorized activity. 3. Request to block
              or deactivate the affected card or account. 4. Follow any
              additional instructions provided by your bank to resolve the
              issue.
            </p>
          </div>
        </div>
        <div
          class="rounded-16px appear-down rounded-xl bg-white-1 p-4 shadow-custom3 sm:p-5"
        >
          <div
            class="rounded-16px faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
          >
            <h6 class="xl-text font-semibold text-black-2">
              What support options are available with AppleX?
            </h6>
            <div
              class="bg-bgColorOne text-primaryColor theme-transition-4 flex size-8 shrink-0 items-center justify-center rounded-full border-2 border-black-4 leading-none"
            >
              <i class="ph ph-plus text-[24px]"> </i>
            </div>
          </div>
          <div class="theme-transition-6 h-0 overflow-hidden">
            <p class="l-text mt-4 text-black-4">
              If you notice any suspicious or unauthorized activity on your
              account, follow these steps: 1. Contact your bank or credit card
              issuer immediately. 2. Report the fraudulent transactions and
              provide details of the unauthorized activity. 3. Request to block
              or deactivate the affected card or account. 4. Follow any
              additional instructions provided by your bank to resolve the
              issue.
            </p>
          </div>
        </div>
        <div
          class="rounded-16px appear-down rounded-xl bg-white-1 p-4 shadow-custom3 sm:p-5"
        >
          <div
            class="rounded-16px faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
          >
            <h6 class="xl-text font-semibold text-black-2">
              How do I report fraudulent activity on my account?
            </h6>
            <div
              class="bg-bgColorOne text-primaryColor theme-transition-4 flex size-8 shrink-0 items-center justify-center rounded-full border-2 border-black-4 leading-none"
            >
              <i class="ph ph-plus text-[24px]"> </i>
            </div>
          </div>
          <div class="theme-transition-6 h-0 overflow-hidden">
            <p class="l-text mt-4 text-black-4">
              If you notice any suspicious or unauthorized activity on your
              account, follow these steps: 1. Contact your bank or credit card
              issuer immediately. 2. Report the fraudulent transactions and
              provide details of the unauthorized activity. 3. Request to block
              or deactivate the affected card or account. 4. Follow any
              additional instructions provided by your bank to resolve the
              issue.
            </p>
          </div>
        </div>
        <div
          class="rounded-16px appear-down rounded-xl bg-white-1 p-4 shadow-custom3 sm:p-5"
        >
          <div
            class="rounded-16px faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
          >
            <h6 class="xl-text font-semibold text-black-2">
              How secure is AppleX?
            </h6>
            <div
              class="bg-bgColorOne text-primaryColor theme-transition-4 flex size-8 shrink-0 items-center justify-center rounded-full border-2 border-black-4 leading-none"
            >
              <i class="ph ph-plus text-[24px]"> </i>
            </div>
          </div>
          <div class="theme-transition-6 h-0 overflow-hidden">
            <p class="l-text mt-4 text-black-4">
              If you notice any suspicious or unauthorized activity on your
              account, follow these steps: 1. Contact your bank or credit card
              issuer immediately. 2. Report the fraudulent transactions and
              provide details of the unauthorized activity. 3. Request to block
              or deactivate the affected card or account. 4. Follow any
              additional instructions provided by your bank to resolve the
              issue.
            </p>
          </div>
        </div>
        <div
          class="rounded-16px appear-down rounded-xl bg-white-1 p-4 shadow-custom3 sm:p-5"
        >
          <div
            class="rounded-16px faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
          >
            <h6 class="xl-text font-semibold text-black-2">
              Can AppleX be customized for our unique workflow?
            </h6>
            <div
              class="bg-bgColorOne text-primaryColor theme-transition-4 flex size-8 shrink-0 items-center justify-center rounded-full border-2 border-black-4 leading-none"
            >
              <i class="ph ph-plus text-[24px]"> </i>
            </div>
          </div>
          <div class="theme-transition-6 h-0 overflow-hidden">
            <p class="l-text mt-4 text-black-4">
              If you notice any suspicious or unauthorized activity on your
              account, follow these steps: 1. Contact your bank or credit card
              issuer immediately. 2. Report the fraudulent transactions and
              provide details of the unauthorized activity. 3. Request to block
              or deactivate the affected card or account. 4. Follow any
              additional instructions provided by your bank to resolve the
              issue.
            </p>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-left"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1200"
        class="col-start-8 col-end-13"
      >
        <img src="./assets/images/faq-image.png" alt="faq image" />
      </div>
    </div>
  </div>
</section>
