<footer class="spt120px bg-white-1 pb-6">
  <div class="container">
    <h3
      data-aos="zoom-out-down"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="h2 mx-auto max-w-[470px] text-center font-bold text-black-1"
    >
      AppleX is available for all Devices
    </h3>
  </div>
  <div
    class="spt60px grid-cols-12 items-center max-sm:container max-sm:pb-4 sm:grid"
  >
    <div
      data-aos="fade-right"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1200"
      class="col-start-1 col-end-4 h-full rounded-br-xl rounded-tr-xl border-b-2 border-r-2 border-t-2 border-accent-2 max-lg:hidden"
    ></div>
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="col-start-3 col-end-11 -ml-0.5 rounded-xl border-accent-2 text-center lg:col-start-4 lg:col-end-10 lg:border-2"
    >
      <a
        href="/"
        class="h2 block w-full rounded-full bg-primary py-6 font-bold text-white-1 sm:py-8 md:py-11"
      >
        Start for free
      </a>
    </div>
    <div
      data-aos="fade-left"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1200"
      class="col-start-10 col-end-13 -ml-0.5 h-full rounded-bl-xl rounded-tl-xl border-b-2 border-l-2 border-t-2 border-accent-2 max-lg:hidden"
    ></div>
  </div>
  <div
    class="grid-cols-12 items-center max-sm:container max-lg:gap-6 sm:grid lg:-mt-0.5"
  >
    <div
      data-aos="fade-right"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1200"
      class="col-start-1 col-end-4 h-full rounded-br-xl rounded-tr-xl border-b-2 border-r-2 border-t-2 border-accent-2 max-lg:hidden"
    ></div>
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="col-start-3 col-end-11 -ml-0.5 gap-4 rounded-xl border-accent-2 max-sm:space-y-4 sm:grid sm:grid-cols-2 lg:col-start-4 lg:col-end-10 lg:gap-0 lg:border-2"
    >
      <div
        class="rounded-full border border-accent-2 py-4 text-center sm:py-5 md:py-7"
      >
        <img
          src="./assets/images/footer-google-play.png"
          alt="footer apple play image"
          class="mx-auto block max-3xl:w-40"
        />
      </div>
      <div
        class="rounded-full border border-accent-2 py-4 text-center sm:py-5 md:py-7"
      >
        <img
          src="./assets/images/footer-apple-play.png"
          alt="footer apple play image"
          class="mx-auto block max-3xl:w-40"
        />
      </div>
    </div>

    <div
      data-aos="fade-left"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1200"
      class="col-start-10 col-end-13 -ml-0.5 h-full rounded-bl-xl rounded-tl-xl border-b-2 border-l-2 border-t-2 border-accent-2 max-lg:hidden"
    ></div>
  </div>
  <div
    class="container flex items-center justify-between pt-6 max-md:flex-col max-md:gap-6"
  >
    <div
      data-aos="fade-right"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1200"
      class="flex items-center gap-3 max-[480px]:flex-col"
    >
      <p class="xl-text font-medium text-black-1">Copyright @ 2024 AppleX</p>
      <div class="h-5 w-0.5 bg-white-3 max-[480px]:hidden"></div>
      <p class="xl-text font-medium text-black-1">
        Designed By
        <a href="/" class="text-primary underline">Pixelaxis</a>
      </p>
    </div>
    <div
      data-aos="fade-left"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1200"
      class="flex items-center gap-3"
    >
      <a
        href="/"
        class="group theme-transition-3 flex size-12 items-center justify-center rounded-full border border-primary hover:bg-primary"
      >
        <i
          class="ph ph-facebook-logo theme-transition-3 shrink-0 text-[24px] text-primary group-hover:text-white-1"
        ></i>
      </a>
      <a
        href="/"
        class="group theme-transition-3 flex size-12 items-center justify-center rounded-full border border-primary hover:bg-primary"
      >
        <i
          class="ph ph-instagram-logo theme-transition-3 shrink-0 text-[24px] text-primary group-hover:text-white-1"
        ></i>
      </a>
      <a
        href="/"
        class="group theme-transition-3 flex size-12 items-center justify-center rounded-full border border-primary hover:bg-primary"
      >
        <i
          class="ph ph-twitch-logo theme-transition-3 shrink-0 text-[24px] text-primary group-hover:text-white-1"
        ></i>
      </a>
    </div>
  </div>
</footer>
