<header>
  <!-- desktop navbar -->
  <div
    data-aos="zoom-in"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1500"
    class="hidden bg-white-4 p-6 lg:block"
  >
    <div
      class="desktop-nav container theme-transition-3 top-0 z-50 w-full rounded-3xl border border-white-2 bg-white-1 px-6"
    >
      <div
        class="transition-primary spy24px hi container theme-transition-3 flex w-full items-center justify-between"
      >
        <div>
          <a href="/">
            <img src="./assets/images/logo.png" alt="Desktop Logo" />
          </a>
        </div>
        <!-- Menu Items  start-->

        <ul class="menu flex items-center justify-between gap-10">
          <!-- navbarData -->
          <li>
            <a
              href="index.html"
              class="l-text single-menu navbar-hover-text font-l-text theme-transition-3 relative z-10 flex cursor-pointer items-center justify-between gap-1 font-medium text-black-4 before:theme-transition-3 before:absolute before:bottom-0 before:block before:h-px before:bg-primary hover:text-primary hover:before:w-full"
            >
              Home
            </a>
          </li>
          <li>
            <a
              href="features.html"
              class="l-text single-menu navbar-hover-text font-l-text theme-transition-3 relative z-10 flex cursor-pointer items-center justify-between gap-1 font-medium text-black-4 before:theme-transition-3 before:absolute before:bottom-0 before:block before:h-px before:bg-primary hover:text-primary hover:before:w-full"
            >
              Features
            </a>
          </li>
          <li>
            <a
              href="pricing.html"
              class="l-text single-menu navbar-hover-text font-l-text theme-transition-3 relative z-10 flex cursor-pointer items-center justify-between gap-1 font-medium text-black-4 before:theme-transition-3 before:absolute before:bottom-0 before:block before:h-px before:bg-primary hover:text-primary hover:before:w-full"
            >
              pricing
            </a>
          </li>
          <li>
            <a
              href="blog.html"
              class="l-text single-menu navbar-hover-text font-l-text theme-transition-3 relative z-10 flex cursor-pointer items-center justify-between gap-1 font-medium text-black-4 before:theme-transition-3 before:absolute before:bottom-0 before:block before:h-px before:bg-primary hover:text-primary hover:before:w-full"
            >
              Blog
            </a>
          </li>
        </ul>

        <!-- Menu Items  end-->

        <div class="relative">
          <div class="btn-area right-0 z-20">
            <a
              href="#"
              aria-label="Contact"
              class="move-btn theme-transition-4 flex items-center text-center text-white-1"
            >
              <span
                class="one m-text theme-transition-4 rounded-2xl bg-primary px-8 py-3 font-medium capitalize"
              >
                Let’s talk
              </span>
              <span
                class="two d-center theme-transition-4 flex shrink-0 items-center justify-center rounded-2xl border border-primary bg-primary p-2.5 text-center"
              >
                <i
                  class="ph ph-arrow-up-right text-[24px]"
                  data-icon-name="arrow-right"
                ></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile menu -->
  <div class="bg-white-4 p-6 lg:hidden">
    <div
      class="desktop-nav container theme-transition-3 top-0 z-50 w-full rounded-3xl border border-white-2 bg-white-1 px-6"
    >
      <div
        class="transition-primary spy24px container theme-transition-3 flex w-full items-center justify-between"
      >
        <div>
          <a href="/">
            <img src="./assets/images/logo.png" alt="Desktop Logo" />
          </a>
        </div>
        <!-- Menu Items  start-->

        <!-- Menu Items  end-->

        <div class="m-text relative font-medium">
          <button
            id="mobile-menu-btn"
            class="text-neutral-n900 flex items-center gap-2"
          >
            <i class="ph ph-list text-4xl"></i>
          </button>

          <div
            id="mobile-menu"
            class="hide absolute right-0 top-full z-20 w-64 origin-top-right rounded-md bg-white-1 p-4 shadow-[0px_6px_30px_0px_rgba(0,0,0,0.08)] duration-500"
          >
            <ul class="menu flex flex-col rounded-md bg-white-1 py-3">
              <li
                class="active block cursor-pointer rounded-md px-4 py-2 duration-500 hover:text-primary"
              >
                <a href="index.html" class="single-menu">Home</a>
              </li>
              <li
                class="block cursor-pointer rounded-md px-4 py-2 duration-500 hover:text-primary"
              >
                <a href="featurs.html" class="single-menu">Features</a>
              </li>
              <li
                class="block cursor-pointer rounded-md px-4 py-2 duration-500 hover:text-primary"
              >
                <a href="pricing.html" class="single-menu">Pricing</a>
              </li>
              <li
                class="block cursor-pointer rounded-md px-4 py-2 duration-500 hover:text-primary"
              >
                <a href="blog.html" class="single-menu">Blog</a>
              </li>
            </ul>
            <div class="relative">
              <div class="btn-area z-20">
                <a
                  href="#"
                  aria-label="Contact"
                  class="move-btn theme-transition-4 flex items-center text-center text-white-1"
                >
                  <span
                    class="one m-text theme-transition-4 min-h-[45px] rounded-2xl bg-primary px-8 py-3 font-medium capitalize"
                  >
                    Let’s talk
                  </span>
                  <span
                    class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center rounded-2xl border border-primary bg-primary p-2.5 text-center"
                  >
                    <i
                      class="ph ph-arrow-up-right text-[24px]"
                      data-icon-name="arrow-right"
                    ></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
