<section
  class="relative flex flex-col gap-3 bg-white-4 pb-32 pt-30 sm:pb-40 xxl:pb-[240px]"
>
  <div class="marquee-section overflow-hidden">
    <div class="marquee-wrap">
      <span
        class="whitespace-nowrap text-[100px] font-bold uppercase leading-none text-white-3 xl:text-[140px]"
      >
        BANKING APP FINANCE APP DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP
        DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP DIGITAL THE ULTIMATE
        APP
      </span>
    </div>
  </div>
  <div class="marquee-section-alt overflow-hidden">
    <div class="marquee-wrap">
      <span
        class="whitespace-nowrap text-[100px] font-bold uppercase leading-none text-white-3 xl:text-[140px]"
      >
        BANKING APP FINANCE APP DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP
        DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP DIGITAL THE ULTIMATE
        APP
      </span>
    </div>
  </div>
  <div class="marquee-section overflow-hidden">
    <div class="marquee-wrap">
      <span
        class="whitespace-nowrap text-[100px] font-bold uppercase leading-none text-white-3 xl:text-[140px]"
      >
        BANKING APP FINANCE APP DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP
        DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP DIGITAL THE ULTIMATE
        APP
      </span>
    </div>
  </div>
  <div class="marquee-section-alt overflow-hidden">
    <div class="marquee-wrap">
      <span
        class="whitespace-nowrap text-[100px] font-bold uppercase leading-none text-white-3 xl:text-[140px]"
      >
        BANKING APP FINANCE APP DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP
        DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP DIGITAL THE ULTIMATE
        APP
      </span>
    </div>
  </div>

  <div class="absolute top-0 w-full justify-center">
    <div class="mobile-ui-slider overflow-hidden">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide flex items-center justify-center">
          <img
            src="./assets/images/mobiel-ui.png"
            alt="Mobile UI Slider Image 1"
            class="max-4xl:w-[400px] max-xl:w-[300px]"
          />
        </div>
        <div class="swiper-slide flex items-center justify-center">
          <img
            src="./assets/images/mobiel-ui-2.png"
            alt="Mobile UI Slider Image 2"
            class="max-4xl:w-[400px] max-xl:w-[300px]"
          />
        </div>
        <div class="swiper-slide flex items-center justify-center">
          <img
            src="./assets/images/mobiel-ui-3.png"
            alt="Mobile UI Slider Image 3"
            class="max-4xl:w-[400px] max-xl:w-[300px]"
          />
        </div>
        <div class="swiper-slide flex items-center justify-center">
          <img
            src="./assets/images/mobiel-ui-4.png"
            alt="Mobile UI Slider Image 4"
            class="max-4xl:w-[400px] max-xl:w-[300px]"
          />
        </div>
      </div>
    </div>
  </div>
</section>
