<section class="py-8 md:py-10 lg:py-[60px] max-sm:px-3">
    <div class="container bg-primary rounded-xl">
      <div class="grid grid-cols-12 md:items-center gap-4 sm:gap-6">
        <div class="col-span-full md:col-span-6">
          <div data-aos-duration="1700" data-aos="zoom-in" class="ps-3 sm:ps-6 md:ps-10 lg:ps-[60px] pt-5">
            <span class="lg:text-xl font-medium md:mb-3">Baked Goods</span>
            <h1 class="mb-4 md:mb-6 lg:mb-8">Our Best Chicken Recipes for Dinner</h1>
            <div class="">
              <div class="inline-block border-[2px] border-nw40 hover:border-nc10 p-1 ">
                <a href="../cookbooks.html" class="flex items-center group duration-700">
                  <span
                    class="py-2 px-4 lg:px-6 md:text-lg bg-nw40 hover:bg-transparent text-nb30 hover:text-nw40 duration-500 font-medium">Explore
                    All</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="max-md:hidden md:col-span-1"></div>
        <div class="col-span-full md:col-span-5">
          <div class="overflow-hidden">
            <img data-aos-duration="1700" data-aos="fade-left" src="assets/images/kok-kok-kokok.png" alt="Image">
          </div>
        </div>
      </div>
    </div>
  </section>