<section data-aos-duration="1700" data-aos="fade-up" class="mb-8 md:mb-[-55px] lg:mb-[-100px]">
    <div class="container">
      <div class="grid grid-cols-12 gap-4 sm:gap-6">
        <div class="col-span-full md:col-span-10 xl:col-span-8 md:col-start-2 xl:col-start-3">
          <div
            class="flex max-sm:flex-wrap items-center justify-center gap-5 sm:gap-10 md:gap-12 lg:gap-[67px] bg-primary rounded-xl p-3 py-5 sm:p-6 md:p-8 lg:p-10">
            <div class="max-sm:text-center">
              <h2 class="mb-2">Never miss a recipe!</h2>
              <span class="lg:text-lg">Sign up and receive the latest tips via email.</span>
            </div>
            <div class="">
              <form class="flex items-center max-sm:justify-center border p-[6px] rounded-lg">
                <input class="border-none" type="text" placeholder="Enter Your Email">
                <button class="px-4 md:px-5 py-3 rounded bg-nw40 text-base text-nb10 font-medium">SUBMIT</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>