// Header Starts
.show {
    @apply  hidden duration-500;
  
  }
  #mobileMenu{
    @apply md:hidden
  }
  
  .cmnhed {
    .active {
      color: #96F048;
      text-decoration: underline;
    }
  }
  
  
  // .navbar-nav{
  //   &.active, &:hover {
  //     color: red;
  // }
  // }
  
  // Header Ends
  // Hero Section Starts
  .count-down {
    li {
      display: inline-block;
      font-size: 1.5em;
      list-style-type: none;
      text-transform: uppercase;
      text-align: center;
    }
  
    .textstylecount {
      font-size: 16px !important;
      font-weight: 500;
    }
  
    li span {
      display: block;
      font-size: 2rem;
      line-height: 80px;
      font-weight: 700;
      text-align: center;
    }
  
    // .emoji {
    //   display: none;
    //   padding: 1rem;
    // }
  
    // .emoji span {
    //   font-size: 4rem;
    //   padding: 0 .5rem;
    // }
  
    @media all and (max-width: 768px) {
      h1 {
        font-size: calc(1.5rem * var(--smaller));
      }
  
      li {
        font-size: calc(1.125rem * var(--smaller));
      }
  
      li span {
        font-size: calc(3.375rem * var(--smaller));
      }
    }
  }
  
  // Hero Section Ends
  
  
  .hexagon3 {
    width: 97px;
    height: calc(102px * 0.57736720554273);
    /* Calculate height using golden ratio */
    border-radius: calc(102px / 18.75);
    /* Calculate border radius */
    background-color: #23283C;
    display: inline-block;
    position: relative;
    margin: calc(102px * 0.5 / 2) auto;
    /* Calculate margin based on height */
    text-align: center;
    text-decoration: none;
  }
  
  .hexagon3::before,
  .hexagon3::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
  }
  
  .hexagon3::before {
    transform: rotate(60deg);
  }
  
  .hexagon3::after {
    transform: rotate(-60deg);
  }
  
  // .hexagon2 {
  //   width: 85px;
  //   height: calc(90px * 0.57736720554273);
  //   /* Calculate height using golden ratio */
  //   border-radius: calc(90px / 18.75);
  //   /* Calculate border radius */
  //   // background-color: #0065FF;
  //   display: inline-block;
  //   position: relative;
  //   margin: calc(90px * 0.5 / 2) auto;
  //   /* Calculate margin based on height */
  //   text-align: center;
  //   text-decoration: none;
  // }
  
  // .hexagon2::before,
  // .hexagon2::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: inherit;
  //   background-color: inherit;
  // }
  
  // .hexagon2::before {
  //   transform: rotate(60deg);
  // }
  
  // .hexagon2::after {
  //   transform: rotate(-60deg);
  // }
  
  // .hexagon {
  //   width: 78px;
  //   height: calc(83px * 0.57736720554273);
  //   /* Calculate height using golden ratio */
  //   border-radius: calc(83px / 18.75);
  //   /* Calculate border radius */
  //   background-color: #E6F0FF;
  //   display: inline-block;
  //   position: relative;
  //   margin: calc(calc(83px * 0.5) / 2) auto;
  //   /* Calculate margin based on height */
  // }
  
  // .hexagon::before,
  // .hexagon::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: inherit;
  //   background-color: inherit;
  // }
  
  // .hexagon::before {
  //   transform: rotate(60deg);
  // }
  
  // .hexagon::after {
  //   transform: rotate(-60deg);
  // }
  
  // .r-hex {
  //   position: absolute;
  //   top: -15px;
  //   right: -1px;
  //   z-index: 10;
  //   overflow: hidden;
  //   display: inline-block;
  //   /* margin: 4em 0; */
  //   width: 80px;
  //   transform: rotate(-30deg) skewX(30deg);
  //   border-radius: 0.5em;
  // }
  
  // .r-hex *,
  // .r-hex *:before {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   overflow: hidden;
  //   width: inherit;
  //   height: inherit;
  //   border-radius: inherit;
  // }
  
  // .r-hex-inner {
  //   transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  //   cursor: pointer;
  // }
  
  // .r-hex-inner-2 {
  //   transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  //   /* background: orange; */
  //   content: "";
  // }
  
  // .r-hex-inner-2:before {
  //   /* margin-top: -1.5em; */
  //   height: 80px;
  //   transform: skewX(-30deg) rotate(-90deg);
  //   background-size: cover;
  //   /* line-height: 20em; */
  //   text-align: center;
  //   content: "";
  // }
  
  // .expertImg1::before {
  //   background: url(../images/logo.png);
  // }
  
  
  
  
  // // Circle Text
  .circle-text {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    // background-color: red;
    background-image: url("../assets/images/round-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // border: 1px solid green;
    position: relative;
    animation: rotate-animation 16s infinite linear;
  
    .text {
      animation: rotate-animation2 14s infinite linear;
      animation-duration: reverse;
      width: 100%;
      height: 100%;
      position: absolute;
  
      p {
        transform: translate(49.5%, 36px);
      }
  
      span {
        position: absolute;
        color: #fff;
        font-size: inherit;
        font-weight: 300;
        transform-origin: 0 90px;
      }
    }
  
    &:hover {
      .text {
        animation-play-state: paused;
      }
    }
  
    // &.second{
    // 	width: 120px;
    // 	height: 120px;
    // 	background-color: blue;
    // 	border-color: transparent;
    // 	.text{
    // 		p{
    // 			transform: translate(80%, 5px);
    // 		}
    // 		span{
    // 			transform-origin: 0 85px;
    // 		}
    // 	}
    // }
    &.third {
      width: 880px;
      height: 880px;
      border-color: transparent;
  
      .text {
        p {
          transform: translate(50%, 5px);
        }
  
        span {
          transform-origin: 0 440px;
        }
      }
    }
  }
  
  @keyframes rotate-animation {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes rotate-animation2 {
    from {
      transform: rotate(-360deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  
  // Hero Slider css
  .brad-carousel {
    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }
  }
  
  .brad-carousel2 {
    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }
  }
  
  .counters {
    span {
      line-height: inherit;
      font-size: inherit !important;
      font-weight: inherit !important;
      color: inherit !important;
    }
  }
  