<section
  class="relative flex flex-col gap-3 bg-white-4 pb-32 pt-30 sm:pb-40 xxl:pb-[240px]"
>
  <div class="marquee-section overflow-hidden">
    <div class="marquee-wrap">
      <span
        class="whitespace-nowrap text-[100px] font-bold uppercase leading-none text-white-3 xl:text-[140px]"
      >
        BANKING APP FINANCE APP DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP
        DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP DIGITAL THE ULTIMATE
        APP
      </span>
    </div>
  </div>
  <div class="marquee-section-alt overflow-hidden">
    <div class="marquee-wrap">
      <span
        class="whitespace-nowrap text-[100px] font-bold uppercase leading-none text-white-3 xl:text-[140px]"
      >
        BANKING APP FINANCE APP DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP
        DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP DIGITAL THE ULTIMATE
        APP
      </span>
    </div>
  </div>
  <div class="marquee-section overflow-hidden">
    <div class="marquee-wrap">
      <span
        class="whitespace-nowrap text-[100px] font-bold uppercase leading-none text-white-3 xl:text-[140px]"
      >
        BANKING APP FINANCE APP DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP
        DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP DIGITAL THE ULTIMATE
        APP
      </span>
    </div>
  </div>
  <div class="marquee-section-alt overflow-hidden">
    <div class="marquee-wrap">
      <span
        class="whitespace-nowrap text-[100px] font-bold uppercase leading-none text-white-3 xl:text-[140px]"
      >
        BANKING APP FINANCE APP DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP
        DIGITAL THE ULTIMATE APP BANKING APP FINANCE APP DIGITAL THE ULTIMATE
        APP
      </span>
    </div>
  </div>

  <div class="absolute top-0 flex w-full justify-center">
    <img
      src="./assets/images/home/mobiel-ui.png"
      alt="mobile ui"
      class="max-xxl:w-96 max-xl:w-72"
    />
  </div>
</section>
