<div class="grid grid-cols-6 gap-x-3 gap-y-6 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 bg-nb20">
    <div class="col-span-full border border-nb30 rounded-xl py-4 md:py-6 px-4 md:px-6 lg:px-8">
        <div class="flex justify-center mb-4 md:mb-5">
            <div
                class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center justify-center gap-3 rounded-3xl">
                <img class="roundx-one" src="../assets/images/icon/shap4.png" alt="icon">
                <h5 class="text-center">About Us</h5>
                <img class="roundx-two" src="../assets/images/icon/shape5.png" alt="icon">
            </div>
        </div>
        <h2 class="text-center font-manrope text-nw40 md:leading-[48px]">BenFit's Journey Through the Years</h2>
    </div>
    <div class="col-span-full sm:col-span-3 border border-nb30 bg-nb20 rounded-xl px-3 py-6 md:p-6 text-center">
        <span class="rounded-md px-8 py-2 bg-[#282828] inline-block font-medium">
            2019
        </span>
        <h5 class="font-manrope my-3 text-nw20">Our Humble Beginnings</h5>
        <p>Founded in 2019, BenFit started as a small    provide a fitness environment that's not just about exercise but about building a supportive community.</p>
    </div>
    <div class="col-span-full sm:col-span-3 border border-nb30 bg-nb20 rounded-xl px-3 py-6 md:p-6 text-center">
        <span class="rounded-md px-8 py-2 bg-[#282828] inline-block font-medium">
            2020
        </span>
        <h5 class="font-manrope my-3 text-nw20">The Evolution</h5>
        <p>Over the years, BenFit has evolved into a equipment, and assemble a team of certified trainers who share our passion for health and wellness.</p>
    </div>
    <div class="col-span-full sm:col-span-3 border border-nb30 bg-nb20 rounded-xl px-3 py-6 md:p-6 text-center">
        <span class="rounded-md px-8 py-2 bg-[#282828] inline-block font-medium">
            2021
        </span>
        <h5 class="font-manrope my-3 text-nw20">Transformed 1000+ Members</h5>
        <p>At the heart of BenFit's success is our milestones, form lasting friendships, and  created a space where everyone feels  regardless of their fitness level.</p>
    </div>
    <div class="col-span-full sm:col-span-3 border border-nb30 bg-nb20 rounded-xl px-3 py-6 md:p-6 text-center">
        <span class="rounded-md px-8 py-2 bg-[#282828] inline-block font-medium">
            2022
        </span>
        <h5 class="font-manrope my-3 text-nw20">20+ Professional Trainer Family</h5>
        <p>Our journey wouldn't be complete without  a wealth of knowledge and a commitment  mentors, motivators, and partners in your fitness journey.</p>
    </div>
    <div class="col-span-full sm:col-span-3 border border-nb30 bg-nb20 rounded-xl px-3 py-6 md:p-6 text-center">
        <span class="rounded-md px-8 py-2 bg-[#282828] inline-block font-medium">
            2023
        </span>
        <h5 class="font-manrope my-3 text-nw20">Celebrating Milestones</h5>
        <p>At the heart of BenFit's success is our milestones, form lasting friendships, and  created a space where everyone feels  regardless of their fitness level.</p>
    </div>
    <div class="col-span-full sm:col-span-3 border border-nb30 bg-nb20 rounded-xl px-3 py-6 md:p-6 text-center">
        <span class="rounded-md px-8 py-2 bg-[#282828] inline-block font-medium">
            2024
        </span>
        <h5 class="font-manrope my-3 text-nw20">Giving Back</h5>
        <p>Beyond the gym walls, BenFit is committed  fitness challenges, and community outreach, we aim to make a positive impact beyond the weights and treadmills.</p>
    </div>
</div>