<div class="overflow-hidden">
    <div class="xxxl:fixed max-w-[766px]">
      <div class="swiper-areas relative">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper overflow-hidden">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class=" h-[400px] sm:h-[480px] lg:h-[640px] xl:h-[768] xxl:h-[800px] xxxl:h-[1033px] max-w-[766px]">
              <video class="w-full  h-[400px] sm:h-[480px] lg:h-[640px] xl:h-[768] xxl:h-[800px] xxxl:h-[1033px] object-cover rounded-3xl" muted loop autoplay>
                <source src="https://softivuspro.com/rest/workout%202.mp4" type="video/mp4">
              </video>
            </div>
          </div>
          <div class="swiper-slide con2">
            <div class="">
              <img src="../assets/images/hero-slider-one.png" alt="Image">
            </div>
          </div>
          <div class="swiper-slide con3">
            <div class=" h-[400px] sm:h-[480px] lg:h-[640px] xl:h-[768] xxl:h-[800px] xxxl:h-[1033px] max-w-[766px]">
              <video class="w-full  h-[400px] sm:h-[480px] lg:h-[640px] xl:h-[768] xxl:h-[800px] xxxl:h-[1033px] object-cover rounded-3xl" muted loop autoplay>
                <source src="https://softivuspro.com/rest/workout%201.mp4" type="video/mp4">
              </video>
            </div>
          </div>
          <div class="swiper-slide con4">
            <div class="">
              <img src="../assets/images/hero-slider-three.png" alt="Image">
            </div>
          </div>
          <div class="swiper-slide con5">
            <div class=" h-[400px] sm:h-[480px] lg:h-[640px] xl:h-[768] xxl:h-[800px] xxxl:h-[1033px] max-w-[766px]">
              <video class="w-full  h-[400px] sm:h-[480px] lg:h-[640px] xl:h-[768] xxl:h-[800px] xxxl:h-[1033px] object-cover rounded-3xl" muted loop autoplay>
                <source src="https://softivuspro.com/rest/workout%203.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination absolute top-[80%] left-0 z-50"></div>

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>
    </div>
  </div>