<div class="p-3 sm:p-6 border border-nb30 rounded-3xl mb-6 md:mb-8 lg:mb-10">
    <div class="swiper brad-carousel">
      <div class="swiper-wrapper flex">
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3">
              <img class="roundx-one" src="../assets/images/icon/shape53.png" alt="Icon">
              <span class="flex gap-2 text-lg">Strength, <span class="text-primary text-lg">Stamina,</span> Success</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3">
              <img class="roundx-two" src="../assets/images/icon/shape54.png" alt="Icon">
              <span class="flex gap-2 text-lg font-normal">Strength, <span class="text-secondary1 text-lg">Stamina,</span>
                Success</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3">
              <img class="roundx-one" src="../assets/images/icon/shape53.png" alt="Icon">
              <span class="flex gap-2 text-lg">Strength, <span class="text-primary text-lg">Stamina,</span> Success</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3">
              <img class="roundx-two" src="../assets/images/icon/shape54.png" alt="Icon">
              <span class="flex gap-2 text-lg">Strength, <span class="text-secondary1 text-lg">Stamina,</span>
                Success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>