<div class="grid grid-cols-6 gap-3 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 singletab bg-nb20">
    <div class="col-span-full border border-nb30 rounded-xl py-4 md:py-6 px-4 md:px-6 lg:px-8 mb-2 sm:mb-3">
        <div class="flex justify-center mb-6 md:mb-8">
            <div
                class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center justify-center gap-3 rounded-3xl">
                <img class="roundx-one" src="../assets/images/icon/shap4.png" alt="icon">
                <h5 class="text-center">Our Membership</h5>
                <img class="roundx-two" src="../assets/images/icon/shape5.png" alt="icon">
            </div>
        </div>
        <div class="">
            <ul class="tablinks flex items-center justify-between gap-3 md:gap-5 flex-wrap md:flex-nowrap xxl:flex-wrap xxxl:flex-nowrap">
                <li class="nav-links border border-nb30 rounded-xl xxl:px-6 py-4 w-full text-center active">
                    <button class="tablink text-lg font-semibold">Basic Plan</button>
                </li>
                <li class="nav-links border border-nb30 rounded-xl xxl:px-6 py-4 w-full text-center">
                    <button class="tablink text-lg font-semibold">Premium Plan</button>
                </li>
                <li class="nav-links border border-nb30 rounded-xl xxl:px-6 py-4 w-full text-center">
                    <button class="tablink text-lg font-semibold">Elite Plan</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-span-full">
        <div class="border border-nb30 rounded-3xl p-3 md:p-6">
            <div class="tabcontents">
                <div class="tabitem active flex flex-col gap-3">
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Access to Gym Facilites</span>
                            <span class="font-semibold text-lg">Unlimited</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Access to Workshops</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Health Consult</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Priority Booking for Classes</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Class Discounts</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Fitness Assessment</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Priority</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Price</span>
                            <span class="font-semibold text-lg">$129 per month</span>
                        </div>
                    </div>
                </div>
                <div class="tabitem flex flex-col gap-3">
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Access to Gym Facilites</span>
                            <span class="font-semibold text-lg">Unlimited</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Access to Workshops</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Health Consult</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Priority Booking for Classes</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Class Discounts</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Fitness Assessment</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Priority</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Price</span>
                            <span class="font-semibold text-lg">$129 per month</span>
                        </div>
                    </div>
                </div>
                <div class="tabitem flex flex-col gap-3">
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Access to Gym Facilites</span>
                            <span class="font-semibold text-lg">Unlimited</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Access to Workshops</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Health Consult</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Priority Booking for Classes</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Class Discounts</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Personal Fitness Assessment</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-wrap sm:flex-nowrap">
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Priority</span>
                            <span class="font-semibold text-lg">Yes</span>
                        </div>
                        <div class="px-3 sm:px-6 py-4 border border-nb30 rounded-xl w-full">
                            <span class="mb-3">Price</span>
                            <span class="font-semibold text-lg">$129 per month</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>