<div class="grid grid-cols-6 gap-3 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 bg-nb20">
    <div class="col-span-full border border-nb30 rounded-xl py-4 md:py-6 px-4 md:px-6 lg:px-8 mb-2 sm:mb-3">
        <div class="flex justify-center mb-4 md:mb-5">
            <div
                class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center justify-center gap-3 rounded-3xl">
                <img class="roundx-one" src="../assets/images/icon/shap4.png" alt="icon">
                <h5 class="text-center">FAQ’s</h5>
                <img class="roundx-two" src="../assets/images/icon/shape5.png" alt="icon">
            </div>
        </div>
        <h2 class="text-center font-manrope text-nw40 md:leading-[48px]">Frequently Asked Questions</h2>
    </div>
    <div class="col-span-full bg-at10 rounded-3xl rewards_faq">
        <div class="accordion-section">
            <div class="accordion-single accsingle mb-3 rounded-xl border border-nb30 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between  rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold md:text-xl text-nw40"
                        type="button">
                        What are your membership options?
                    </button>
                    <button class="arrowclickable">
                        <i class="ph-bold ph-plus border-2 border-nw10 sm:p-1 rounded-full flex text-at10 text-lg"></i>
                        <i class="ph-bold ph-minus border-2 border-nw10 sm:p-1 rounded-full text-at10 hidden text-lg"></i>
                    </button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-normal md:text-lg w-[90%]">Our cancellation policy varies depending on the
                            service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-single accsingle mb-3 rounded-xl border border-nb30 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between  rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold md:text-xl text-nw40"
                        type="button">
                        Do you offer a free trial or guest pass?
                    </button>
                    <button class="arrowclickable">
                        <i class="ph-bold ph-plus border-2 border-nw10 sm:p-1 rounded-full flex text-at10 text-lg"></i>
                        <i class="ph-bold ph-minus border-2 border-nw10 sm:p-1 rounded-full text-at10 hidden text-lg"></i>
                    </button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-normal md:text-lg w-[90%]">Our cancellation policy varies depending on the
                            service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-single accsingle mb-3 rounded-xl border border-nb30 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between  rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold md:text-xl text-nw40"
                        type="button">
                        What fitness classes do you offer?
                    </button>
                    <button class="arrowclickable">
                        <i class="ph-bold ph-plus border-2 border-nw10 sm:p-1 rounded-full flex text-at10 text-lg"></i>
                        <i class="ph-bold ph-minus border-2 border-nw10 sm:p-1 rounded-full text-at10 hidden text-lg"></i>
                    </button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-normal md:text-lg w-[90%]">Our cancellation policy varies depending on the
                            service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-single accsingle mb-3 rounded-xl border border-nb30 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between  rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold md:text-xl text-nw40"
                        type="button">
                        What amenities do you have at the gym?
                    </button>
                    <button class="arrowclickable">
                        <i class="ph-bold ph-plus border-2 border-nw10 sm:p-1 rounded-full flex text-at10 text-lg"></i>
                        <i class="ph-bold ph-minus border-2 border-nw10 sm:p-1 rounded-full text-at10 hidden text-lg"></i>
                    </button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-normal md:text-lg w-[90%]">Our cancellation policy varies depending on the
                            service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-single accsingle rounded-xl border border-nb30 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold md:text-xl text-nw40"
                        type="button">
                        What safety measures do you have in place?
                    </button>
                    <button class="arrowclickable">
                        <i class="ph-bold ph-plus border-2 border-nw10 sm:p-1 rounded-full flex text-at10 text-lg"></i>
                        <i class="ph-bold ph-minus border-2 border-nw10 sm:p-1 rounded-full text-at10 hidden text-lg"></i>
                    </button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-normal md:text-lg w-[90%]">Our cancellation policy varies depending on the
                            service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>