<div class="grid grid-cols-6 gap-3 border border-nb30 rounded-xl px-3 md:px-6 4xl:px-0 bg-nb20">
    <div class="col-span-full mb-8">
        <div class="relative inline-block sm:block left-[50%] translate-x-[-50%]">
            <div class="trapezoid"></div>
            <div class="flex items-center justify-center gap-0 sm:gap-1 md:gap-3 absolute top-[20%] left-[25%] sm:left-[35%] md:left-[40%]">
                <div class="">
                    <img class="w-[80%]" src="../../assets/images/logofooter.png" alt="logo">
                </div>
                <h3 class="font-manrope text-nw40">BenFit</h3>
            </div>
        </div>
    </div>
    <div class="col-span-full">
        <div class="pb-8 border-b border-nb30">
            <ul class="flex gap-1 justify-center items-center flex-wrap">
                <li class="px-4 sm:px-6 md:px-8 py-2 sm:py-3 rounded-lg border border-nb30 btnstyle hover:text-nb10">
                    <a class="sm:text-lg font-medium" href="../../index.html">Home</a>
                </li>
                <li class="px-4 sm:px-6 md:px-8 py-2 sm:py-3 rounded-lg border border-nb30 btnstyle hover:text-nb10">
                    <a class="sm:text-lg font-medium" href="../../about.html">About</a>
                </li>
                <li class="px-4 sm:px-6 md:px-8 py-2 sm:py-3 rounded-lg border border-nb30 btnstyle hover:text-nb10">
                    <a class="sm:text-lg font-medium" href="../../membership.html">Membership</a>
                </li>
                <li class="px-4 sm:px-6 md:px-8 py-2 sm:py-3 rounded-lg border border-nb30 btnstyle hover:text-nb10">
                    <a class="sm:text-lg font-medium" href="../../classes.html">Classes</a>
                </li>
                <li class="px-4 sm:px-6 md:px-8 py-2 sm:py-3 rounded-lg border border-nb30 btnstyle hover:text-nb10">
                    <a class="sm:text-lg font-medium" href="../../contact-us.html">Contact</a>
                </li>
            </ul>
        </div>
        <div class="grid grid-cols-12 py-8 border-b border-nb30 gap-4 sm:gap-0">
            <div class="col-span-full sm:col-span-6 4xl:col-span-7">
                <div class="pl-6">
                    <div class="flex gap-1 mb-3 sm:mb-4">
                        <span class="font-medium text-nw40 text-lg">BenFit GYM</span>
                        <span class="font-medium text-primary text-lg">Location:</span>
                    </div>
                    <p>Floor 2, 4 Naval St, Ancoats, Manchester <br class="hidden 4xl:block"> M4 6EW, United Kingdom</p>
                </div>
            </div>
            <div class="col-span-full sm:col-span-6 4xl:col-span-5">
                <div class="pl-6">
                    <div class="flex gap-1 mb-3 sm:mb-4">
                        <span class="font-medium text-nw40 text-lg">Contact</span>
                        <span class="font-medium text-primary text-lg">Information:</span>
                    </div>
                    <a class="mb-1 sm:mb-2 block" href="tel:0000000">(+163)-2547-31290</a>
                    <a class="block" href="mailto:xyz@abc.com">kenzi.lawson@example.com</a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 p-4 items-center justify-center sm:justify-between">
            <div class="col-span-full sm:col-span-6 4xl:col-span-4 order-last sm:order-none">
                <div class="flex items-center gap-1 justify-center sm:justify-start">
                    <span>Copyright @ 2024</span>
                    <a class="hover:text-primary duration-300 ease-out" href="#">BenFit</a>
                </div>
            </div>
            <div class="col-span-full 4xl:col-span-4 order-first 4xl:order-none mb-3 sm:mb-4 4xl:mb-0">
                <div class="flex gap-3 items-center justify-center sm:justify-start 4xl:justify-center">
                    <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:bg-primary hover:text-nb10 duration-500">
                        <i class="ph ph-twitter-logo text-2xl"></i>
                    </a>
                    <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:bg-primary hover:text-nb10 duration-500">
                        <i class="ph ph-instagram-logo text-2xl"></i>
                    </a>
                    <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:bg-primary hover:text-nb10 duration-500">
                        <i class="ph ph-facebook-logo text-2xl"></i>
                    </a>
                    <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:bg-primary hover:text-nb10 duration-500">
                        <i class="ph ph-linkedin-logo text-2xl"></i>
                    </a>
                </div>
            </div>
            <div class="col-span-full sm:col-span-6 4xl:col-span-4 mb-1 sm:mb-0">
                <div class="flex gap-1 justify-center sm:justify-end">
                    <span>Designed By</span>
                    <a href="#" class="text-primary underline">Pixelaxis</a>
                </div>
            </div>
        </div>
    </div>
</div>