<div class="grid grid-cols-6 gap-3 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 bg-nb20">
    <div class="col-span-full">
        <h4 class="mb-10 text-center">Get in touch</h4>
        <form action="" method="get">
            <div class="flex items-center gap-3 sm:gap-6 mb-3 sm:mb-6 flex-wrap sm:flex-nowrap">
                <input class="border border-nb30 placeholder:text-nw10" placeholder="Name" type="text">
                <input class="border border-nb30 placeholder:text-nw10" placeholder="Email" type="text">
            </div>
            <textarea class="mb-3 sm:mb-6 border border-nb30 placeholder:text-nw10" placeholder="Message" name="" id="" cols="10" rows="6"></textarea>
            <button class="w-full text-center bg-primary text-nb10 font-semibold p-3 rounded-xl" type="submit">Submit</button>
        </form>
    </div>
</div>