<div class="p-3 sm:p-6 border border-nb30 rounded-3xl mb-6 md:mb-8 lg:mb-10">
  <div class="swiper brad-carousel">
    <div class="swiper-wrapper flex">
      <div class="swiper-slide">
        <div class="items-wrapper">
          <div class="flex items-center gap-3">
            <img class="roundx-one" src="../assets/images/icon/shape53.png" alt="Icon">
            <span class="flex gap-2 text-lg">Strength, <span class="text-primary text-lg">Stamina,</span> Success</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="items-wrapper">
          <div class="flex items-center gap-3">
            <img class="roundx-two" src="../assets/images/icon/shape54.png" alt="Icon">
            <span class="flex gap-2 text-lg">Strength, <span class="text-secondary1 text-lg">Stamina,</span>
              Success</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="items-wrapper">
          <div class="flex items-center gap-3">
            <img class="roundx-one" src="../assets/images/icon/shape53.png" alt="Icon">
            <span class="flex gap-2 text-lg">Strength, <span class="text-primary text-lg">Stamina,</span> Success</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="items-wrapper">
          <div class="flex items-center gap-3">
            <img class="roundx-two" src="../assets/images/icon/shape54.png" alt="Icon">
            <span class="flex gap-2 text-lg">Strength, <span class="text-secondary1 text-lg">Stamina,</span>
              Success</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols-2 gap-6 mb-6 md:mb-10">
  <div class=" col-span-full sm:col-span-1 border border-nb30 rounded-3xl p-6 bg-nb20">
    <span class="mb-5 md:mb-6">Welcome To Benfit Gym</span>
    <h2 class="mb-6 sm:mb-8 md:mb-10 lg:mb-[60px] font-manrope text-nw40 lg:leading-10">Benfit Gym where we believe</h2>
    <div class="flex justify-between relative">
      <div class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center gap-3 rounded-3xl">
        <img class="roundx-one" src="../assets/images/icon/shape1.png" alt="icon">
        <h3>Fitness</h3>
        <img class="roundx-two" src="../assets/images/icon/shape2.png" alt="icon">
      </div>
      <div class="hidden lg:block">
        <img class="absolute -right-6 -bottom-6" src="../assets/images/icon/shape-14.png" alt="icon">
      </div>
    </div>
  </div>
  <div class="col-span-full sm:col-span-1">
    <div class="border border-nb30 rounded-3xl py-6 md:py-8 px-4 mb-5 md:mb-6 text-center bg-nb20">
      <span>
        <i class="ph ph-crown mb-3 md:mb-6 text-[40px]"></i>
      </span>
      <a class="text-xl font-bold" href="">Join Membership</a>
    </div>
    <div class="col-span-1 border border-nb30 rounded-3xl py-6 md:py-8 px-4 text-center bg-nb20">
      <span>
        <i class="ph ph-phone-call mb-3 md:mb-6 text-[40px]"></i>
      </span>
      <a class="text-xl font-bold" href="">Contact Us</a>
    </div>
  </div>
  <div class="col-span-full sm:col-span-2 border border-nb30 rounded-xl p-4 md:p-6 bg-nb20">
    <div class="py-4 md:py-6 px-4 sm:px-6 md:px-10 mb-4 md:mb-6 text-center border border-nb30 rounded-3xl">
      <h5 class="font-manrope">Stay Connected With Us</h5>
    </div>
    <div class="grid grid-cols-12 gap-3">
      <div
        class="col-span-full sm:col-span-6 md:col-span-4 xxl:col-span-6 xxxl:col-span-4 4xl:col-span-3 border border-nb30 rounded-3xl py-8 px-3 md:px-6 lg:px-8 bg-[#1C1C1C] text-center">
        <a href="#" class="rounded-xl px-3 pt-4 pb-2 bg-[#282828]">
          <i class="ph ph-twitter-logo text-2xl"></i>
        </a>
        <div class="flex items-center gap-2 pt-3 mb-6 md:mb-8 justify-center">
          <h4 class="font-manrope text-nw20 font-bold">2.6K</h4>
          <span class="text-lg">Followers</span>
        </div>
        <a class="py-2 px-5 rounded-lg text-base font-medium bg-nb30" href="#">Follow</a>
      </div>
      <div
        class="col-span-full sm:col-span-6 md:col-span-4 xxl:col-span-6 xxxl:col-span-4 4xl:col-span-3 border border-nb30 rounded-3xl py-8 px-3 md:px-6 lg:px-8 bg-[#1C1C1C] text-center">
        <a href="#" class="rounded-xl px-3 pt-4 pb-2 bg-[#282828]">
          <i class="ph ph-instagram-logo text-2xl"></i>
        </a>
        <div class="flex items-center gap-2 pt-3 mb-6 md:mb-8 justify-center">
          <h4 class="font-manrope text-nw20 font-bold">1.7K</h4>
          <span class="text-lg">Followers</span>
        </div>
        <a class="py-2 px-5 rounded-lg text-base font-medium bg-nb30" href="#">Follow</a>
      </div>
      <div
        class="col-span-full sm:col-span-6 md:col-span-4 xxl:col-span-6 xxxl:col-span-4 4xl:col-span-3 border border-nb30 rounded-3xl py-8 px-3 md:px-6 lg:px-8 bg-[#1C1C1C] text-center">
        <a href="#" class="rounded-xl px-3 pt-4 pb-2 bg-[#282828]">
          <i class="ph ph-facebook-logo text-2xl"></i>
        </a>
        <div class="flex items-center gap-2 pt-3 mb-6 md:mb-8 justify-center">
          <h4 class="font-manrope text-nw20 font-bold">4.3K</h4>
          <span class="text-lg">Followers</span>
        </div>
        <a class="py-2 px-5 rounded-lg text-base font-medium bg-nb30" href="#">Follow</a>
      </div>
      <div
        class="col-span-full sm:col-span-6 md:col-span-4 xxl:col-span-6 xxxl:col-span-4 4xl:col-span-3 border border-nb30 rounded-3xl py-8 px-3 md:px-6 lg:px-8 bg-[#1C1C1C] text-center">
        <a href="#" class="rounded-xl px-3 pt-4 pb-2 bg-[#282828]">
          <i class="ph ph-linkedin-logo text-2xl"></i>
        </a>
        <div class="flex items-center gap-2 pt-3 mb-6 md:mb-8 justify-center">
          <h4 class="font-manrope text-nw20 font-bold">5.2K</h4>
          <span class="text-lg">Followers</span>
        </div>
        <a class="py-2 px-5 rounded-lg text-base font-medium bg-nb30" href="#">Follow</a>
      </div>
    </div>
  </div>
</div>