<div class="grid grid-cols-6 gap-3 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 bg-nb20">
    <div class="col-span-full border border-nb30 rounded-xl py-4 md:py-6 px-4 md:px-6 lg:px-8 mb-2 sm:mb-3">
        <div class="flex justify-center mb-4 md:mb-5">
            <div
                class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center justify-center gap-3 rounded-3xl">
                <img class="roundx-one" src="../assets/images/icon/shap4.png" alt="icon">
                <h5 class="text-center">Our Values</h5>
                <img class="roundx-two" src="../assets/images/icon/shape5.png" alt="icon">
            </div>
        </div>
        <h2 class="text-center font-manrope text-nw40 md:leading-[48px]">Building Strong Foundations <br
                class="hidden 4xl:block">for Your Success</h2>
    </div>
    <div class="col-span-full">
        <div class="value-area overflow-hidden">
            <div class="box relative group rounded-2xl" id="box1">
                <div class="absolute bottom-3 left-3 opacity-0 group-hover:opacity-100 duration-300 max-w-[380px] 4xl:w-[380px] delay-75 bg-primary p-3 sm:p-5 rounded-xl">
                    <span class="text-center sm:text-start mb-3">
                        <i class="ph ph-trophy text-3xl text-nb10"></i>
                    </span>
                    <h5 class="text-nb10 mb-3 font-bold max-sm:text-center">Excellence</h5>
                    <p class="text-nb10 max-sm:text-center">Elevating Standards in Fitness We settle for nothing less than excellence at BenFit</p>
                </div>
            </div>
            <div class="box relative group rounded-2xl" id="box2">
                <div class="absolute bottom-3 left-3 opacity-0 group-hover:opacity-100 duration-300 max-w-[380px] 4xl:w-[380px] delay-75 bg-primary p-3 sm:p-5 rounded-xl">
                    <span class="text-center sm:text-start mb-3">
                        <i class="ph ph-balloon text-3xl text-nb10"></i>
                    </span>
                    <h5 class="text-nb10 mb-3 font-bold max-sm:text-center">Inclusivity</h5>
                    <p class="text-nb10 max-sm:text-center">Embracing Diversity, Fostering Belonging At BenFit Gym, we celebrate the beauty of diversity</p>
                </div>
            </div>
            <div class="box relative group rounded-2xl" id="box3">
                <div class="absolute bottom-3 left-3 opacity-0 group-hover:opacity-100 duration-300 max-w-[380px] 4xl:w-[380px] delay-75 bg-primary p-3 sm:p-5 rounded-xl">
                    <span class="text-center sm:text-start mb-3">
                        <i class="ph ph-star text-3xl text-nb10"></i>
                    </span>
                    <h5 class="text-nb10 mb-3 font-bold max-sm:text-center">Integrity</h5>
                    <p class="text-nb10 max-sm:text-center">Igniting Fire Within Passion is the heartbeat of LiftFit and team of certified trainers</p>
                </div>
            </div>
        </div>
    </div>
</div>