<div class="grid grid-cols-6 gap-6 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 bg-nb20">
    <div class="col-span-full border border-nb30 rounded-xl py-4 md:py-6 px-4 md:px-6 lg:px-8 mb-2 sm:mb-3">
        <div class="flex justify-center mb-4 md:mb-5">
            <div
                class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center justify-center gap-3 rounded-3xl">
                <img class="roundx-one" src="../assets/images/icon/shap4.png" alt="icon">
                <h5 class="text-center">Our Trainers</h5>
                <img class="roundx-two" src="../assets/images/icon/shape5.png" alt="icon">
            </div>
        </div>
        <h2 class="text-center font-manrope text-nw40 md:leading-[48px]">Meet Our Dedicated Team of Fitness Experts</h2>
    </div>
    <div class="col-span-full lg:col-span-3 xxl:col-span-full xxxl:col-span-3 bg-nb20 border border-nb30 rounded-xl text-center overflow-hidden">
        <div class="text-center pt-8 relative">
            <div class="flex justify-center relative">
                <img src="../../assets/images/trainer-one.png" alt="Image">
                <div class="flex absolute bottom-8 common_areaname">
                    <span class="py-2.5 px-8 bg-nb30 rounded-full text-nowrap text-lg font-medium">Dul Malam</span>
                    <button class="p-3 rounded-full bg-nb30 flex common_toggles">
                        <i class="ph-bold ph-plus text-2xl"></i>
                    </button>
                </div>
            </div>
            <div class="common_area absolute top-0 sm:top-8 left-[6%] sm:left-[10%] md:left-[20%] lg:left-[6%] xxl:left-[20%] xxxl:left-[6%] max-w-[355px]">
                <div class="p-2 sm:p-5 rounded-xl border border-nb30 bg-primary">
                    <h5 class="mb-3.5 text-nb10">Dul Malam</h5>
                    <div class="flex gap-2 mb-3 sm:mb-4 justify-center flex-wrap sm:flex-nowrap">
                        <span class="px-2 sm:px-4 py-2 sm:py-3 rounded-lg border border-nb30 bg-nb20">Strength Training</span>
                        <span class="px-2 sm:px-4 py-2 sm:py-3 rounded-lg border border-nb30 bg-nb20">Exp. 7 Years</span>
                    </div>
                    <p class="mb-3 sm:mb-6 md:mb-8 text-nb10">Beyond the gym walls, BenFit is committed to giving back to the community. Through  fitness challenges, and community</p>
                    <div class="flex gap-3 items-center justify-center">
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-twitter-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-instagram-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-facebook-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-linkedin-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                    </div>
                </div>
                <button class="p-3 rounded-full bg-primary flex common_toggles mt-4 sm:mt-8 mx-auto">
                    <i class="ph-bold ph-minus text-2xl text-nb10"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-span-full lg:col-span-3 xxl:col-span-full xxxl:col-span-3 bg-nb20 border border-nb30 rounded-xl text-center overflow-hidden">
        <div class="text-center pt-8 relative">
            <div class="flex justify-center relative">
                <img src="../../assets/images/trainer-two.png" alt="Image">
                <div class="flex absolute bottom-8 common_areaname2">
                    <span class="py-2.5 px-8 bg-nb30 rounded-full text-nowrap text-lg font-medium">Rikta Malam</span>
                    <button class="p-3 rounded-full bg-nb30 flex common_toggles2">
                        <i class="ph-bold ph-plus text-2xl"></i>
                    </button>
                </div>
            </div>
            <div class="common_area2 absolute top-0 sm:top-8 left-[6%] sm:left-[10%] md:left-[20%] lg:left-[6%] xxl:left-[20%] xxxl:left-[6%] max-w-[355px]">
                <div class="p-2 sm:p-5 rounded-xl border border-nb30 bg-primary">
                    <h5 class="mb-3.5 text-nb10">Rikta Malam</h5>
                    <div class="flex gap-2 mb-3 sm:mb-4 justify-center flex-wrap sm:flex-nowrap">
                        <span class="px-2 sm:px-4 py-2 sm:py-3 rounded-lg border border-nb30 bg-nb20">Strength Training</span>
                        <span class="px-2 sm:px-4 py-2 sm:py-3 rounded-lg border border-nb30 bg-nb20">Exp. 7 Years</span>
                    </div>
                    <p class="mb-3 sm:mb-6 md:mb-8 text-nb10">Beyond the gym walls, BenFit is committed to giving back to the community. Through  fitness challenges, and community</p>
                    <div class="flex gap-3 items-center justify-center">
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-twitter-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-instagram-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-facebook-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-linkedin-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                    </div>
                </div>
                <button class="p-3 rounded-full bg-primary flex common_toggles2 mt-4 sm:mt-8 mx-auto">
                    <i class="ph-bold ph-minus text-2xl text-nb10"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-span-full lg:col-span-3 xxl:col-span-full xxxl:col-span-3 bg-nb20 border border-nb30 rounded-xl text-center overflow-hidden">
        <div class="text-center pt-8 relative">
            <div class="flex justify-center relative">
                <img src="../../assets/images/trainer-three.png" alt="Image">
                <div class="flex absolute bottom-8 common_areaname3">
                    <span class="py-2.5 px-8 bg-nb30 rounded-full text-nowrap text-lg font-medium">Rikta Malam</span>
                    <button class="p-3 rounded-full bg-nb30 flex common_toggles3">
                        <i class="ph-bold ph-plus text-2xl"></i>
                    </button>
                </div>
            </div>
            <div class="common_area3 absolute top-0 sm:top-8 left-[6%] sm:left-[10%] md:left-[20%] lg:left-[6%] xxl:left-[20%] xxxl:left-[6%] max-w-[355px]">
                <div class="p-2 sm:p-5 rounded-xl border border-nb30 bg-primary">
                    <h5 class="mb-3.5 text-nb10">Rikta Malam</h5>
                    <div class="flex gap-2 mb-3 sm:mb-4 justify-center flex-wrap sm:flex-nowrap">
                        <span class="px-2 sm:px-4 py-2 sm:py-3 rounded-lg border border-nb30 bg-nb20">Strength Training</span>
                        <span class="px-2 sm:px-4 py-2 sm:py-3 rounded-lg border border-nb30 bg-nb20">Exp. 7 Years</span>
                    </div>
                    <p class="mb-3 sm:mb-6 md:mb-8 text-nb10">Beyond the gym walls, BenFit is committed to giving back to the community. Through  fitness challenges, and community</p>
                    <div class="flex gap-3 items-center justify-center">
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-twitter-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-instagram-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-facebook-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-linkedin-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                    </div>
                </div>
                <button class="p-3 rounded-full bg-primary flex common_toggles3 mt-4 sm:mt-8 mx-auto">
                    <i class="ph-bold ph-minus text-2xl text-nb10"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-span-full lg:col-span-3 xxl:col-span-full xxxl:col-span-3 bg-nb20 border border-nb30 rounded-xl text-center overflow-hidden">
        <div class="text-center pt-8 relative">
            <div class="flex justify-center relative">
                <img src="../../assets/images/trainer-four.png" alt="Image">
                <div class="flex absolute bottom-8 common_areaname4">
                    <span class="py-2.5 px-8 bg-nb30 rounded-full text-nowrap text-lg font-medium">Pranto Malam</span>
                    <button class="p-3 rounded-full bg-nb30 flex common_toggles4">
                        <i class="ph-bold ph-plus text-2xl"></i>
                    </button>
                </div>
            </div>
            <div class="common_area4 absolute top-0 sm:top-8 left-[6%] sm:left-[10%] md:left-[20%] lg:left-[6%] xxl:left-[20%] xxxl:left-[6%] max-w-[355px]">
                <div class="p-2 sm:p-5 rounded-xl border border-nb30 bg-primary">
                    <h5 class="mb-3.5 text-nb10">Pranto Malam</h5>
                    <div class="flex gap-2 mb-3 sm:mb-4 justify-center flex-wrap sm:flex-nowrap">
                        <span class="px-2 sm:px-4 py-2 sm:py-3 rounded-lg border border-nb30 bg-nb20">Strength Training</span>
                        <span class="px-2 sm:px-4 py-2 sm:py-3 rounded-lg border border-nb30 bg-nb20">Exp. 7 Years</span>
                    </div>
                    <p class="mb-3 sm:mb-6 md:mb-8 text-nb10">Beyond the gym walls, BenFit is committed to giving back to the community. Through  fitness challenges, and community</p>
                    <div class="flex gap-3 items-center justify-center">
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-twitter-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-instagram-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-facebook-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                        <a href="#" class="rounded-xl px-2 pt-2 pb-1 border border-nb30 hover:border-secondary1 hover:bg-secondary1 group hover:text-nb10 duration-500">
                            <i class="ph ph-linkedin-logo text-2xl text-nb10 group-hover:text-nw20"></i>
                        </a>
                    </div>
                </div>
                <button class="p-3 rounded-full bg-primary flex common_toggles4 mt-4 sm:mt-8 mx-auto">
                    <i class="ph-bold ph-minus text-2xl text-nb10"></i>
                </button>
            </div>
        </div>
    </div>
</div>