<div class="grid grid-cols-6 gap-3 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 bg-nb20">
    <div class="col-span-full border border-nb30 rounded-xl py-4 md:py-6 px-4 md:px-6 lg:px-8 mb-2 sm:mb-3">
        <div class="flex justify-center mb-4 md:mb-5">
            <div
                class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center justify-center gap-3 rounded-3xl">
                <img class="roundx-one" src="../assets/images/icon/shap4.png" alt="icon">
                <h5 class="text-center">Sign-up Process</h5>
                <img class="roundx-two" src="../assets/images/icon/shape5.png" alt="icon">
            </div>
        </div>
        <h2 class="text-center font-manrope text-nw40 md:leading-[48px]">Joining BenFit Gym is simple and hassle-free.</h2>
    </div>
    <div class="col-span-full">
        <div class="value-area2 flex flex-col md:flex-row justify-center overflow-hidden">
            <div class="boxx relative group rounded-xl" id="boxx1">
                <div class="absolute opacity-0 group-hover:opacity-100 duration-300 h-full w-full lg:max-w-[380px] 4xl:w-[408px] delay-75 bg-primary p-3 sm:p-5 rounded-xl">
                    <h5 class="text-start mb-6 text-nb10">01</h5>
                    <h3 class="text-nb10 mb-3 font-bold">Schedule a Tour</h3>
                    <p class="text-nb10 mb-6 md:mb-28 xxl:mb-14 xxxl:mb-20 4xl:mb-28 text-xl">Come and explore our gym! Schedule a tour to see our state-of-the-art facilities</p>
                    <div class="flex justify-end">
                        <a href=""><i class="ph ph-arrow-line-up-right text-nb10 text-5xl"></i></a>
                    </div>
                </div>
            </div>
            <div class="boxx relative group rounded-xl" id="boxx2">
                <div class="absolute opacity-0 group-hover:opacity-100 duration-300 h-full w-full lg:max-w-[380px] 4xl:w-[408px] delay-75 bg-primary p-3 sm:p-5 rounded-xl">
                    <h5 class="text-start mb-6 text-nb10">02</h5>
                    <h3 class="text-nb10 mb-3 font-bold">Fill Out the Form</h3>
                    <p class="text-nb10 mb-6 md:mb-28 xxl:mb-14 xxxl:mb-20 4xl:mb-28 text-xl">Complete the membership sign-up form with your personal details and interests</p>
                    <div class="flex justify-end">
                        <a href=""><i class="ph ph-arrow-line-up-right text-nb10 text-5xl"></i></a>
                    </div>
                </div>
            </div>
            <div class="boxx relative group rounded-xl" id="boxx3">
                <div class="absolute opacity-0 group-hover:opacity-100 duration-300 h-full w-full lg:max-w-[380px] 4xl:w-[408px] delay-75 bg-primary p-3 sm:p-5 rounded-xl">
                    <h5 class="text-start mb-6 text-nb10">03</h5>
                    <h3 class="text-nb10 mb-3 font-bold">Start Your Fitness Journey</h3>
                    <p class="text-nb10 mb-6 md:mb-28 xxl:mb-14 xxxl:mb-20 4xl:mb-28 text-xl">Once your membership is activated, you can start attending classes, facilities</p>
                    <div class="flex justify-end">
                        <a href=""><i class="ph ph-arrow-line-up-right text-nb10 text-5xl"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>