<div class="grid grid-cols-6 gap-3 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 bg-nb20">
    <div class="col-span-full rounded-xl mb-2 sm:mb-3">
        <div class="flex justify-center">
            <div
                class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center justify-center gap-3 rounded-3xl">
                <img class="roundx-one" src="../assets/images/icon/shap4.png" alt="icon">
                <h5 class="text-center">Stay Fit</h5>
                <img class="roundx-two" src="../assets/images/icon/shape5.png" alt="icon">
            </div>
        </div>
        <h2 class="text-center font-manrope text-nw40 md:leading-[48px] my-6 md:my-8">Ready to Take the First Step
            Towards a Healthier You?</h2>
        <div class="flex justify-center mb-5">
            <img class="rounded-full border-4 border-nb10 max-w-full" src="../../assets/images/stay-one.png" alt="Image">
            <img class="rounded-full border-4 border-nb10 -ml-5 max-w-full" src="../../assets/images/stay-two.png" alt="Image">
            <img class="rounded-full border-4 border-nb10 -ml-5 max-w-full" src="../../assets/images/stay-three.png" alt="Image">
            <img class="rounded-full border-4 border-nb10 -ml-5 hidden sm:block max-w-full" src="../../assets/images/stay-four.png" alt="Image">
            <img class="rounded-full border-4 border-nb10 -ml-5 hidden sm:block max-w-full" src="../../assets/images/stay-five.png" alt="Image">
            <img class="rounded-full border-4 border-nb10 -ml-5 hidden sm:block max-w-full" src="../../assets/images/stay-six.png" alt="Image">
        </div>
        <span class="text-xl font-medium text-center mb-6 md:mb-8">Join 10k+ Members</span>
        <div class="text-center">
            <div class="text-center bg-nb30 inline-block rounded-lg">
                <a class="py-3 px-5 font-medium text-lg text-nw20 items-center flex gap-2" href="#"><i class="ph-bold ph-crown-simple text-secondary1"></i>Join Membership</a>
            </div>
        </div>
    </div>
</div>