<div class="grid grid-cols-6 gap-3 border border-nb30 rounded-xl p-3 md:p-6 mb-6 md:mb-8 lg:mb-10 bg-nb20">
    <div class="col-span-full border border-nb30 rounded-xl py-4 md:py-6 px-4 md:px-6 lg:px-8 mb-2 sm:mb-3">
        <div class="flex justify-center mb-4 md:mb-5">
            <div
                class="border border-nb30 py-3 md:py-4 px-4 md:px-6 flex items-center justify-center gap-3 rounded-3xl">
                <img class="roundx-one" src="../assets/images/icon/shap4.png" alt="icon">
                <h5 class="text-center">Testimonials</h5>
                <img class="roundx-two" src="../assets/images/icon/shape5.png" alt="icon">
            </div>
        </div>
        <h2 class="text-center font-manrope text-nw40 md:leading-[48px]">Hear From Our Happy <br
                class="hidden 4xl:block"> Members</h2>
    </div>
    <div class="col-span-full">
        <div class="grid grid-cols-12">
            <div class="col-span-full 4xl:col-span-8">
                <div class="py-4 sm:py-9 px-3 sm:px-6 border border-nb30 rounded-xl">
                    <div class="swiper testimonial_slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="items-wrapper">
                                    <div class="text-center">
                                        <div class="flex items-center justify-center gap-1 mb-4 md:mb-6">
                                            <i class="ph-fill ph-star text-2xl text-secondary1"></i>
                                            <i class="ph-fill ph-star text-2xl text-secondary1"></i>
                                            <i class="ph-fill ph-star text-2xl text-secondary1"></i>
                                            <i class="ph-fill ph-star text-2xl text-secondary1"></i>
                                            <i class="ph-fill ph-star text-2xl text-secondary1"></i>
                                        </div>
                                        <p class="text-base md:text-lg font-normal">I had hit a plateau in my fitness
                                            journey until I
                                            discovered BenFit. The personal trainers helped me break through and achieve
                                            results I never thought possible. I'm grateful for this knowledgeable. It's
                                            not just about physical fitness; they genuinely care about your well-being.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-full 4xl:col-span-4">
                <div class="">
                    <div class="flex items-center justify-center mb-0 md:-mb-1">
                        <div class="testimonial_slider_btn pb-4 pt-2">
                            <div class="slider-btn flex justify-between mt-3">
                                <button type="button" aria-label="Slide Prev" class="ara-prev w-full">
                                    <i
                                        class="ph ph-arrow-left text-6xl rounded-2xl font-medium border border-nb30 py-4 px-7 sm:px-[38px]"></i>
                                </button>
                                <button type="button" aria-label="Slide Next" class="ara-next w-full">
                                    <i
                                        class="ph ph-arrow-right text-6xl rounded-2xl font-medium border border-nb30 py-4 px-7 sm:px-[38px]"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="border border-nb30 rounded-xl py-7 px-10">
                        <div class="swiper testimonial_slidex">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="items-wrapper">
                                        <div class="">
                                            <div class="flex justify-center items-center mb-5">
                                                <img class="rounded-full" src="../../assets/images/dianne-russell.png"
                                                    alt="Image">
                                            </div>
                                            <span class="text-lg font-medium mb-1 text-nw40">Dianne Russell</span>
                                            <span class="text-base font-normal">Founder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>