<div
class="container bg-nc10 px-5 md:px-10 lg:px-[50px] py-8 md:py-10 lg:py-[60px] rounded-3xl mb-8 md:mb-10 lg:mb-[50px]">
<div class="swiper brad-carousel">
  <div class="swiper-wrapper flex">
    <div class="swiper-slide">
      <div class="items-wrapper">
        <img src="../assets/images/brad-carousel-01.png" alt="Icon">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="items-wrapper">
        <img src="../assets/images/brad-carousel-02.png" alt="Icon">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="items-wrapper">
        <img src="../assets/images/brad-carousel-03.png" alt="Icon">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="items-wrapper">
        <img src="../assets/images/brad-carousel-04.png" alt="Icon">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="items-wrapper">
        <img src="../assets/images/brad-carousel-05.png" alt="Icon">
      </div>
    </div>
  </div>
</div>
</div>