<section class="py-8 md:py-10 lg:py-[50px]">
    <div class="container px-3 py-6 sm:p-6 md:p-10 lg:p-[60px] bg-nc40 rounded-3xl">
      <div class="grid grid-cols-12 gap-4 lg:gap-6">
        <div class="col-span-full">
          <span class="display-1 mb-3 md:mb-4 text-center" data-aos="zoom-in" data-aos-duration="2000">Got any Creative
            Projects on your Mind?</span>
          <p class="text-lg text-center">We have a feeling that this is the beginning of something wonderful. Send us an
            email with your project needs, and we’ll get back to you within 1-2 business days (probably sooner).</p>
        </div>
        <div class="col-span-full sm:col-span-6 lg:col-span-4">
          <div
            class="border border-nc30 rounded-3xl px-3 sm:px-6 md:px-8 lg:px-10 py-4 sm:py-7 md:py-9 lg:py-12 text-center"
            data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="1000" data-aos-delay="0"
            data-aos-offset="0">
            <span class="size-[80px] p-3 md:p-5 bg-[#99c3061a] rounded-full d-center mx-auto mb-4 md:mb-6">
              <i class="ph-fill ph-chats text-3xl text-secondary1"></i>
            </span>
            <h3 class="mb-3">Chat to support</h3>
            <span class="mb-4 md:mb-6">Speak to our friendly team.</span>
            <a href="mailto:support@servibe.com" class="">support@servibe.com</a>
          </div>
        </div>
        <div class="col-span-full sm:col-span-6 lg:col-span-4">
          <div
            class="border border-nc30 rounded-3xl px-3 sm:px-6 md:px-8 lg:px-10 py-4 sm:py-7 md:py-9 lg:py-12 text-center"
            data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="1000" data-aos-delay="0"
            data-aos-offset="0">
            <span class="size-[80px] p-3 md:p-5 bg-[#99c3061a] rounded-full d-center mx-auto mb-4 md:mb-6">
              <i class="ph-fill ph-map-pin text-3xl text-secondary1"></i>
            </span>
            <h3 class="mb-3">Visit us</h3>
            <span class="mb-4 md:mb-6">Visit our office HQ.</span>
            <a href="https://maps.app.goo.gl/bE7DRDm1bsN8nGSp9" target="_blank" class="">View on Google Maps</a>
          </div>
        </div>
        <div class="col-span-full sm:col-span-6 lg:col-span-4">
          <div
            class="border border-nc30 rounded-3xl px-3 sm:px-6 md:px-8 lg:px-10 py-4 sm:py-7 md:py-9 lg:py-12 text-center"
            data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="1000" data-aos-delay="0"
            data-aos-offset="0">
            <span class="size-[80px] p-3 md:p-5 bg-[#99c3061a] rounded-full d-center mx-auto mb-4 md:mb-6">
              <i class="ph-fill ph-phone text-3xl text-secondary1"></i>
            </span>
            <h3 class="mb-3">Contact Us</h3>
            <span class="mb-4 md:mb-6">Mon-Fri from 8am to 5pm.</span>
            <a href="tel:(239) 555-0108" class="">(239) 555-0108</a>
          </div>
        </div>
        <div class="col-span-full">
          <div class="border border-nc30 px-3 py-6 sm:p-6 md:p-10 lg:p-[60px] rounded-3xl">
            <h1 class="mb-8 md:mb-10 lg:mb-[60px] leading-8 max-sm:text-center">CONNECT WITH EASE</h1>
            <form action="">
              <div class="flex items-center max-sm:flex-wrap gap-4 md:gap-6 mb-4 md:mb-6">
                <input type="text" class="w-full rounded-xl border border-nc30 p-4 md:p-5 font-light"
                  placeholder="Name">
                <input type="email" class="w-full rounded-xl border border-nc30 p-4 md:p-5 font-light"
                  placeholder="Email">
              </div>
              <textarea rows="6" name="" id=""
                class="w-full rounded-xl border border-nc30 p-4 md:p-5 font-light mb-4 md:mb-6"
                placeholder="Messages"></textarea>
              <button class="w-full bg-secondary1 text-nc20 rounded-xl p-4 md:p-5 font-semibold">Send Message</button>
            </form>
          </div>
        </div>
        <div class="col-span-full">
          <div class="px-3 py-6 sm:p-6 md:p-10 lg:p-[60px] bg-secondary1 rounded-3xl text-center" data-aos="flip-left"
            data-aos-duration="1000">
            <div class="flex items-center justify-center gap-3 sm:gap-6 md:gap-8 mb-8 md:mb-10 lg:mb-[60px]">
              <a href="#" class="size-[60px] md:size-[80px] bg-nc20 rounded-xl p-3 md:p-5 d-center"><i
                  class="ph-fill ph-instagram-logo text-secondary1 fs-one"></i></a>
              <a href="#" class="size-[60px] md:size-[80px] bg-nc20 rounded-xl p-3 md:p-5 d-center"><i
                  class="ph-fill ph-twitch-logo text-secondary1 fs-one"></i></a>
              <a href="#" class="size-[60px] md:size-[80px] bg-nc20 rounded-xl p-3 md:p-5 d-center"><i
                  class="ph-fill ph-linkedin-logo text-secondary1 fs-one"></i></a>
              <a href="#" class="size-[60px] md:size-[80px] bg-nc20 rounded-xl p-3 md:p-5 d-center"><i
                  class="ph-fill ph-youtube-logo text-secondary1 fs-one"></i></a>
            </div>
            <h1 class="text-nc20 font-semibold mb-3 leading-8">FOLLOW US IN OUR SOCIAL MEDIA</h1>
            <span class="text-base text-nc20 font-light">Sneak a Peak in the Life at ReCraft, in our social media</span>
          </div>
        </div>
      </div>
    </div>
  </section>