<div class="container bg-nc40 rounded-3xl px-3 py-5 sm:p-6 md:p-10 lg:p-[60px] mb-12 md:mb-16 lg:mb-[100px]">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-6 lg:col-span-3">
            <div class="text-center">
                <h1 class="counters flex items-center justify-center display-2 md:mb-4">
                    <span class="odometer" counter-value="45"></span>
                    <span class="">K</span>
                </h1>
                <span class="text-center font-normal pt-3">Participants</span>
            </div>
        </div>
        <div class="col-span-6 lg:col-span-3">
            <div class="text-center">
                <h1 class="counters flex items-center justify-center display-2 md:mb-4">
                    <span class="odometer" counter-value="8"></span>
                    <span class="">K</span>
                </h1>
                <span class="text-center font-normal pt-3">Happy customers</span>
            </div>
        </div>
        <div class="col-span-6 lg:col-span-3">
            <div class="text-center">
                <h1 class="counters flex items-center justify-center display-2 md:mb-4">
                    <span class="odometer" counter-value="14"></span>
                    <!-- <span class="">K</span> -->
                </h1>
                <span class="text-center font-normal pt-3">Years experiences</span>
            </div>
        </div>
        <div class="col-span-6 lg:col-span-3">
            <div class="text-center">
                <h1 class="counters flex items-center justify-center display-2 md:mb-4">
                    <span class="odometer" counter-value="94"></span>
                    <!-- <span class="">K</span> -->
                </h1>
                <span class="text-center font-normal pt-3">Awards <span
                        class="max-sm:hidden font-medium inline-block">achievement</span></span>
            </div>
        </div>
    </div>
</div>