<section class="mb-10 lg:mb-[60px]">
    <div class="container bg-nc40 rounded-3xl py-14 md:py-20 lg:py-[120px] text-center px-3">
      <span class="font-semibold text-secondary1 mb-3">Digital Marketing Agency</span>
      <h1 class="display-1 mb-6 lg:mb-10">Seamlesly Combining Creativity &amp; Data-Driven Strategies</h1>
      <div class="flex justify-center">
        <a href="../contact.html" class="flex items-center group duration-700">
          <span class="py-2 lg:py-3 px-3 lg:px-5 bg-primary text-nb10 rounded-lg sm:rounded-2xl duration-500 font-normal">Get Started</span>
          <i
            class="ph ph-arrow-up-right p-[6px] md:p-[10px] lg:p-[14px] bg-primary text-nb10 rounded-lg sm:rounded-2xl duration-500 font-medium group-hover:rotate-45"></i>
        </a>
      </div>
    </div>
  </section>