<section class="py-8 md:py-10 lg:py-[50px]">
    <div class="container">
        <div class="text-center mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
            <h5 class="py-3 px-5 bg-nc40 rounded-2xl inline-block font-normal">MEET OUR TEAM</h5>
        </div>
        <div class="grid grid-cols-12 gap-x-4 gap-y-6 lg:gap-6">
            <div class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-3 group" data-aos="fade-up"
            data-aos-duration="1500">
                <div class="relative mb-4 md:mb-5 overflow-hidden max-sm:w-[280px] mx-auto">
                    <img class="w-full" src="assets/images/robert-fox.png" alt="Image">
                    <div class="">
                        <button class="p-3 lg:p-5 size-[50px] lg:size-[66px] d-center bg-nc10 rounded-full absolute right-0 bottom-0 socialbtn z-40 socaillink4" type="button">
                            <i class="ph-bold ph-plus text-2xl text-nc20 socaillink2"></i>
                            <i class="ph-bold ph-minus text-2xl text-nc20 socaillink3"></i>
                        </button>
                        <div class="socaillink absolute right-[10px] bottom-20" id="target-div">
                            <div class="p-1 rounded-full border-2 border-secondary1 inline-block">
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center mb-2">
                                    <i class="ph ph-instagram-logo text-2xl"></i>
                                </a>
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center mb-2">
                                    <i class="ph ph-discord-logo text-2xl"></i>
                                </a>
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center">
                                    <i class="ph ph-facebook-logo text-2xl"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="max-sm:w-[280px] mx-auto">
                    <h4 class="mb-1 group-hover:text-secondary1 duration-500">Robert Fox</h4>
                    <span class="text-base font-normal group-hover:text-secondary1 duration-500">VP Of Sucurity</span>
                </div>
            </div>
            <div class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-3 group">
                <div class="relative mb-4 md:mb-5 overflow-hidden max-sm:w-[280px] mx-auto" data-aos="fade-up"
                data-aos-duration="2000">
                    <img class="w-full" src="assets/images/courtney.png" alt="Image">
                    <div class="">
                        <button class="p-3 lg:p-5 size-[50px] lg:size-[66px] d-center bg-nc10 rounded-full absolute right-0 bottom-0 socialbtn-2 z-40 socaillink4-2" type="button">
                            <i class="ph-bold ph-plus text-2xl text-nc20 socaillink2-2"></i>
                            <i class="ph-bold ph-minus text-2xl text-nc20 socaillink3-2"></i>
                        </button>
                        <div class="socaillink-2 absolute right-[10px] bottom-20">
                            <div class="p-1 rounded-full border-2 border-secondary1 inline-block">
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center mb-2">
                                    <i class="ph ph-instagram-logo text-2xl"></i>
                                </a>
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center mb-2">
                                    <i class="ph ph-discord-logo text-2xl"></i>
                                </a>
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center">
                                    <i class="ph ph-facebook-logo text-2xl"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="max-sm:w-[280px] mx-auto">
                    <h4 class="mb-1 group-hover:text-secondary1 duration-500">Courtney Henry</h4>
                    <span class="text-base font-normal group-hover:text-secondary1 duration-500">CEO &amp; founder</span>
                </div>
            </div>
            <div class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-3 group">
                <div class="relative mb-4 md:mb-5 overflow-hidden max-sm:w-[280px] mx-auto" data-aos="fade-up"
                data-aos-duration="2500">
                    <img class="w-full" src="assets/images/dianne.png" alt="Image">
                    <div class="">
                        <button class="p-3 lg:p-5 size-[50px] lg:size-[66px] d-center bg-nc10 rounded-full absolute right-0 bottom-0 socialbtn-3 z-40 socaillink4-3" type="button">
                            <i class="ph-bold ph-plus text-2xl text-nc20 socaillink2-3"></i>
                            <i class="ph-bold ph-minus text-2xl text-nc20 socaillink3-3"></i>
                        </button>
                        <div class="socaillink-3 absolute right-[10px] bottom-20">
                            <div class="p-1 rounded-full border-2 border-secondary1 inline-block">
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center mb-2">
                                    <i class="ph ph-instagram-logo text-2xl"></i>
                                </a>
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center mb-2">
                                    <i class="ph ph-discord-logo text-2xl"></i>
                                </a>
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center">
                                    <i class="ph ph-facebook-logo text-2xl"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="max-sm:w-[280px] mx-auto">
                    <h4 class="mb-1 group-hover:text-secondary1 duration-500">Dianne Russell</h4>
                    <span class="text-base font-normal group-hover:text-secondary1 duration-500">VP Of Design</span>
                </div>
            </div>
            <div class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-3 group">
                <div class="relative mb-4 md:mb-5 overflow-hidden max-sm:w-[280px] mx-auto" data-aos="fade-up"
                data-aos-duration="3000">
                    <img class="w-full" src="assets/images/brooklyn.png" alt="Image">
                    <div class="">
                        <button class="p-3 lg:p-5 size-[50px] lg:size-[66px] d-center bg-nc10 rounded-full absolute right-0 bottom-0 socialbtn-4 z-40 socaillink4-4" type="button">
                            <i class="ph-bold ph-plus text-2xl text-nc20 socaillink2-4"></i>
                            <i class="ph-bold ph-minus text-2xl text-nc20 socaillink3-4"></i>
                        </button>
                        <div class="socaillink-4 absolute right-[10px] bottom-20">
                            <div class="p-1 rounded-full border-2 border-secondary1 inline-block">
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center mb-2">
                                    <i class="ph ph-instagram-logo text-2xl"></i>
                                </a>
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center mb-2">
                                    <i class="ph ph-discord-logo text-2xl"></i>
                                </a>
                                <a href="#" class="p-2 rounded-full bg-secondary1 size-[40px] d-center">
                                    <i class="ph ph-facebook-logo text-2xl"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="max-sm:w-[280px] mx-auto">
                    <h4 class="mb-1 group-hover:text-secondary1 duration-500">Brooklyn Simmons</h4>
                    <span class="text-base font-normal group-hover:text-secondary1 duration-500">CEO &amp; founder</span>
                </div>
            </div>
        </div>
    </div>
</section>