<nav class="bg-nc40 text-nw10 p-4 lg:p-6 rounded-3xl">
    <div class="flex justify-between items-center relative">
      <a href="../index.html" class="flex items-center gap-3">
        <img class="w-[40px] md:w-full" src="../assets/images/logo.png" alt="logo">
        <h2 class="font-semibold md:hidden lg:block">ITSO</h2>
      </a>

      <!-- MOBILE NAV ICON -->
      <div class="md:hidden block absolute top-[15%] right-0">
        <button aria-label="navigation" type="button"
          class="md:hidden text-gray-200 transition duration-300 focus:outline-none focus:text-white hover:text-white"><i
            class="ph-thin ph-list text-3xl" id="bars"></i></button>
      </div>

      <!-- NAVIGATION - LARGE SCREENS -->
      <div class="hidden md:flex">
        <ul class="hidden md:flex gap-4 lg:gap-8 xl:gap-10">
          <li class="cmnhed"><a href="../index.html"
              class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Home</a>
          </li>
          <li class="cmnhed"><a href="../about.html"
              class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">About</a>
          </li>
          <li class=""><a href="../services.html"
              class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Services</a>
          </li>
          <li class=""><a href="../blog.html"
              class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Blog</a>
          </li>
          <li class=""><a href="../project.html"
              class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Project</a>
          </li>
        </ul>
      </div>

      <div class="hidden md:flex">
        <a href="../contact-us.html" class="flex items-center group duration-700">
          <span class="py-2 md:py-3 px-4 lg:px-5 bg-primary text-nb10 rounded-2xl duration-500 font-normal">Contact
            Us</span>
          <i
            class="ph ph-arrow-up-right p-3 lg:p-[14px] bg-primary text-nb10 rounded-2xl duration-500 font-medium group-hover:rotate-45"></i>
        </a>
      </div>
    </div>
    <!-- MOBILE MENU -->
    <div id="mobileMenu" class="flex w-full mx-auto py-8 text-center show">
      <div class="flex flex-col justify-center items-center w-full gap-4">
        <a href="../index.html"
          class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Home</a>
        <a href="../about.html"
          class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">About</a>
        <a href="../services.html"
          class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Services</a>
        <a href="../blog.html"
          class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Blog</a>
        <a href="../project.html"
          class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Project</a>
        <a href="../contact-us.html" class="flex items-center group duration-700">
          <span class="py-3 lg:py-4 px-4 lg:px-8 bg-primary text-nb10 rounded-2xl duration-500 font-medium">Contact
            Us</span>
          <i
            class="ph ph-arrow-up-right p-[12px] lg:p-[18px] bg-primary text-nb10 rounded-2xl duration-500 font-medium group-hover:rotate-45"></i>
        </a>
      </div>
    </div>
  </nav>