<section class="py-8 md:py-10 lg:py-[50px]">
    <div class="container">
      <div class="text-center mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
        <h5 class="py-3 px-5 bg-nc40 rounded-2xl inline-block font-normal">OUR WORKS</h5>
      </div>
      <div class="grid grid-cols-12 gap-4 lg:gap-6">
        <div class="col-span-full">
          <div class="py-3 md:py-4 lg:py-6 ps-3 md:ps-4 lg:ps-6 pe-3 md:pe-10 lg:pe-[60px] rounded-xl bg-nc10"
            data-aos="fade-right" data-aos-duration="1000">
            <div class="flex items-center max-lg:justify-center max-lg:flex-wrap gap-6 md:gap-10 lg:gap-[60px]">
              <div class="">
                <img class="rounded-xl" src="./assets/images/tech-trends.png" alt="Icon">
              </div>
              <div class="">
                <h2 class="text-nc20 mb-3 max-lg:text-center">TECH TRENDS</h2>
                <p class="text-nc30 mb-6 xl:mb-8 max-lg:text-center">Enhance user engagement, drive website traffic, and
                  establish TechTrends as a reputable source of tech insights.</p>
                <div
                  class="size-[100px] md:size-[120px] xl:size-[140px] flex flex-col justify-center items-center bg-secondary1 rounded-full py-3 lg:py-10 px-3 lg:px-6 max-lg:mx-auto">
                  <a href="../project-details.html" class="text-nc20 text-sm md:text-base font-normal leading-5 text-center text-nowrap"><i
                      class="ph-bold ph-arrow-up-right text-nc20 block"></i> LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-full">
          <div class="py-3 md:py-4 lg:py-6 ps-3 md:ps-4 lg:ps-6 pe-3 md:pe-10 lg:pe-[60px] rounded-xl bg-nc10"
            data-aos="fade-left" data-aos-duration="1000">
            <div class="flex items-center max-lg:justify-center max-lg:flex-wrap gap-6 md:gap-10 lg:gap-[60px]">
              <div class="">
                <img class="rounded-xl" src="./assets/images/eco-eats.png" alt="Icon">
              </div>
              <div class="">
                <h2 class="text-nc20 mb-3 max-lg:text-center">ECO EATS</h2>
                <p class="text-nc30 mb-6 xl:mb-8 max-lg:text-center">Enhance user engagement, drive website traffic, and
                  establish TechTrends as a reputable source of tech insights.</p>
                <div
                  class="size-[100px] md:size-[120px] xl:size-[140px] flex flex-col justify-center items-center bg-secondary1 rounded-full py-3 lg:py-10 px-3 lg:px-6 max-lg:mx-auto">
                  <a href="../project-details.html" class="text-nc20 text-sm md:text-base font-normal leading-5 text-center text-nowrap"><i
                      class="ph-bold ph-arrow-up-right text-nc20 block"></i> LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-full">
          <div class="py-3 md:py-4 lg:py-6 ps-3 md:ps-4 lg:ps-6 pe-3 md:pe-10 lg:pe-[60px] rounded-xl bg-nc10"
            data-aos="fade-right" data-aos-duration="1000">
            <div class="flex items-center max-lg:justify-center max-lg:flex-wrap gap-6 md:gap-10 lg:gap-[60px]">
              <div class="">
                <img class="rounded-xl" src="./assets/images/sustainablesips.png" alt="Icon">
              </div>
              <div class="">
                <h2 class="text-nc20 mb-3 max-lg:text-center">SUSTAINABLESIPS</h2>
                <p class="text-nc30 mb-6 xl:mb-8 max-lg:text-center">Enhance user engagement, drive website traffic, and
                  establish TechTrends as a reputable source of tech insights.</p>
                <div
                  class="size-[100px] md:size-[120px] xl:size-[140px] flex flex-col justify-center items-center bg-secondary1 rounded-full py-3 lg:py-10 px-3 lg:px-6 max-lg:mx-auto">
                  <a href="../project-details.html" class="text-nc20 text-sm md:text-base font-normal leading-5 text-center text-nowrap"><i
                      class="ph-bold ph-arrow-up-right text-nc20 block"></i> LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-10 md:pt-14 lg:pt-[72px] text-center">
        <a href="../project-details.html"
          class="text-center mb-4 sm:mb-8 md:mb-10 lg:mb-[60px] py-3 px-5 bg-nc40 rounded-2xl inline-block font-normal">VIEW
          ALL WORKS</a>
      </div>
    </div>
  </section>