<section class="py-8 md:py-10 lg:py-[50px]">
    <div class="container">
      <div class="text-center mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
        <h5 class="py-3 px-5 bg-nc40 rounded-2xl inline-block font-normal">OUR SERVICES</h5>
      </div>
      <div class="grid grid-cols-12 gap-4 lg:gap-6">
        <div class="col-span-full md:col-span-6">
          <div
            class="p-3 sm:p-6 md:p-8 lg:p-12 bg-nc10 rounded-xl relative  before:absolute before:top-0 before:right-0 before:w-1 before:h-1 before:opacity-0 before:rounded-xl before:bg-secondary1  hover:before:w-full hover:before:h-full hover:before:opacity-100 before:duration-700 group"
            data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="relative z-40">
              <div class="mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
                <img src="assets/images/icon/branding-design.png" alt="Icon">
              </div>
              <h2 class="text-nc20 mb-4 lg:mb-5">Branding Design</h2>
              <p class="mb-6 md:mb-8 lg:mb-10 text-nc30">We care success relationships fuel real success We love
                building brands and helping</p>
              <a href="../service-details.html" class="underline font-normal text-nc20">VIEW DETAILS <i
                  class="ph-bold ph-arrow-up-right max-md:text-base"></i></a>
            </div>
          </div>
        </div>
        <div class="col-span-full md:col-span-6">
          <div
            class="p-3 sm:p-6 md:p-8 lg:p-12 bg-nc10 rounded-xl relative  before:absolute before:top-0 before:right-0 before:w-1 before:h-1 before:opacity-0 before:rounded-xl before:bg-secondary1  hover:before:w-full hover:before:h-full hover:before:opacity-100 before:duration-700 group"
            data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="relative z-40">
              <div class="mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
                <img src="assets/images/icon/web-development.png" alt="Icon">
              </div>
              <h2 class="text-nc20 mb-4 lg:mb-5">Web Development</h2>
              <p class="mb-6 md:mb-8 lg:mb-10 text-nc30">We care success relationships fuel real success We love
                building brands and helping</p>
              <a href="../service-details.html" class="underline font-normal text-nc20">VIEW DETAILS <i
                  class="ph-bold ph-arrow-up-right max-md:text-base"></i></a>
            </div>
          </div>
        </div>
        <div class="col-span-full md:col-span-6">
          <div
            class="p-3 sm:p-6 md:p-8 lg:p-12 bg-nc10 rounded-xl relative  before:absolute before:top-0 before:right-0 before:w-1 before:h-1 before:opacity-0 before:rounded-xl before:bg-secondary1  hover:before:w-full hover:before:h-full hover:before:opacity-100 before:duration-700 group"
            data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="relative z-40">
              <div class="mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
                <img src="assets/images/icon/socaial-advertising.png" alt="Icon">
              </div>
              <h2 class="text-nc20 mb-4 lg:mb-5">Branding Design</h2>
              <p class="mb-6 md:mb-8 lg:mb-10 text-nc30">We care success relationships fuel real success We love
                building brands and helping</p>
              <a href="../service-details.html" class="underline font-normal text-nc20">VIEW DETAILS <i
                  class="ph-bold ph-arrow-up-right max-md:text-base"></i></a>
            </div>
          </div>
        </div>
        <div class="col-span-full md:col-span-6">
          <div
            class="p-3 sm:p-6 md:p-8 lg:p-12 bg-nc10 rounded-xl relative  before:absolute before:top-0 before:right-0 before:w-1 before:h-1 before:opacity-0 before:rounded-xl before:bg-secondary1  hover:before:w-full hover:before:h-full hover:before:opacity-100 before:duration-700 group"
            data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="relative z-40">
              <div class="mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
                <img src="assets/images/icon/digital-marketing.png" alt="Icon">
              </div>
              <h2 class="text-nc20 mb-4 lg:mb-5">Web Development</h2>
              <p class="mb-6 md:mb-8 lg:mb-10 text-nc30">We care success relationships fuel real success We love
                building brands and helping</p>
              <a href="../service-details.html" class="underline font-normal text-nc20">VIEW DETAILS <i
                  class="ph-bold ph-arrow-up-right max-md:text-base"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>