<section class="py-8 md:py-10 lg:py-[50px]">
    <div class="container">
      <div class="text-center mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
        <h5 class="py-3 px-5 bg-nc40 rounded-2xl inline-block font-normal">OUR BLOG</h5>
      </div>
      <div class="grid grid-cols-12 gap-4 lg:gap-6">
        <div class="col-span-full md:col-span-6 xl:col-span-4">
          <div
            class="p-3 md:p-4 lg:p-5 rounded-xl bg-nc10 relative  before:absolute before:bottom-0 before:right-0 before:w-1 before:h-1 before:opacity-0 before:rounded-xl before:bg-secondary1  hover:before:w-full hover:before:h-full hover:before:opacity-100 before:duration-700"
            data-aos="fade-up" data-aos-duration="1000">
            <div class="relative z-40">
              <div class="mb-4 md:mb-6">
                <img class="rounded-xl w-full" src="assets/images/prime-your-agency.png" alt="Icon">
              </div>
              <span class="text-base text-nc40 font-light mb-3">February 8, 2024 Branding</span>
              <a href="../blog-details.html">
                <h3 class="mb-4 md:mb-6 lg:mb-10 text-nc20">Prime Your Agency: WordPress Theme Pick"</h3>
              </a>
              <a href="../blog-details.html" class="underline font-normal text-nc20 pb-3 md:pb-5">VIEW DETAILS <i
                  class="ph-bold ph-arrow-up-right max-md:text-lg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-span-full md:col-span-6 xl:col-span-4">
          <div
            class="p-3 md:p-4 lg:p-5 rounded-xl bg-nc10 relative  before:absolute before:bottom-0 before:right-0 before:w-1 before:h-1 before:opacity-0 before:rounded-xl before:bg-secondary1  hover:before:w-full hover:before:h-full hover:before:opacity-100 before:duration-700"
            data-aos="fade-up" data-aos-duration="1400">
            <div class="relative z-40">
              <div class="mb-4 md:mb-6">
                <img class="rounded-xl w-full" src="assets/images/ways-of-lying.png" alt="Icon">
              </div>
              <span class="text-base text-nc40 font-light mb-3">February 8, 2024 Branding</span>
              <a href="../blog-details.html">
                <h3 class="mb-4 md:mb-6 lg:mb-10 text-nc20">Ways of lying to yourself about relationship.</h3>
              </a>
              <a href="../blog-details.html" class="underline font-normal text-nc20 pb-3 md:pb-5">VIEW DETAILS <i
                  class="ph-bold ph-arrow-up-right max-md:text-lg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-span-full md:col-span-6 xl:col-span-4">
          <div
            class="p-3 md:p-4 lg:p-5 rounded-xl bg-nc10 relative  before:absolute before:bottom-0 before:right-0 before:w-1 before:h-1 before:opacity-0 before:rounded-xl before:bg-secondary1  hover:before:w-full hover:before:h-full hover:before:opacity-100 before:duration-700"
            data-aos="fade-up" data-aos-duration="1800">
            <div class="relative z-40">
              <div class="mb-4 md:mb-6">
                <img class="rounded-xl w-full" src="assets/images/how-to-bring.png" alt="Icon">
              </div>
              <span class="text-base text-nc40 font-light mb-3">February 8, 2024 Branding</span>
              <a href="../blog-details.html">
                <h3 class="mb-4 md:mb-6 lg:mb-10 text-nc20">How to bring fold to your startup company..</h3>
              </a>
              <a href="../blog-details.html" class="underline font-normal text-nc20 pb-3 md:pb-5">VIEW DETAILS <i
                  class="ph-bold ph-arrow-up-right max-md:text-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>