<section class="py-8 md:py-10 lg:py-[50px]">
    <div class="container">
      <div class="text-center mb-4 sm:mb-8 md:mb-10 lg:mb-[60px]">
        <h5 class="py-3 px-5 bg-nc40 rounded-2xl inline-block font-normal">OUR PROCESS</h5>
      </div>
      <div class="grid grid-cols-12 gap-4 lg:gap-6">
        <div class="col-span-full md:col-span-6 xl:col-span-4">
          <div class="p-3 md:p-6 lg:p-10 rounded-xl bg-nc10" data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" data-aos-duration="1200">
            <div class="flex justify-between items-start gap-3 mb-10 md:mb-16">
              <span class="text-nc20">STEP _01</span>
              <span
                class="text-[80px] md:text-[100px] lg:text-[120px] font-bold leading-[20px] text-styleb pt-6">01</span>
            </div>
            <h3 class="mb-4 lg:mb-6 text-nc20">Strategic Approach</h3>
            <p class="text-nc30">We are a creative agency brands building insightful strategy, creating unique designs
              helping</p>
          </div>
        </div>
        <div class="col-span-full md:col-span-6 xl:col-span-4">
          <div class="p-3 md:p-6 lg:p-10 rounded-xl bg-nc10" data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" data-aos-duration="1400">
            <div class="flex justify-between items-start gap-3 mb-10 md:mb-16">
              <span class="text-nc20">STEP _02</span>
              <span
                class="text-[80px] md:text-[100px] lg:text-[120px] font-bold leading-[20px] text-styleb pt-6">02</span>
            </div>
            <h3 class="mb-4 lg:mb-6 text-nc20">Collaboration is Key</h3>
            <p class="text-nc30">We are a creative agency brands building insightful strategy, creating unique designs
              helping</p>
          </div>
        </div>
        <div class="col-span-full md:col-span-6 xl:col-span-4">
          <div class="p-3 md:p-6 lg:p-10 rounded-xl bg-nc10" data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" data-aos-duration="1600">
            <div class="flex justify-between items-start gap-3 mb-10 md:mb-16">
              <span class="text-nc20">STEP _03</span>
              <span
                class="text-[80px] md:text-[100px] lg:text-[120px] font-bold leading-[20px] text-styleb pt-6">03</span>
            </div>
            <h3 class="mb-4 lg:mb-6 text-nc20">End to End Delivery</h3>
            <p class="text-nc30">We are a creative agency brands building insightful strategy, creating unique designs
              helping</p>
          </div>
        </div>
      </div>
    </div>
  </section>