
<section class="pb-8 md:pb-10 lg:pb-[50px]">
    <div class="container">
      <div class="grid grid-cols-12 gap-4 lg:gap-6">
        <div class="col-span-full">
          <div class="p-3 sm:p-6 md:p-8 lg:p-12 rounded-3xl bg-secondary1 swiper" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="flex justify-center sm:justify-between max-sm:flex-wrap gap-6 mb-8 lg:mb-10 xl:mb-[60px]">
              <div class="max-sm:text-center">
                <span class="mb-3 font-normal text-nc20">TESTIMONIALS</span>
                <h2 class="text-nc20">What clients say about us.</h2>
              </div>
              <div class="">
                <div class="testimonial_slider_btn sm:pb-3">
                  <div class="slider-btn flex justify-end gap-6">
                    <button type="button" aria-label="Slide Prev" class="ara-prev">
                      <img src="./assets/images/icon/arrow-left1.png" alt="Icon">
                    </button>
                    <div class="relative">
                      <span class="text-lg text-nc20 font-normal swiper-pagination flex left-[-10px] top-[-9px]"></span>
                    </div>
                    <button type="button" aria-label="Slide Next" class="ara-next z-30">
                      <img src="./assets/images/icon/arrow-right1.png" alt="Icon">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="overflow-hidden">
              <div class="testimonial_slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="items-wrapper">
                      <div class="flex flex-wrap sm:flex-nowrap max-sm:justify-center items-center gap-4 sm:gap-8">
                        <div class="">
                          <img class="w-max-unset max-unset rounded-xl" src="../assets/images/testimonial-men.png"
                            alt="Image">
                        </div>
                        <div class="">
                          <div class="flex items-center max-sm:justify-center gap-1">
                            <i class="ph-fill ph-star text-nc50"></i>
                            <i class="ph-fill ph-star text-nc50"></i>
                            <i class="ph-fill ph-star text-nc50"></i>
                            <i class="ph-fill ph-star text-nc50"></i>
                            <i class="ph-fill ph-star text-nc50"></i>
                          </div>
                          <p class="mb-4 sm:mb-5 lg:mb-6 text-nc20 max-sm:text-center">The process was seamless, thanks
                            to the knowledgeable and professional team at Solar Eco They patiently explained every step,
                            addressing all my queries and concerns, making me feel confident about my choice.</p>
                          <h4 class="mb-1 font-semibold text-nc20 max-sm:text-center">Alex John Martin</h4>
                          <span class="text-lg text-nc20 max-sm:text-center">Manager</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="items-wrapper">
                      <div class="flex flex-wrap sm:flex-nowrap max-sm:justify-center items-center gap-4 sm:gap-8">
                        <div class="">
                          <img class="w-max-unset max-unset rounded-xl" src="../assets/images/testimonial-men-two.png"
                            alt="Image">
                        </div>
                        <div class="">
                          <div class="flex items-center max-sm:justify-center gap-1">
                            <i class="ph-fill ph-star text-nc50"></i>
                            <i class="ph-fill ph-star text-nc50"></i>
                            <i class="ph-fill ph-star text-nc50"></i>
                            <i class="ph-fill ph-star text-nc50"></i>
                            <i class="ph-fill ph-star text-nc50"></i>
                          </div>
                          <p class="mb-4 sm:mb-5 lg:mb-6 text-nc20 max-sm:text-center">The process was seamless, thanks
                            to the knowledgeable and professional team at Solar Eco They patiently explained every step,
                            addressing all my queries and concerns, making me feel confident about my choice.</p>
                          <h4 class="mb-1 font-semibold text-nc20 max-sm:text-center">Sagor Sheikh</h4>
                          <span class="text-lg text-nc20 max-sm:text-center">Manager</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>