<section
  data-aos="zoom-in"
  data-aos-anchor-placement="top-bottom"
  data-aos-duration="1200"
  class="grid smt60px max-lg:flex flex-col-reverse spr48px grid-cols-12 gap-6 bg-neutral-7 rounded-3xl items-center spy48px max-xl:spl48px xl:ps-25"
>
  <div class="lg:col-span-5">
    <h6 class="h6 font-semibold uppercase">ABOUT THE SALON</h6>
    <h4 class="d4 font-bold pt-6">Body treatments. Skin care beauty.</h4>
    <p class="l-text font-light pt-5 font-secondary-font text-neutral-1/80">
      With over 35 years of experience footprint of over 400+ salons in 125 cities across the length and breadth of the country. We have developed a deep understanding of the beauty industry.
    </p>
    <div class="spt40px flex items-center flex-wrap gap-10">
      <div class="btn-area group">
        <a href="./about.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
          <span class="one h5 font-semibold theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full bg-primary text-neutral-2 px-8 py-2.5 capitalize">About Story </span>
          <span class="two d-center theme-transition-4 flex size-[45px] shrink-0 items-center justify-center text-neutral-2 rounded-full bg-primary p-2.5 text-center">
            <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
          </span>
        </a>
      </div>
      <a href="/" class="font-semibold underline underline-offset-4 hover:text-primary duration-300">Luxury Salon</a>
    </div>
  </div>
  <div class="lg:col-span-7">
    <img src="./assets/images/about-section-image.png" alt="About section image" class="rounded-xl" />
  </div>
</section>
