<footer data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200" class="max-md:spy60px max-xs:px-3 xs:max-md:spx48px md:sp80px bg-neutral-7 rounded-3xl smt60px">
  <div class="max-md:flex flex-col md:grid grid-cols-12 gap-6 md:items-center">
    <div class="col-span-2">
      <img src="./assets/images/logo.png" alt="footer logo" />
    </div>
    <h2 class="col-start-4 d4 font-bold col-span-10 max-w-[884px]">Revitalize Your Haircut And Get A Fresh New Look</h2>
  </div>
  <div class="spt100px grid max-xl:gap-6 grid-cols-12">
    <div class="col-span-12 lg:col-span-5 xl:col-span-4">
      <h3 class="h3 font-semibold">Newsletter Signup</h3>
      <div class="flex items-center justify-between spt40px pb-5 border-b border-neutral-8">
        <div class="flex items-center w-[calc(100%-50px)] sm:w-[calc(100%-80px)] gap-2">
          <i class="ph text-neutral-3 text-[24px] ph-envelope-simple"></i>
          <input
            type="text"
            placeholder="Enter your email address"
            class="bg-transparent min-w-full shrink-0 placeholder:text-[18px] placeholder:font-light placeholder:text-neutral-3 placeholder:leading-[0px]"
          />
        </div>
        <button class="flex items-center justify-center">
          <i class="ph text-[24px] text-neutral-3 ph-arrow-right"></i>
        </button>
      </div>
      <div class="pt-5">
        <label class="flex items-center font-secondary-font gap-2 text-neutral-3"
          ><input type="checkbox" id="cbox1" value="first_checkbox" /> I agree to the <a href="#" class="text-neutral-1 hover:underline underline-offset-4 underline"> Privacy Policy. </a></label
        >
      </div>
    </div>
    <div class="col-span-6 xs:col-span-6 xl:col-start-6 md:col-span-4 lg:col-span-2 xl:col-span-3">
      <h4 class="h3 font-semibold">Menu</h4>
      <ul class="spt40px flex flex-col gap-4 l-text">
        <li class=""><a href="/" class="font-secondary-font duration-300 hover:underline underline-offset-2 font-light">Home</a></li>
        <li class=""><a href="./about.html" class="font-secondary-font duration-300 hover:underline underline-offset-2 font-light">About Us</a></li>
        <li class=""><a href="./services.html" class="font-secondary-font duration-300 hover:underline underline-offset-2 font-light">Services</a></li>
        <li class=""><a href="./contact.html" class="font-secondary-font duration-300 hover:underline underline-offset-2 font-light">Contact</a></li>
      </ul>
    </div>
    <div class="col-span-6 xs:col-span-6 md:col-span-4 lg:col-span-2">
      <h4 class="h3 font-semibold">Social</h4>
      <ul class="spt40px flex flex-col gap-4 l-text">
        <li class=""><a href="/" class="font-secondary-font duration-300 hover:underline underline-offset-2 font-light">Facebook</a></li>
        <li class=""><a href="/" class="font-secondary-font duration-300 hover:underline underline-offset-2 font-light">Twitter</a></li>
        <li class=""><a href="/" class="font-secondary-font duration-300 hover:underline underline-offset-2 font-light">Dribble</a></li>
        <li class=""><a href="/" class="font-secondary-font duration-300 hover:underline underline-offset-2 font-light">Instagram</a></li>
      </ul>
    </div>
    <div class="col-span-12 md:col-span-4 lg:col-span-2">
      <h4 class="h3 font-semibold">Say Hello</h4>
      <a href="mailto:bill.sanders@example.com" class="spt40px flex flex-col gap-4 l-text"> bill.sanders@example.com </a>
    </div>
  </div>
</footer>
