<section class="rounded-[20px] smt60px border border-neutral-4/30 bg-neutral-7 spy100px spx48px">
  <div class="text-center">
    <h6 class="h6 font-semibold">OUR STAFF</h6>
    <h4 class="d4 font-bold">Meet our Team</h4>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 justify-between spt60px">
    <!-- single staff -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200" class="">
      <div class="bg-neutral-8 group rounded-lg border hover:bg-primary duration-300 border-neutral-4/30 px-3 pt-3 pb-8">
        <div class="rounded-lg relative overflow-hidden">
          <img src="./assets/images/staff-1.png" alt="Staff Image 1" class="w-full object-cover" />
          <div class="absolute bottom-8 left-1/2 -translate-x-1/2 flex opacity-0 group-hover:opacity-100 theme-transition-3 items-center gap-1 xxl:gap-3">
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-facebook-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-instagram-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-discord-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-twitch-logo"></i>
            </a>
          </div>
        </div>
        <div class="smt32px text-center">
          <a href="./blog-details.html" class="h3 font-semibold group-hover:text-neutral-2 theme-transition-3">Johncy parker</a>
          <p class="l-text theme-transition-3 font-light font-secondary-font group-hover:text-neutral-2 pt-2">Director</p>
        </div>
      </div>
    </div>
    <!-- single staff -->
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1200"
      class="bg-neutral-8 group rounded-lg border hover:bg-primary theme-transition-3 border-neutral-4/30 px-3 pt-3 pb-8"
    >
      <div class="rounded-lg relative overflow-hidden">
        <img src="./assets/images/staff-2.png" alt="Staff Image 1" class="w-full object-cover" />
        <div class="absolute bottom-8 left-1/2 -translate-x-1/2 flex opacity-0 group-hover:opacity-100 theme-transition-3 items-center gap-1 xxl:gap-3">
          <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
            <i class="ph text-[24px] ph-facebook-logo"></i>
          </a>
          <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
            <i class="ph text-[24px] ph-instagram-logo"></i>
          </a>
          <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
            <i class="ph text-[24px] ph-discord-logo"></i>
          </a>
          <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
            <i class="ph text-[24px] ph-twitch-logo"></i>
          </a>
        </div>
      </div>
      <div class="smt32px text-center">
        <a href="./blog-details.html" class="h3 font-semibold group-hover:text-neutral-2 theme-transition-3">Matthew taylor</a>
        <p class="l-text theme-transition-3 font-light font-secondary-font group-hover:text-neutral-2 pt-2">Consultant</p>
      </div>
    </div>
    <!-- single staff -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
      <div class="bg-neutral-8 group rounded-lg border hover:bg-primary theme-transition-3 border-neutral-4/30 px-3 pt-3 pb-8">
        <div class="rounded-lg relative overflow-hidden">
          <img src="./assets/images/staff-3.png" alt="Staff Image 1" class="w-full object-cover" />
          <div class="absolute bottom-8 left-1/2 -translate-x-1/2 flex opacity-0 group-hover:opacity-100 theme-transition-3 items-center gap-1 xxl:gap-3">
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-facebook-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-instagram-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-discord-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-twitch-logo"></i>
            </a>
          </div>
        </div>
        <div class="smt32px text-center">
          <a href="./blog-details.html" class="h3 font-semibold group-hover:text-neutral-2 theme-transition-3">Jeremy dupont</a>
          <p class="l-text theme-transition-3 font-light font-secondary-font group-hover:text-neutral-2 pt-2">Makeup</p>
        </div>
      </div>
    </div>
    <!-- single staff -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
      <div class="bg-neutral-8 group rounded-lg border hover:bg-primary theme-transition-3 border-neutral-4/30 px-3 pt-3 pb-8">
        <div class="rounded-lg relative overflow-hidden">
          <img src="./assets/images/staff-4.png" alt="Staff Image 1" class="w-full object-cover" />
          <div class="absolute bottom-8 left-1/2 -translate-x-1/2 flex opacity-0 group-hover:opacity-100 theme-transition-3 items-center gap-1 xxl:gap-3">
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-facebook-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-instagram-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-discord-logo"></i>
            </a>
            <a href="/" class="rounded-full bg-neutral-2 duration-300 hover:text-primary text-neutral-1 flex p-2 xxl:p-3 items-center justify-center">
              <i class="ph text-[24px] ph-twitch-logo"></i>
            </a>
          </div>
        </div>
        <div class="smt32px text-center">
          <a href="./blog-details.html" class="h3 font-semibold group-hover:text-neutral-2 theme-transition-3">Herman miller</a>
          <p class="l-text theme-transition-3 font-light font-secondary-font group-hover:text-neutral-2 pt-2">Therapist</p>
        </div>
      </div>
    </div>
  </div>
</section>
