<section class="sm:grid max-sm:flex flex-col spt60px grid-cols-12 items-center gap-6">
  <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200" class="col-span-7 lg:col-span-4 h-full relative group">
    <img src="./assets/images/beauty-salon-1.png" alt="beauty salon 1" class="rounded-3xl object-cover h-full" />
    <div class="spx80px max-sm:spy60px w-full flex-col flex justify-center items-center bg-primary opacity-0 group-hover:opacity-100 theme-transition-3 rounded-3xl h-full absolute inset-0">
      <h6 class="h2 font-semibold text-center text-neutral-2">Hair & Coloring</h6>
      <div class="btn-area group spt32px text-primary w-fit">
        <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
          <span class="one h5 font-semibold theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full bg-neutral-2 px-8 py-2.5 capitalize">Read More</span>
          <span class="two d-center theme-transition-4 flex size-[45px] shrink-0 items-center justify-center text- rounded-full bg-neutral-2 p-2.5 text-center">
            <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200" class="col-span-5 lg:col-span-3 h-full relative group">
    <img src="./assets/images/beauty-salon-2.png" alt="beauty salon 2" class="rounded-3xl h-full object-cover" />
    <div class="spx80px max-sm:spy60px w-full flex-col flex justify-center items-center bg-primary opacity-0 group-hover:opacity-100 theme-transition-3 rounded-3xl h-full absolute inset-0">
      <h6 class="h2 font-semibold text-center text-neutral-2">Hair & Coloring</h6>
      <div class="btn-area group spt32px text-primary w-fit">
        <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
          <span class="one h5 font-semibold theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full bg-neutral-2 px-8 py-2.5 capitalize">Read More</span>
          <span class="two d-center theme-transition-4 flex size-[45px] shrink-0 items-center justify-center text- rounded-full bg-neutral-2 p-2.5 text-center">
            <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div
    data-aos="zoom-in"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1200"
    class="lg:col-span-5 bg-neutral-7 col-span-12 md:col-span-6 spy60px rounded-3xl h-full spx48px sm:spx60px flex flex-col justify-center"
  >
    <h6 class="h6 font-semibold uppercase">BEAUTY SALON SERVICES</h6>
    <h4 class="d4 font-bold pt-6 max-w-[500px]">Makeup and hairstyles</h4>
    <p class="l-text font-light pt-5 font-secondary-font text-neutral-1/80">Fusce efficitur nulla vitae metus vehicula semper Proin a mattis ligula quisque sed dapibus eros.</p>
    <div class="spt40px flex items-center flex-wrap gap-10">
      <div class="btn-area group">
        <a href="./about.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
          <span class="one h5 font-semibold theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full bg-primary text-neutral-2 px-8 py-2.5 capitalize">About Story </span>
          <span class="two d-center theme-transition-4 flex size-[45px] shrink-0 items-center justify-center text-neutral-2 rounded-full bg-primary p-2.5 text-center">
            <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200" class="col-span-12 md:col-span-6 h-full relative group">
    <img src="./assets/images/hairandcolor-image-1.png" alt="hair and coloring image one" class="rounded-3xl h-full object-cover" />
    <div class="spx80px max-sm:spy60px w-full flex-col flex justify-center items-center bg-primary opacity-0 group-hover:opacity-100 theme-transition-3 rounded-3xl h-full absolute inset-0">
      <h6 class="h2 font-semibold text-center text-neutral-2">Hair & Coloring</h6>
      <div class="btn-area group spt32px text-primary w-fit">
        <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
          <span class="one h5 font-semibold theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full bg-neutral-2 px-8 py-2.5 capitalize">Read More</span>
          <span class="two d-center theme-transition-4 flex size-[45px] shrink-0 items-center justify-center text- rounded-full bg-neutral-2 p-2.5 text-center">
            <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200" class="col-span-6 lg:col-span-3 h-full relative group">
    <img src="./assets/images/hairandcolor-image-5.png" alt="hair and coloring image one" class="rounded-3xl h-full object-cover" />
    <div class="spx80px max-sm:spy60px w-full flex-col flex justify-center items-center bg-primary opacity-0 group-hover:opacity-100 theme-transition-3 rounded-3xl h-full absolute inset-0">
      <h6 class="h2 font-semibold text-center text-neutral-2">Hair & Coloring</h6>
      <div class="btn-area group spt32px text-primary w-fit">
        <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
          <span class="one h5 font-semibold theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full bg-neutral-2 px-8 py-2.5 capitalize">Read More</span>
          <span class="two d-center theme-transition-4 flex size-[45px] shrink-0 items-center justify-center text- rounded-full bg-neutral-2 p-2.5 text-center">
            <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200" class="col-span-6 lg:col-span-3 rounded-3xl w-full relative group">
    <img src="./assets/images/hairandcolor-image-2.png" alt="hair and color image two" class="rounded-3xl w-full" />
    <div class="spx80px max-sm:spy60px w-full flex-col flex justify-center items-center bg-primary opacity-0 group-hover:opacity-100 theme-transition-3 rounded-3xl h-full absolute inset-0">
      <h6 class="h2 font-semibold text-center text-neutral-2">Hair & Coloring</h6>
      <div class="btn-area group spt32px text-primary w-fit">
        <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
          <span class="one h5 font-semibold theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full bg-neutral-2 px-8 py-2.5 capitalize">Read More</span>
          <span class="two d-center theme-transition-4 flex size-[45px] shrink-0 items-center justify-center text- rounded-full bg-neutral-2 p-2.5 text-center">
            <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
