<section
  data-aos="zoom-in"
  data-aos-anchor-placement="top-bottom"
  data-aos-duration="1200"
  class="rounded-[20px] items-center smt60px border border-neutral-4/30 bg-neutral-7 spy100px max-lg:spx40px lg:spl100px lg:spr48px grid max-md:gap-6 grid-cols-12"
>
  <div class="col-span-12 md:col-span-6 lg:col-span-4 xxl:col-span-3">
    <h6 class="h6 font-semibold">TESTIMONIAL</h6>
    <h3 class="d4 font-bold pt-6">Our happy beauty lovers.</h3>
    <div class="flex items-center gap-3 relative z-10 smt40px">
      <button class="text-primary border hover:bg-primary hover:text-neutral-2 duration-300 border-primary rounded-full customerSliderPrev size-10 sm:size-12">
        <i class="ph ph-arrow-left text-2xl"></i>
      </button>
      <button class="text-primary border customerSliderNext hover:bg-primary hover:text-neutral-2 duration-300 border-primary rounded-full size-10 sm:size-12">
        <i class="ph ph-arrow-right text-2xl"></i>
      </button>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6 lg:col-span-8 xxl:col-span-9 overflow-hidden">
    <div class="testimonial-slider">
      <div class="swiper-wrapper">
        <div class="spy40px spx36px swiper-slide rounded-2xl border-transparent bg-neutral-8 w-fit border">
          <div class="flex items-center justify-center gap-1">
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
          </div>
          <h4 class="h4 font-semibold text-center spt40px">Willeamson Vhaiper</h4>
          <p class="l-text font-light text-center pt-1 font-secondary-font">Manager</p>
          <p class="l-text font-light text-center font-secondary-font">
            The process was seamless, thanks to the knowledgeable and professional team at step, addressing all my queries and about my choice.
          </p>
          <p></p>
        </div>
        <div class="spy40px spx36px swiper-slide rounded-2xl border-transparent bg-neutral-8 w-fit border">
          <div class="flex items-center justify-center gap-1">
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
          </div>
          <h4 class="h4 font-semibold text-center spt40px">Willeamson Vhaiper</h4>
          <p class="l-text font-light text-center pt-1 font-secondary-font">Manager</p>
          <p class="l-text font-light text-center font-secondary-font">
            The process was seamless, thanks to the knowledgeable and professional team at step, addressing all my queries and about my choice.
          </p>
          <p></p>
        </div>
        <div class="spy40px spx36px swiper-slide rounded-2xl border-transparent bg-neutral-8 w-fit border">
          <div class="flex items-center justify-center gap-1">
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
          </div>
          <h4 class="h4 font-semibold text-center spt40px">Willeamson Vhaiper</h4>
          <p class="l-text font-light text-center pt-1 font-secondary-font">Manager</p>
          <p class="l-text font-light text-center font-secondary-font">
            The process was seamless, thanks to the knowledgeable and professional team at step, addressing all my queries and about my choice.
          </p>
          <p></p>
        </div>
        <div class="spy40px spx36px swiper-slide rounded-2xl border-transparent bg-neutral-8 w-fit border">
          <div class="flex items-center justify-center gap-1">
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
          </div>
          <h4 class="h4 font-semibold text-center spt40px">Willeamson Vhaiper</h4>
          <p class="l-text font-light text-center pt-1 font-secondary-font">Manager</p>
          <p class="l-text font-light text-center font-secondary-font">
            The process was seamless, thanks to the knowledgeable and professional team at step, addressing all my queries and about my choice.
          </p>
          <p></p>
        </div>
        <div class="spy40px spx36px swiper-slide rounded-2xl border-transparent bg-neutral-8 w-fit border">
          <div class="flex items-center justify-center gap-1">
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
            <i class="ph-fill ph-star text-primary text-[24px]"></i>
          </div>
          <h4 class="h4 font-semibold text-center spt40px">Willeamson Vhaiper</h4>
          <p class="l-text font-light text-center pt-1 font-secondary-font">Manager</p>
          <p class="l-text font-light text-center font-secondary-font">
            The process was seamless, thanks to the knowledgeable and professional team at step, addressing all my queries and about my choice.
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
