  <!-- Footer Section Starts -->
  <footer class="mb-6">
    <div class="container">
      <div class="grid grid-cols-12 gap-4 md:gap-6">
        <div class="col-span-full xl:col-span-7">
          <div class="md:flex items-center bg-nb10 p-3 rounded-xl h-full">
            <div class="md:w-3/4 sm:ps-6 md:ps-10 lg:ps-12 pr-3 sm:pr-6 md:pr-10 lg:pr-[60px]">
              <div class="flex items-center gap-3 md:gap-5 group duration-500 mb-8 md:mb-10 lg:mb-20">
                <span class="duration-500 group-hover:rotate-45 max-md:hidden"><i
                    class="ph-bold ph-arrow-up-right text-[50px] text-nw10"></i></span>
                <h1 class="text-nw10 max-sm:text-[28px]">Let’s work together</h1>
              </div>
              <form class="mb-8">
                <div class="mb-4 lg:mb-6 border-b pb-3 border-[#57595D]">
                  <input class="border-none p-0 text-nw10" type="text" placeholder="Email">
                </div>
                <div class="mb-4 lg:mb-6 border-b pb-3 border-[#57595D]">
                  <input class="border-none p-0 text-nw10" type="text" placeholder="Project Description">
                </div>
                <div class="text-end">
                  <div class="inline-block border-[2px] border-secondary1 hover:border-nc10 p-1 ">
                    <button type="submit" class="flex items-center group duration-700">
                      <span
                        class="py-2 px-4 lg:px-6 md:text-lg bg-secondary1 hover:text-nw10 hover:bg-transparent duration-500 font-medium">Send</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="overflow-hidden rounded-xl">
              <img class="w-full shrink-0 rounded-xl hover:scale-[1.1] duration-500"
                src="assets/images/footer-image.png" alt="Images">
            </div>
          </div>
        </div>
        <div class="col-span-full xl:col-span-5">
          <div class="bg-secondary1 py-5 px-3 sm:p-6 md:p-8 lg:p-10 xl:p-[60px] rounded-xl">
            <div
              class="flex items-center max-sm:justify-center flex-wrap gap-3 mb-6 lg:mb-10 xl:mb-[60px] 3xl:mb-[74px]">
              <a class="px-6 py-3 rounded-full border border-nb10" href="mailto:3H8rF@example.com">reid@gmail.com</a>
              <a class="px-6 py-3 rounded-full border border-nb10" href="tel:(303) 555-0105">(303) 555-0105</a>
            </div>
            <div class="flex items-center gap-3 flex-wrap justify-center sm:justify-between mb-6 lg:mb-10 xl:mb-[70px]">
              <h1>Get in touch</h1>
              <img class="rounded-xl" src="assets/images/footer-cardimage.png" alt="Image">
            </div>
            <div class="flex items-center justify-center sm:justify-end gap-4 md:gap-6 lg:gap-10">
              <a href="#" class="lg:text-lg">FACEBOOK</a>
              <a href="#" class="lg:text-lg">LINKEDIN</a>
              <a href="#" class="lg:text-lg">INSTRAGRAM</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section Ends -->