<header class="sticky top-0 z-50 bg-nc20 border-b border-[rgba(87,89,93,0.50)] border-opacity-80 bg-nw10">
    <div class="container py-6 cmnhed rounded-3xl">
      <nav class="rounded-3xl">
        <div class="flex justify-between items-center relative">
          <a href="/" class="flex items-center gap-3">
            <img class="w-[40px] md:w-full" src="./assets/images/01_logo.png" alt="logo">
            <div class="flex items-center">
              <h3 class="font-bold md:hidden lg:block font-OpenSans">Architecture</h3>
              <h3 class="font-bold text-primary md:hidden lg:block">X</h3>
            </div>
          </a>

          <!-- MOBILE NAV ICON -->
          <div class="md:hidden block absolute top-[15%] right-0">
            <button aria-label="navigation" type="button"
              class="md:hidden transition duration-300 focus:outline-none focus:text-nb10 hover:text-nb10"><i
                class="ph-thin ph-list text-3xl" id="bars"></i></button>
          </div>

          <!-- NAVIGATION - LARGE SCREENS -->
          <div class="hidden md:flex">
            <ul class="hidden md:flex gap-4 lg:gap-8 xl:gap-10">
              <li class="cmnhed"><a href="../about.html"
                  class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">About
                  us</a>
              </li>
              <li class=""><a href="../services.html"
                  class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Services</a>
              </li>
              <li class=""><a href="../projects.html"
                  class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Projects</a>
              </li>
              <li class=""><a href="../blog.html"
                  class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Blog</a>
              </li>
              <li class=""><a href="../contact.html"
                  class="transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Contact</a>
              </li>
            </ul>
          </div>

          <div class="hidden md:flex border-[2px] border-secondary1 hover:border-nc10 duration-500 p-1">
            <a href="./contact.html" class="flex items-center group duration-700">
              <span
                class="py-2 px-4 lg:px-6 text-lg bg-secondary1 hover:bg-transparent text-nb10 duration-500 font-medium">Get
                in touch</span>
            </a>
          </div>
        </div>
        <!-- MOBILE MENU -->
        <div id="mobileMenu" class="flex w-full mx-auto py-8 text-center show">
          <div class="flex flex-col justify-center items-center w-full gap-4">
            <a href="../about.html"
              class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">About
              us</a>
            <a href="../services.html"
              class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Services</a>
            <a href="../projects.html"
              class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Projects</a>
            <a href="../blog.html"
              class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Blog</a>
            <a href="../contact.html"
              class="block transition duration-300 focus:outline-none focus:text-primary focus:underline hover:underline hover:text-primary">Contact</a>
            <div class="md:flex border-[2px] border-secondary1 hover:border-nc10 p-1">
              <a href="./contact.html" class="flex items-center group duration-700">
                <span
                  class="py-2 px-4 lg:px-6 text-base bg-secondary1 hover:bg-transparent text-nb10 duration-500 font-normal">Get
                  in touch</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>