<div class="rounded-20px border relative border-black-4 sp32px">
  <h5 class="h5 font-bold text-primary text-center">Choose from</h5>
  <h3 class="h3 font-bold text-secondary text-center pt-3">
    Country of Origin
  </h3>
  <div class="flex flex-col gap-6 spt40px">
    <!-- card one -->
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="rounded-lg md:rounded-full border border-white-3 p-2 bg-black-4"
    >
      <div
        class="bg-white-4 rounded-lg md:rounded-full px-2 md:ps-2 py-2 md:pe-8 flex max-md:flex-col gap-6 justify-between items-center"
      >
        <div class="">
          <img
            src="./assets/images/coffe-1.png"
            alt="A delicious cup of coffee beans"
            class="rounded-full block max-md:mx-auto"
          />
        </div>
        <div
          class="flex items-center justify-center md:justify-between gap-10 flex-wrap"
        >
          <h5 class="h5 font-bold textse">Vietnam</h5>
          <p class="m-text text-center mx-auto">Robust, Rich Rituals</p>
        </div>
        <a
          href="./menu.html"
          class="flex items-center relative overflow-hidden theme-transition-6 group justify-center text-2xl bg-black-4 w-20 h-[64px] rounded-full"
        >
          <span
            class="group-hover:absolute group-hover:left-1/2 group-hover:-translate-x-1/2 m-text theme-transition-6 text-center -translate-x-20"
            >Menu</span
          >
          <i
            class="ph ph-arrow-right group-hover:translate-x-25 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 theme-transition-6"
          ></i>
        </a>
      </div>
    </div>
    <!-- card two -->
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="rounded-lg md:rounded-full border border-white-3 p-2 bg-black-4"
    >
      <div
        class="bg-white-4 rounded-lg md:rounded-full px-2 md:ps-2 py-2 md:pe-8 flex max-md:flex-col gap-6 justify-between items-center"
      >
        <div class="">
          <img
            src="./assets/images/coffe-2.png"
            alt="A delicious cup of coffee beans"
            class="rounded-full block max-md:mx-auto"
          />
        </div>
        <div
          class="flex items-center justify-center md:justify-between gap-10 flex-wrap"
        >
          <h5 class="h5 font-bold textse">Brazil</h5>
          <p class="m-text text-center mx-auto">Samba in Every sip</p>
        </div>
        <a
          href="./menu.html"
          class="flex items-center relative overflow-hidden theme-transition-6 group justify-center text-2xl bg-black-4 w-20 h-[64px] rounded-full"
        >
          <span
            class="group-hover:absolute group-hover:left-1/2 group-hover:-translate-x-1/2 m-text theme-transition-6 text-center -translate-x-20"
            >Menu</span
          >
          <i
            class="ph ph-arrow-right group-hover:translate-x-25 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 theme-transition-6"
          ></i>
        </a>
      </div>
    </div>
    <!-- card three -->
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="rounded-lg md:rounded-full border border-white-3 p-2 bg-black-4"
    >
      <div
        class="bg-white-4 rounded-lg md:rounded-full px-2 md:ps-2 py-2 md:pe-8 flex max-md:flex-col gap-6 justify-between items-center"
      >
        <div class="">
          <img
            src="./assets/images/coffe-4.png"
            alt="A delicious cup of coffee beans"
            class="rounded-full block max-md:mx-auto"
          />
        </div>
        <div
          class="flex items-center justify-center md:justify-between gap-10 flex-wrap"
        >
          <h5 class="h5 font-bold textse">Ethiopia</h5>
          <p class="m-text text-center mx-auto">Birthplace of Coffee</p>
        </div>
        <a
          href="./menu.html"
          class="flex items-center relative overflow-hidden theme-transition-6 group justify-center text-2xl bg-black-4 w-20 h-[64px] rounded-full"
        >
          <span
            class="group-hover:absolute group-hover:left-1/2 group-hover:-translate-x-1/2 m-text theme-transition-6 text-center -translate-x-20"
            >Menu</span
          >
          <i
            class="ph ph-arrow-right group-hover:translate-x-25 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 theme-transition-6"
          ></i>
        </a>
      </div>
    </div>
    <!-- card four -->
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="rounded-lg md:rounded-full border border-white-3 p-2 bg-black-4"
    >
      <div
        class="bg-white-4 rounded-lg md:rounded-full px-2 md:ps-2 py-2 md:pe-8 flex max-md:flex-col gap-6 justify-between items-center"
      >
        <div class="">
          <img
            src="./assets/images/coffe-3.png"
            alt="A delicious cup of coffee beans"
            class="rounded-full block max-md:mx-auto"
          />
        </div>
        <div
          class="flex items-center justify-center md:justify-between gap-10 flex-wrap"
        >
          <h5 class="h5 font-bold textse">Colombia</h5>
          <p class="m-text text-center mx-auto">Andean Aromatic Heights</p>
        </div>
        <a
          href="./menu.html"
          class="flex items-center relative overflow-hidden theme-transition-6 group justify-center text-2xl bg-black-4 w-20 h-[64px] rounded-full"
        >
          <span
            class="group-hover:absolute group-hover:left-1/2 group-hover:-translate-x-1/2 m-text theme-transition-6 text-center -translate-x-20"
            >Menu</span
          >
          <i
            class="ph ph-arrow-right group-hover:translate-x-25 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 theme-transition-6"
          ></i>
        </a>
      </div>
    </div>
  </div>
</div>
