<footer class="bg-white-1 rounded-20px sp32px">
  <div class="flex items-center gap-2 text-primary mx-auto w-fit">
    <i class="ph ph-instagram-logo text-2xl"></i>
    <span class="h5 font-bold">Instagram</span>
  </div>
  <div
    class="flex items-center justify-center gap-4 max-lg:flex-wrap lg:gap-6 spt32px"
  >
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
    >
      <img
        src="./assets/images/instagram-image-1.png"
        alt="A delicious cup of coffee beans in a bustling coffee shop"
        class="rounded-20px"
      />
    </div>
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
    >
      <img
        src="./assets/images/instagram-image-2.png"
        alt="A delicious cup of coffee beans in a bustling coffee shop"
        class="rounded-20px"
      />
    </div>
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
    >
      <img
        src="./assets/images/instagram-image-3.png"
        alt="A delicious cup of coffee beans in a bustling coffee shop"
        class="rounded-20px"
      />
    </div>
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
    >
      <img
        src="./assets/images/instagram-image-4.png"
        alt="A delicious cup of coffee beans in a bustling coffee shop"
        class="rounded-20px"
      />
    </div>
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
    >
      <img
        src="./assets/images/instagram-image-5.png"
        alt="A delicious cup of coffee beans in a bustling coffee shop"
        class="rounded-20px"
      />
    </div>
  </div>
  <div class="flex items-center gap-3 mx-auto w-fit spt60px">
    <div>
      <img src="./assets/images/coffe-cup.png" alt="coffee cup" />
    </div>
    <div>
      <img src="./assets/images/logo.png" alt="Logo" />
    </div>
  </div>
  <!-- footer menu -->
  <div
    data-aos="fade-right"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1500"
    class="spt40px flex flex-wrap items-center justify-center gap-6 md:gap-8 lg:gap-11"
  >
    <a
      href="/index.html"
      class="hover:text-primary hover:border-primary theme-transition-3 border-transparent border-b h5 font-bold"
    >
      Home
    </a>
    <a
      href="/about.html"
      class="hover:text-primary hover:border-primary theme-transition-3 border-transparent border-b h5 font-bold"
    >
      About
    </a>
    <a
      href="/menu.html"
      class="hover:text-primary hover:border-primary theme-transition-3 border-transparent border-b h5 font-bold"
    >
      Menu
    </a>
    <a
      href="/blog.html"
      class="hover:text-primary hover:border-primary theme-transition-3 border-transparent border-b h5 font-bold"
    >
      Blog
    </a>
    <a
      href="/contact.html"
      class="hover:text-primary hover:border-primary theme-transition-3 border-transparent border-b h5 font-bold"
    >
      Contact
    </a>
  </div>
  <!-- social icons -->
  <div
    data-aos="fade-left"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1200"
    class="flex items-center spb48px mx-auto spt48px w-fit gap-3 aos-init aos-animate"
  >
    <a
      href="/"
      class="group theme-transition-3 flex size-12 items-center justify-center rounded-full border border-black-4 hover:bg-primary"
    >
      <i
        class="ph ph-facebook-logo theme-transition-3 shrink-0 text-[24px] text-secondary group-hover:text-white-1"
      ></i>
    </a>
    <a
      href="/"
      class="group theme-transition-3 flex size-12 items-center justify-center rounded-full border border-black-4 hover:bg-primary"
    >
      <i
        class="ph ph-instagram-logo theme-transition-3 shrink-0 text-[24px] text-secondary group-hover:text-white-1"
      ></i>
    </a>
    <a
      href="/"
      class="group theme-transition-3 flex size-12 items-center justify-center rounded-full border border-black-4 hover:bg-primary"
    >
      <i
        class="ph ph-twitch-logo theme-transition-3 shrink-0 text-[24px] text-secondary group-hover:text-white-1"
      ></i>
    </a>
    <a
      href="/"
      class="group theme-transition-3 flex size-12 items-center justify-center rounded-full border border-black-4 hover:bg-primary"
    >
      <i
        class="ph ph-linkedin-logo theme-transition-3 shrink-0 text-[24px] text-secondary group-hover:text-white-1"
      ></i>
    </a>
  </div>
  <!-- copyright -->
  <div
    data-aos="fade-right"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1200"
    class="border-t mx-auto spt48px border-black-4"
  >
    <div class="flex items-center gap-3 max-[480px]:flex-col w-fit mx-auto">
      <p class="l-text font-medium">Copyright @ 2024 Caffez</p>
      <div class="h-5 w-0.5 bg-secondary max-[480px]:hidden"></div>
      <p class="xl-text font-medium text-secondary">
        Designed By
        <a href="/" class="text-primary underline">Pixelaxis</a>
      </p>
    </div>
  </div>
</footer>
