<div data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="col-span-12 xl:col-span-4 3xl:col-span-6">
  <div class="sticky top-4 sm:top-6">
    <div class="md:max-h-[90vh] max-lg:h-[450px] mb-6 lg:h-dvh">
      <!-- For use image -->
      <!-- <img class="imagemain" src="images/panthouse-tonic.png" alt="icon"> -->
      <video class="w-full h-full object-cover rounded-3xl" muted loop autoplay>
        <source src="https://softivuspro.com/rest/Coffee%20Shop.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>
