<div
  data-aos="zoom-in"
  data-aos-anchor-placement="top-bottom"
  data-aos-duration="1500"
  id="scrollPosition"
  class="rounded-20px border relative border-black-4 sp32px flex max-sm:flex-col-reverse gap-10 items-center"
>
  <div>
    <h5 class="h5 font-bold text-primary">Discover</h5>
    <h3 class="font-bold h3 text-secondary pt-3">Our Story</h3>
    <p class="l-text text-black-2 pt-3">
      Experience the refined world of coffee and delectable cuisine, crafted
      with passion by our expert owner-baristas, in the heart of Saint-Tropez.
    </p>
    <!-- button -->
    <div class="btn-area w-fit spt32px z-20">
      <a
        href="#"
        aria-label="Contact"
        class="move-btn theme-transition-4 flex items-center text-center text-secondary"
      >
        <span
          class="one m-text theme-transition-4 min-h-[45px] rounded-2xl bg-black-4 px-8 py-3 font-medium capitalize"
        >
          More About Us
        </span>
        <span
          class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center rounded-2xl border border-black-4 bg-black-4 p-2.5 text-center"
        >
          <i
            class="ph ph-arrow-up-right text-[24px]"
            data-icon-name="arrow-right"
          ></i>
        </span>
      </a>
    </div>
  </div>
  <div class="xxl:shrink-0">
    <img
      src="./assets/images/discover-section-image.png"
      alt="A delicious coffee and cuisine in Saint-Tropez, crafted with passion"
      class="rounded-lg"
    />
  </div>
</div>
