<div
  data-aos="zoom-in"
  data-aos-anchor-placement="top-bottom"
  data-aos-duration="1500"
  class="rounded-20px border relative border-black-4 sp32px"
>
  <h5 class="h5 font-bold text-primary text-center">Testimonials</h5>
  <h3 class="h3 font-bold text-secondary text-center pt-3">
    What Our Visitors Say
  </h3>
  <div class="testimonial-slider spt40px overflow-hidden">
    <div class="swiper-wrapper">
      <!-- slider one -->
      <div class="swiper-slide">
        <div class="flex items-center gap-1 text-[24px] text-primary">
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
        </div>
        <p class="m-text pt-6">
          "Incredibly impressed on-demand cleaning service. Prompt, thorough and
          left home sparkling. A game-changer for busy schedules! Uber has
          transformed my daily commute.
        </p>
        <div class="spt32px flex gap-4 sm:gap-8 items-center">
          <div class="flex items-center gap-4 max-sm:flex-wrap">
            <div>
              <img
                src="./assets/images/testimonial-1.png"
                alt="Testimonials image"
                class="rounded-full"
              />
            </div>
            <div>
              <h5 class="h5 font-bold text-secondary">Esther Howard</h5>
              <p class="m-text pt-1">@iamsedaoi&wv</p>
            </div>
          </div>
          <div class="h-10 w-px bg-primary"></div>
          <a href="#"
            ><i class="ph-fill text-2xl text-primary ph-twitter-logo"></i
          ></a>
        </div>
      </div>
      <!-- slider two -->
      <div class="swiper-slide">
        <div class="flex items-center gap-1 text-[24px] text-primary">
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
        </div>
        <p class="m-text pt-6">
          "Incredibly impressed on-demand cleaning service. Prompt, thorough and
          left home sparkling. A game-changer for busy schedules! Uber has
          transformed my daily commute.
        </p>
        <div class="spt32px flex gap-4 sm:gap-8 items-center">
          <div class="flex items-center gap-4 max-sm:flex-wrap">
            <div>
              <img
                src="./assets/images/testimonial-2.png"
                alt="Testimonials image"
                class="rounded-full"
              />
            </div>
            <div>
              <h5 class="h5 font-bold text-secondary">Esther Howard</h5>
              <p class="m-text pt-1">@iamsedaoi&wv</p>
            </div>
          </div>
          <div class="h-10 w-px bg-primary"></div>
          <a href="#"
            ><i class="ph-fill text-2xl text-primary ph-twitter-logo"></i
          ></a>
        </div>
      </div>
      <!-- slider three -->
      <div class="swiper-slide">
        <div class="flex items-center gap-1 text-[24px] text-primary">
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
        </div>
        <p class="m-text pt-6">
          "Incredibly impressed on-demand cleaning service. Prompt, thorough and
          left home sparkling. A game-changer for busy schedules! Uber has
          transformed my daily commute.
        </p>
        <div class="spt32px flex gap-4 sm:gap-8 items-center">
          <div class="flex items-center gap-4 max-sm:flex-wrap">
            <div>
              <img
                src="./assets/images/testimonial-1.png"
                alt="Testimonials image"
                class="rounded-full"
              />
            </div>
            <div>
              <h5 class="h5 font-bold text-secondary">Esther Howard</h5>
              <p class="m-text pt-1">@iamsedaoi&wv</p>
            </div>
          </div>
          <div class="h-10 w-px bg-primary"></div>
          <a href="#"
            ><i class="ph-fill text-2xl text-primary ph-twitter-logo"></i
          ></a>
        </div>
      </div>
      <!-- slider fore -->
      <div class="swiper-slide">
        <div class="flex items-center gap-1 text-[24px] text-primary">
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
        </div>
        <p class="m-text pt-6">
          "Incredibly impressed on-demand cleaning service. Prompt, thorough and
          left home sparkling. A game-changer for busy schedules! Uber has
          transformed my daily commute.
        </p>
        <div class="spt32px flex gap-4 sm:gap-8 items-center">
          <div class="flex items-center gap-4 max-sm:flex-wrap">
            <div>
              <img
                src="./assets/images/testimonial-2.png"
                alt="Testimonials image"
                class="rounded-full"
              />
            </div>
            <div>
              <h5 class="h5 font-bold text-secondary">Esther Howard</h5>
              <p class="m-text pt-1">@iamsedaoi&wv</p>
            </div>
          </div>
          <div class="h-10 w-px bg-primary"></div>
          <a href="#"
            ><i class="ph-fill text-2xl text-primary ph-twitter-logo"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center spt60px">
    <div
      class="border !bottom-0 border-black-1 px-4 py-2 rounded-full relative swiper-pagination !flex !w-fit !items-center !gap-2"
    ></div>

    <div class="flex items-center gap-3 relative z-10">
      <button
        class="text-primary border hover:bg-primary hover:text-white-4 duration-300 border-primary rounded-full customerSliderPrev size-10 sm:size-12"
      >
        <i class="ph ph-arrow-up-left text-2xl"></i>
      </button>
      <button
        class="text-primary border customerSliderNext hover:bg-primary hover:text-white-4 duration-300 border-primary rounded-full size-10 sm:size-12"
      >
        <i class="ph ph-arrow-up-right text-2xl"></i>
      </button>
    </div>
  </div>
</div>
