<section class="spb120px bg-white-4">
  <div class="container">
    <div class="grid grid-flow-dense grid-cols-12 gap-6">
      <div class="col-start-1 col-end-13 space-y-6 4xl:col-end-9">
        <div
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="1500"
          class="banner-bg spl60px grid-cols-2 flex-col-reverse items-center gap-2 rounded-3xl bg-accent-2 bg-right-top bg-no-repeat pr-8 max-lg:flex lg:grid"
        >
          <div class="max-lg:spy80px">
            <h1 class="d4 font-bold">THE NEXT - GEN FINANCE APP</h1>
            <p class="m-text mt-3 text-black-4">
              The Ultimate Finance App Cutting-Edge Features for Next-Generation
              Management and Planning.
            </p>
            <div
              class="spt40px flex justify-between gap-6 max-lg:flex-col lg:items-center"
            >
              <p
                class="s-text copy-email w-full cursor-pointer rounded-2xl border border-black-4/40 p-4 text-black-4"
              >
                sander@example.com
              </p>
              <div class="btn-area z-20 shrink-0">
                <a
                  href="#"
                  aria-label="Contact"
                  class="move-btn theme-transition-4 flex items-center text-center text-white-1"
                >
                  <span
                    class="one m-text theme-transition-4 min-h-8 rounded-2xl bg-primary px-8 py-4 font-medium capitalize"
                  >
                    Get Started
                  </span>
                  <span
                    class="two d-center theme-transition-4 flex min-h-8 shrink-0 items-center justify-center rounded-2xl border border-primary bg-primary p-4 text-center"
                  >
                    <i
                      class="ph ph-arrow-up-right text-[24px]"
                      data-icon-name="arrow-right"
                    ></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="">
            <img
              src="./assets/images/banner-phone-ui.png"
              alt="banner phone ui"
              class="pt-16 sm:pt-[90px]"
            />
          </div>
        </div>
        <!-- brand slider -->
        <div
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="1500"
          class="spy80px overflow-hidden rounded-3xl bg-[#D4FFE9]"
        >
          <div class="brand-slider smooth">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-1.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-2.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-3.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-4.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-5.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-6.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-7.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-1.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-2.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-3.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-4.png" alt="band logo " />
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/band-logo-5.png" alt="band logo " />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- banner right side -->
      <div class="col-start-1 col-end-13 4xl:col-start-9">
        <div class="grid h-full grid-cols-2 gap-6 lg:max-4xl:grid-rows-2">
          <div
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="1500"
            class="flex flex-col items-center justify-center rounded-xl bg-primary px-[78px] py-12 max-4xl:col-start-1 max-4xl:col-end-2 max-sm:col-end-3 lg:max-4xl:row-start-1 lg:max-4xl:row-end-2"
          >
            <p
              class="l-text capitalize text-white-1 max-4xl:col-start-1 max-4xl:col-end-2 max-4xl:row-start-1 max-4xl:row-end-2"
            >
              Active user
            </p>
            <p
              class="h2 text-center font-bold text-white-1 flex items-center justify-center"
            >
              <span data-counter-value="17" class="odometer"></span>
              <span>K+</span>
            </p>
          </div>
          <div
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="1500"
            class="flex flex-col items-center justify-center rounded-xl bg-secondary px-[78px] py-12 max-sm:col-start-1 max-sm:col-end-3 sm:max-4xl:col-end-2 sm:max-lg:col-start-2 lg:max-4xl:col-start-1 lg:max-4xl:row-start-2 lg:max-4xl:row-end-2"
          >
            <p class="l-text capitalize text-black-4">Stories</p>
            <p
              class="h2 text-center font-bold text-black-4 flex items-center justify-center"
            >
              <span data-counter-value="4" class="odometer"></span>
              <span> K+</span>
            </p>
          </div>
          <div
            data-aos="zoom-in"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="1500"
            class="col-start-1 col-end-3 overflow-hidden rounded-3xl bg-white-1 lg:col-start-2 lg:max-4xl:row-start-1 lg:max-4xl:row-end-3 4xl:col-start-1"
          >
            <div
              class="spt80px spb60px relative flex flex-col gap-5 rounded-full text-center"
            >
              <div
                class="absolute -top-1/2 size-[150%] w-full rounded-bl-full rounded-br-full bg-secondary"
              ></div>
              <p class="h3 z-10 font-bold text-black-2">
                Total <br />
                Download
              </p>
              <p
                class="d4 z-10 font-bold text-black-1 flex items-center justify-center"
              >
                <span data-counter-value="162" class="odometer"></span>
                <span>M</span>
              </p>
            </div>
            <div
              class="spt60px max-4xl:spb80px flex flex-col items-center justify-center gap-6"
            >
              <img src="./assets/images/google-play.png" alt="Google Play" />
              <img src="./assets/images/apple-play.png" alt="Apple Play" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
