<section class="py-14 sm:py-16 md:py-20 lg:py-[120px]">
  <div class="container">
    <div class="grid grid-cols-12 gap-4 md:gap-6 items-center">
      <div class="col-span-full">
        <div data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="1600" class="flex justify-between items-center gap-4 mb-8 md:mb-10 lg:mb-[60px] max-sm:flex-wrap">
          <div class="">
            <h5 class="mb-4 text-primary">Articles</h5>
            <span class="display-4">Our Latest Articles</span>
          </div>
          <div class="">
            <div class="md:flex border-[2px] border-primary hover:border-nc10 duration-500 p-1">
              <a href="#" class="flex items-center group duration-700">
                <span class="py-2 px-4 lg:px-6 sm:text-base bg-primary hover:bg-transparent text-nb10 duration-500 font-medium">Learn
                  More</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4">
        <div data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="1200" class="group duration-500">
          <div class="rounded-2xl mb-5 md:mb-6 lg:mb-8">
            <img class="rounded-2xl" src="assets/images/guide-to-smart.png" alt="Icon">
          </div>
          <div class="flex items-center mb-3">
            <span class="text-base opacity-70">Investment</span>
            <i class="ph ph-dot opacity-70 sm:text-3xl"></i>
            <span class="text-base opacity-70">6min read</span>
          </div>
          <h4 class="mb-3">A Guide to Smart Investing in Turbulent Times</h4>
          <p class="sm:text-lg opacity-80 mb-5 md:mb-6 lg:mb-8">Explore strategies to navigate the unpredictable
            nature of financial markets.</p>
          <a href="./blog-details.html" class="underline sm:text-xl group-hover:text-primary font-normal duration-500">VIEW DETAILS <i
              class="ph-bold ph-arrow-up-right group-hover:text-primary text-2xl"></i></a>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4">
        <div data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="1600" class="group duration-500">
          <div class="rounded-2xl mb-5 md:mb-6 lg:mb-8">
            <img class="rounded-2xl" src="assets/images/aligning-profit.png" alt="Icon">
          </div>
          <div class="flex items-center mb-3">
            <span class="text-base opacity-70">Investment</span>
            <i class="ph ph-dot opacity-70 sm:text-3xl"></i>
            <span class="text-base opacity-70">6min read</span>
          </div>
          <h4 class="mb-3">Aligning Profit with Purpose for a Sustainable Future</h4>
          <p class="sm:text-lg opacity-80 mb-5 md:mb-6 lg:mb-8">Explore strategies to navigate the unpredictable
            nature of financial markets.</p>
          <a href="./blog-details.html" class="underline sm:text-xl group-hover:text-primary font-normal duration-500">VIEW DETAILS <i
              class="ph-bold ph-arrow-up-right group-hover:text-primary text-2xl"></i></a>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4">
        <div data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="1900" class="group duration-500">
          <div class="rounded-2xl mb-5 md:mb-6 lg:mb-8">
            <img class="rounded-2xl" src="assets/images/solid-investmen.png" alt="Icon">
          </div>
          <div class="flex items-center mb-3">
            <span class="text-base opacity-70">Investment</span>
            <i class="ph ph-dot opacity-70 sm:text-3xl"></i>
            <span class="text-base opacity-70">6min read</span>
          </div>
          <h4 class="mb-3">Building Solid Investmen Portfolio for Your Golden Years</h4>
          <p class="sm:text-lg opacity-80 mb-5 md:mb-6 lg:mb-8">Explore strategies to navigate the unpredictable
            nature of financial markets.</p>
          <a href="./blog-details.html" class="underline sm:text-xl group-hover:text-primary font-normal duration-500">VIEW DETAILS <i
              class="ph-bold ph-arrow-up-right group-hover:text-primary text-2xl"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>