<section id="faqs" class="py-14 sm:py-16 md:py-20 lg:py-[120px] bg-nc20">
    <div class="container">
      <div class="grid grid-cols-12 sm:gap-6">
        <div class="col-span-full">
          <div class="text-center mb-8 md:mb-10 lg:mb-[60px]">
            <h5 class="mb-4 md:mb-5 text-primary">FAQ</h5>
            <span class="display-4">Frequently Asked Questions</span>
          </div>
        </div>
        <div class="col-span-full sm:col-span-6">
          <div class="accordion-section">
            <div class="accordion-single accsingle mb-5 rounded-xl border border-secondary1 opacity-60 p-3 md:px-4 md:py-3"
              data-aos="fade-up" data-aos-duration="1200">
              <h5 class="header-area flex items-center justify-between  rounded-xl">
                <button
                  class="accordion-btn flex items-start relative w-100 fw-bolder text-start md:text-xl font-medium"
                  type="button">
                  Can I personalize the cards ?
                </button>
                <button class="arrowclickable p-1 md:p-2 lg:p-3 rounded-full flex text-at10">
                  <i class="ph ph-plus-circle ph-plus sm:text-3xl"></i>
                  <i class="ph ph-minus-circle ph-minus sm:text-3xl hidden"></i>
                </button>
              </h5>
              <div class="content-area hidden">
                <div class="content-body">
                  <p class="text-lg font-normal w-[90%] opacity-80">Our cancellation policy varies depending on the
                    service and
                    service
                    provider. Please check the terms before booking.</p>
                </div>
              </div>
            </div>
            <div class="accordion-single accsingle mb-5 rounded-xl border border-secondary1 opacity-60 p-3 md:px-4 md:py-3"
              data-aos="fade-up" data-aos-duration="1200">
              <h5 class="header-area flex items-center justify-between  rounded-xl">
                <button
                  class="accordion-btn flex items-start relative w-100 fw-bolder text-start md:text-xl font-medium"
                  type="button">
                  Do you offer bulk discounts ?
                </button>
                <button class="arrowclickable p-1 md:p-2 lg:p-3 rounded-full flex text-at10">
                  <i class="ph ph-plus-circle ph-plus sm:text-3xl"></i>
                  <i class="ph ph-minus-circle ph-minus sm:text-3xl hidden"></i>
                </button>
              </h5>
              <div class="content-area hidden">
                <div class="content-body">
                  <p class="text-lg font-normal w-[90%] opacity-80">Our cancellation policy varies depending on the
                    service and
                    service
                    provider. Please check the terms before booking.</p>
                </div>
              </div>
            </div>
            <div class="accordion-single accsingle mb-5 rounded-xl border border-secondary1 opacity-60 p-3 md:px-4 md:py-3"
              data-aos="fade-up" data-aos-duration="1200">
              <h5 class="header-area flex items-center justify-between  rounded-xl">
                <button
                  class="accordion-btn flex items-start relative w-100 fw-bolder text-start md:text-xl font-medium"
                  type="button">
                  Can I save my favorite designs ?
                </button>
                <button class="arrowclickable p-1 md:p-2 lg:p-3 rounded-full flex text-at10">
                  <i class="ph ph-plus-circle ph-plus sm:text-3xl"></i>
                  <i class="ph ph-minus-circle ph-minus sm:text-3xl hidden"></i>
                </button>
              </h5>
              <div class="content-area hidden">
                <div class="content-body">
                  <p class="text-lg font-normal w-[90%] opacity-80">Our cancellation policy varies depending on the
                    service and
                    service
                    provider. Please check the terms before booking.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-full sm:col-span-6">
          <div class="accordion-section">
            <div class="accordion-single accsingle mb-5 rounded-xl border border-secondary1 opacity-60 p-3 md:px-4 md:py-3"
              data-aos="fade-up" data-aos-duration="1200">
              <h5 class="header-area flex items-center justify-between  rounded-xl">
                <button
                  class="accordion-btn flex items-start relative w-100 fw-bolder text-start md:text-xl font-medium"
                  type="button">
                  How can I track my card order ?
                </button>
                <button class="arrowclickable p-1 md:p-2 lg:p-3 rounded-full flex text-at10">
                  <i class="ph ph-plus-circle ph-plus sm:text-3xl"></i>
                  <i class="ph ph-minus-circle ph-minus sm:text-3xl hidden"></i>
                </button>
              </h5>
              <div class="content-area hidden">
                <div class="content-body">
                  <p class="text-lg font-normal w-[90%] opacity-80">Our cancellation policy varies depending on the
                    service and
                    service
                    provider. Please check the terms before booking.</p>
                </div>
              </div>
            </div>
            <div class="accordion-single accsingle mb-5 rounded-xl border border-secondary1 opacity-60 p-3 md:px-4 md:py-3"
              data-aos="fade-up" data-aos-duration="1200">
              <h5 class="header-area flex items-center justify-between  rounded-xl">
                <button
                  class="accordion-btn flex items-start relative w-100 fw-bolder text-start md:text-xl font-medium"
                  type="button">
                  Are your cards eco-friendly ? 
                </button>
                <button class="arrowclickable p-1 md:p-2 lg:p-3 rounded-full flex text-at10">
                  <i class="ph ph-plus-circle ph-plus sm:text-3xl"></i>
                  <i class="ph ph-minus-circle ph-minus sm:text-3xl hidden"></i>
                </button>
              </h5>
              <div class="content-area hidden">
                <div class="content-body">
                  <p class="text-lg font-normal w-[90%] opacity-80">Our cancellation policy varies depending on the
                    service and
                    service
                    provider. Please check the terms before booking.</p>
                </div>
              </div>
            </div>
            <div class="accordion-single accsingle mb-5 rounded-xl border border-secondary1 opacity-60 p-3 md:px-4 md:py-3"
              data-aos="fade-up" data-aos-duration="1200">
              <h5 class="header-area flex items-center justify-between  rounded-xl">
                <button
                  class="accordion-btn flex items-start relative w-100 fw-bolder text-start md:text-xl font-medium"
                  type="button">
                  Need assistance with an orde ?
                </button>
                <button class="arrowclickable p-1 md:p-2 lg:p-3 rounded-full flex text-at10">
                  <i class="ph ph-plus-circle ph-plus sm:text-3xl"></i>
                  <i class="ph ph-minus-circle ph-minus sm:text-3xl hidden"></i>
                </button>
              </h5>
              <div class="content-area hidden">
                <div class="content-body">
                  <p class="text-lg font-normal w-[90%] opacity-80">Our cancellation policy varies depending on the
                    service and
                    service
                    provider. Please check the terms before booking.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>