<footer class="pt-14 sm:pt-16 md:pt-20 lg:pt-[120px] bg-nc20">
    <div class="container">
      <div class="grid grid-cols-12 gap-6 md:gap-10 pb-5 md:pb-6 lg:pb-8 border-b border-[#20242C]">
        <div class="col-span-full lg:col-span-5">
          <div data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="1000" class="">
            <a href="./index.html" class="flex items-center gap-3 mb-6 md:mb-8 lg:mb-10">
              <img src="assets/images/logo.png" alt="Logo">
              <h2 class="">Inverto</h2>
            </a>
            <span class="display-4 mb-6 md:mb-8 lg:mb-10">Subscribe to the newsletter</span>
            <form class="mb-6 md:mb-8 lg:mb-10">
              <div class="flex items-center border border-secondary1 rounded-full p-2">
                <input type="text" placeholder="Enter your email address" class="w-full border-0 placeholder:opacity-60">
                <button type="submit"
                  class="px-5 lg:px-6 py-[10px] rounded-full bg-primary font-medium text-nowrap max-sm:text-sm">Start Free
                  Trial</button>
              </div>
            </form>
            <ul class="flex items-center gap-2 md:gap-3">
              <li>
                <a href="#" class="size-12 rounded-full p-2 md:p-3 border border-secondary1 d-center hover:bg-primary duration-500">
                  <i class="ph ph-facebook-logo"></i>
                </a>
              </li>
              <li>
                <a href="#" class="size-12 rounded-full p-2 md:p-3 border border-secondary1 d-center hover:bg-primary duration-500">
                  <i class="ph ph-youtube-logo"></i>
                </a>
              </li>
              <li>
                <a href="#" class="size-12 rounded-full p-2 md:p-3 border border-secondary1 d-center hover:bg-primary duration-500">
                  <i class="ph ph-instagram-logo"></i>
                </a>
              </li>
              <li>
                <a href="#" class="size-12 rounded-full p-2 md:p-3 border border-secondary1 d-center hover:bg-primary duration-500">
                  <i class="ph ph-pinterest-logo"></i>
                </a>
              </li>
              <li>
                <a href="#" class="size-12 rounded-full p-2 md:p-3 border border-secondary1 d-center hover:bg-primary duration-500">
                  <i class="ph ph-twitch-logo"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hidden xl:block xl:col-span-1"></div>
        <div class="col-span-full lg:col-span-7 xl:col-span-6">
          <div class="grid grid-cols-6 gap-6 justify-between">
            <div class="col-span-3 sm:col-span-2">
              <div data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-duration="1200" class="">
                <h3 class="mb-6 md:mb-8 lg:mb-10">Product</h3>
                <ul class="flex flex-col gap-3 lg:gap-4">
                  <li><a href="./home.html" class="sm:text-lg opacity-80">Home</a></li>
                  <li><a href="./about.html" class="sm:text-lg opacity-80">About</a></li>
                  <li><a href="./blog.html" class="sm:text-lg opacity-80">Blog</a></li>
                  <li><a href="./features.html" class="sm:text-lg opacity-80">Features</a></li>
                </ul>
              </div>
            </div>
            <div class="col-span-3 sm:col-span-2">
              <div data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-duration="1600" class="">
                <h3 class="mb-6 md:mb-8 lg:mb-10">Important</h3>
                <ul class="flex flex-col gap-3 lg:gap-4">
                  <li><a href="./faqs.html" class="sm:text-lg opacity-80">FAQs</a></li>
                  <li><a href="./contact-us.html" class="sm:text-lg opacity-80">Contact</a></li>
                  <li><a href="#" class="sm:text-lg opacity-80">Pricing</a></li>
                  <li><a href="#" class="sm:text-lg opacity-80">Privacy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-span-3 sm:col-span-2">
              <div data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-duration="1800" class="">
                <h3 class="mb-6 md:mb-8 lg:mb-10">Utility</h3>
                <ul class="flex flex-col gap-3 lg:gap-6">
                  <li><a href="#" class="sm:text-lg opacity-80">Style Guide</a></li>
                  <li><a href="#" class="sm:text-lg opacity-80">Change Log</a></li>
                  <li><a href="#" class="sm:text-lg opacity-80">Licensing</a></li>
                  <li><a href="#" class="sm:text-lg opacity-80">Instructions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center sm:justify-between gap-1 sm:gap-4 py-6 md:py-8 max-sm:flex-wrap">
        <div class="">
          <span class="sm:text-lg">Copyright @ 2024 Investo</span>
        </div>
        <div class="flex items-center gap-1">
          <span class="sm:text-lg">Designed By</span>
          <a href="#" class="sm:text-lg text-primary underline">Pixelaxis</a>
        </div>
      </div>
    </div>
  </footer>