<section
class="py-14 sm:py-16 md:py-20 lg:py-[120px] bg-[url('/src/assets/images/call-to-action.png')] bg-no-repeat bg-cover">
<div class="container">
  <div class="grid grid-cols-12 gap-4 md:gap-6 items-center">
    <div class="col-span-full sm:col-span-6">
      <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1200" class="">
        <h5 class="mb-4">Newsletter</h5>
        <span class="display-4 mb-3">See if Inverto is right for you</span>
        <p class="sm:text-lg">In just 30 days, our finance mobile app offers unparalleled precision in identifying
          crucial market trends and opportunities.</p>
      </div>
    </div>
    <span class=" xl:col-span-2"></span>
    <div class="col-span-full sm:col-span-4">
      <div class="flex items-center flex-wrap lg:flex-nowrap gap-2 sm:gap-4 md:gap-8">
        <a href="#" class="flex items-center group duration-500">
          <i class="ph ph-download-simple p-3 md:p-4 bg-nc50 rounded-full text-nc30 group-hover:order-last duration-300"></i>
          <span class="px-8 md:px-10 py-3 md:py-4 bg-nc50 rounded-full text-nc30 font-medium">iOS</span>
        </a>
        <a href="#" class="flex items-center group duration-500">
          <i class="ph ph-download-simple p-3 md:p-4 bg-nc50 rounded-full text-nc30 group-hover:order-last duration-300"></i>
          <span class="px-8 md:px-10 py-3 md:py-4 bg-nc50 rounded-full text-nc30 font-medium">Android</span>
        </a>
      </div>
    </div>
  </div>
</div>
</section>