<section class="py-[60px] md:py-[80px] lg:py-[120px] bg-nc20">
    <div class="container">
      <div class="grid grid-cols-12 gap-4 sm:gap-6">
        <div class="col-span-full">
          <div data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="1200"
           class="mb-8 md:mb-10 lg:mb-[60px] text-center">
            <h5 class="text-primary mb-3">Testimonial</h5>
            <span class="display-4">What The Customer Say’s</span>
          </div>
        </div>
        <div class="col-span-full">
          <div id="slider" class="px-3 sm:px-6 md:px-10 lg:px-[60px] pb-6 lg:pb-10">
            <div class="swiper brad-carousel-show">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="items-wrapper">
                    <div data-aos="fade-up"
                    data-aos-anchor-placement="bottom-bottom"
                    data-aos-duration="1200" class="rounded-xl border border-[#20242C] hover:border-[#e3327e80] group duration-500 p-2">
                      <div
                        class="rounded-xl border border-[#20242C] group-hover:border-[#e3327e80] duration-500 p-3 py-5 sm:p-6 md:p-7 lg:p-9">
                        <div class="mb-4 lg:mb-5">
                          <img class="rounded-full mx-auto" src="assets/images/darrell.png" alt="Icon">
                        </div>
                        <div
                          class="pb-4 sm:pb-6 mb-5 sm:mb-6 border-b border-[#20242C] group-hover:border-[#e3327e80] duration-500 text-center">
                          <h5 class="mb-1">Darrell Steward</h5>
                          <p class="text-base opacity-70">jackson.graham@example.com</p>
                        </div>
                        <div class="flex items-center justify-center gap-1 mb-5 md:mb-6">
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                        </div>
                        <p class="text-lg text-center opacity-80">Working with Arafat Rony was an absolute pleasure!
                          Their attention to detail and creativity brought my exceed my expectations. Highly recommend!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="items-wrapper">
                    <div data-aos="fade-up"
                    data-aos-anchor-placement="bottom-bottom"
                    data-aos-duration="1600" class="rounded-xl border border-[#20242C] hover:border-[#e3327e80] group duration-500 p-2">
                      <div
                        class="rounded-xl border border-[#20242C] group-hover:border-[#e3327e80] duration-500 p-3 py-5 sm:p-6 md:p-7 lg:p-9">
                        <div class="mb-4 lg:mb-5">
                          <img class="rounded-full mx-auto" src="assets/images/jenny-wilson.png" alt="Icon">
                        </div>
                        <div
                          class="pb-4 sm:pb-6 mb-5 sm:mb-6 border-b border-[#20242C] group-hover:border-[#e3327e80] duration-500 text-center">
                          <h5 class="mb-1">Jenny Wilson</h5>
                          <p class="text-base opacity-70">michelle.rivera@example.com</p>
                        </div>
                        <div class="flex items-center justify-center gap-1 mb-5 md:mb-6">
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                        </div>
                        <p class="text-lg text-center opacity-80">Working with Arafat Rony was an absolute pleasure!
                          Their attention to detail and creativity brought my exceed my expectations. Highly recommend!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="items-wrapper">
                    <div data-aos="fade-up"
                    data-aos-anchor-placement="bottom-bottom"
                    data-aos-duration="1800" class="rounded-xl border border-[#20242C] hover:border-[#e3327e80] group duration-500 p-2">
                      <div
                        class="rounded-xl border border-[#20242C] group-hover:border-[#e3327e80] duration-500 p-3 py-5 sm:p-6 md:p-7 lg:p-9">
                        <div class="mb-4 lg:mb-5">
                          <img class="rounded-full mx-auto" src="assets/images/darrell-steward.png" alt="Icon">
                        </div>
                        <div
                          class="pb-4 sm:pb-6 mb-5 sm:mb-6 border-b border-[#20242C] group-hover:border-[#e3327e80] duration-500 text-center">
                          <h5 class="mb-1">Darrell Steward</h5>
                          <p class="text-base opacity-70">nevaeh.simmons@example.com</p>
                        </div>
                        <div class="flex items-center justify-center gap-1 mb-5 md:mb-6">
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                          <i class="ph-fill ph-star text-nc50"></i>
                        </div>
                        <p class="text-lg text-center opacity-80">Working with Arafat Rony was an absolute pleasure!
                          Their attention to detail and creativity brought my exceed my expectations. Highly recommend!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-span-4">
          <div class="rounded-xl border border-[#20242C] hover:border-[#e3327e80] group duration-500 p-2">
            <div class="rounded-xl border border-[#20242C] group-hover:border-[#e3327e80] duration-500 p-3 py-5 sm:p-6 md:p-7 lg:p-9">
              <div class="mb-4 lg:mb-5">
                <img class="rounded-full mx-auto" src="assets/images/darrell.png" alt="Icon">
              </div>
              <div class="pb-4 sm:pb-6 mb-5 sm:mb-6 border-b border-[#20242C] group-hover:border-[#e3327e80] duration-500 text-center">
                <h5 class="mb-1">Darrell Steward</h5>
                <p class="text-base opacity-70">jackson.graham@example.com</p>
              </div>
              <div class="flex items-center justify-center gap-1 mb-5 md:mb-6">
                <i class="ph-fill ph-star text-nc50"></i>
                <i class="ph-fill ph-star text-nc50"></i>
                <i class="ph-fill ph-star text-nc50"></i>
                <i class="ph-fill ph-star text-nc50"></i>
                <i class="ph-fill ph-star text-nc50"></i>
              </div>
              <p class="text-lg text-center opacity-80">Working with Arafat Rony was an absolute pleasure! Their attention to detail and creativity brought my   exceed my expectations. Highly recommend!</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>