@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto px-3 sm:max-w-[540px] sm:px-0 md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1296px];
  }

  .display-1 {
    @apply text-4xl font-bold md:text-6xl lg:text-[72px] xl:text-[90px] font-OpenSans;
  }

  .display-2 {
    @apply text-3xl font-bold leading-5 md:text-5xl lg:text-[64px] xl:text-[72px] font-OpenSans;
  }

  .display-3 {
    @apply text-3xl font-bold leading-5 md:text-4xl lg:text-[56px] xl:text-[64px] font-OpenSans;
  }

  .display-4 {
    @apply text-3xl font-bold leading-5 md:text-4xl lg:text-[48px] xl:text-[56px] font-OpenSans;
  }

  .fs-one{
    @apply text-3xl font-semibold leading-5 md:text-4xl xl:text-[48px] font-OpenSans;
  }

  .fs-two{
    @apply text-xl font-semibold leading-5 sm:text-2xl lg:text-3xl xxxl:text-[40px] font-OpenSans;
  }

  .fs-three{
    @apply text-xl font-semibold leading-5 sm:font-semibold lg:text-2xl xxxl:text-[32px] font-OpenSans;
  }

  .fs-four{
    @apply text-lg font-semibold leading-5 md:text-xl md:font-semibold xxxl:text-2xl font-OpenSans;
  }

  .fs-five{
    @apply text-base font-medium md:text-xl md:font-semibold font-OpenSans;
  }

  .fs-six{
    @apply text-base font-medium shadow-none;
  }

  .fs-seven{
    @apply text-xs lg:text-sm font-medium shadow-none;
  }

  .fs-eight{
    @apply text-xs font-medium shadow-none;
  }
  
  .btn-outline {
    @apply btn bg-transparent text-primary hover:bg-primary hover:text-n0;
  }

  .btn-white {
    @apply btn border-white bg-white text-primary hover:bg-white dark:border-bg3 dark:bg-bg3;
  }

  .event-unset {
    pointer-events: unset;
  }

}
@layer base {
  i {
    font-size: 1.5rem;
  }
  a,
  p,
  span,
  td {
    @apply text-sm md:text-base font-light;
  }
  span{
    @apply block;
  }
  h1 {
    @apply text-3xl font-semibold leading-5 md:text-4xl xl:text-[48px] font-OpenSans;
  }
  h2 {
    @apply text-xl font-semibold leading-5 sm:text-2xl lg:text-3xl xxxl:text-[40px] font-OpenSans;
  }
  h3 {
    @apply text-xl font-semibold leading-5 sm:font-semibold lg:text-2xl xxxl:text-[32px] font-OpenSans;
  }
  h4 {
    @apply text-lg font-semibold leading-5 md:text-xl md:font-semibold xxxl:text-2xl font-OpenSans;
  }
  h5 {
    @apply text-base font-medium md:text-xl md:font-semibold;
  }
  h6 {
    @apply text-base font-medium shadow-none;
  }

  input:focus,
  textarea:focus {
    @apply outline-none;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  table thead tr th:first-of-type {
    @apply sm:rounded-tl-lg;
  }

  table thead tr th:last-of-type {
    @apply sm:rounded-tr-lg;
  }

  table tbody tr:last-of-type td:first-of-type {
    @apply sm:rounded-bl-lg;
  }

  table tbody tr:last-of-type td:last-of-type {
    @apply sm:rounded-br-lg;
  }

  td {
    vertical-align: middle !important;
  }
  
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  input:checked + div {
    @apply border-primary;
  }

  input:checked + div svg {
    @apply block;
  }

  body {
    font-family: "Kanit", sans-serif;
    background: #000;
    color: #FFFF;
    margin: 0;
    padding: 0 12px;
    line-height: 150%;
    font-size: 16px;
    overflow-y: scroll;
  }

  input.picker[type="date"] {
    position: relative;
  }

  input.picker[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
  }
}


