<div class="spy80px overflow-hidden bg-[#D4FFE9]">
  <div class="brand-slider smooth">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-1.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-2.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-3.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-4.png" alt="band logo" />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-5.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-6.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-7.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-1.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-2.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-3.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-4.png" alt="band logo " />
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/band-logo-5.png" alt="band logo " />
      </div>
    </div>
  </div>
</div>
