<section class="spy120px">
  <div class="price-tab-container container">
    <div
      class="mx-auto flex flex-col items-center justify-center gap-4 text-center"
    >
      <div
        data-aos="zoom-out-down"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="flex items-center justify-center gap-3"
      >
        <i class="ph ph-fire text-[24px] text-primary"></i>
        <h5 class="l-text font-medium text-primary">Choose Your Plan</h5>
      </div>
      <h3
        data-aos="zoom-out-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
        class="h2 font-bold text-black-1"
      >
        Flexible Pricing Options
      </h3>
    </div>
    <div
      class="smt32px mx-auto flex max-w-[207px] rounded-full border border-accent-2 bg-white-1 px-3 py-2"
    >
      <button
        class="m-text tab-links button-monthly rounded-full border border-white-3/40 bg-accent-2 px-4 py-2 capitalize text-black-1"
      >
        Monthly
      </button>
      <button
        class="m-text tab-links button-yearly rounded-full border-white-3/40 px-4 py-2 capitalize text-black-1"
      >
        Yearly
      </button>
    </div>

    <div class="spt60px">
      <div class="grid grid-cols-12 gap-5 xxl:grid-rows-2 xxl:gap-6">
        <div
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="1500"
          class="pricing-card col-start-1 col-end-13 cursor-pointer rounded-3xl bg-primary p-6 sm:col-end-7 xxl:col-end-4 xxl:row-start-1 xxl:row-end-2"
          data-content-id="content-one"
        >
          <div class="flex justify-between">
            <div
              class="flex size-15 items-center justify-center rounded-xl bg-white-1 p-2.5"
            >
              <i class="ph ph-rocket-launch text-[40px] text-primary"></i>
            </div>
            <div
              class="checkbox flex size-12 items-center justify-center rounded-xl border border-white-1 bg-white-1 p-2.5"
            >
              <i class="ph ph-check text-[24px]"></i>
            </div>
          </div>
          <h4 class="h4 spt40px font-bold text-white-1">AppleX Starter</h4>
          <p class="flex pt-3 text-white-1">
            <span class="d3 font-bold">$</span
            ><span class="d3 price-one font-bold">150</span>
            <span class="l-text place-self-end font-medium"> / Yearly </span>
          </p>
        </div>
        <div
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="1500"
          class="pricing-card col-start-1 col-end-13 row-start-1 row-end-2 cursor-pointer rounded-3xl bg-[#0E0D39] p-6 sm:col-start-7 xxl:col-start-4 xxl:col-end-7"
          data-content-id="content-two"
        >
          <div class="flex justify-between">
            <div
              class="flex size-15 items-center justify-center rounded-2xl bg-white-1 p-2.5"
            >
              <i class="ph ph-planet text-[40px] text-primary"></i>
            </div>
            <div
              class="checkbox flex size-12 items-center justify-center rounded-2xl border border-white-1 bg-transparent p-2.5 text-primary"
            >
              <i class="ph ph-check text-[24px]"></i>
            </div>
          </div>
          <h4 class="h4 spt40px font-bold capitalize text-white-1">
            AppleX Plus
          </h4>
          <p class="flex pt-3 text-white-1">
            <span class="d3 font-bold">$</span
            ><span class="d3 price-two font-bold">300</span>
            <span class="l-text place-self-end font-medium"> / Yearly </span>
          </p>
        </div>
        <div
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="1500"
          class="spr60px spb80px spt60px relative col-start-1 col-end-13 rounded-3xl bg-accent-2 p-6 xxl:col-start-7 xxl:col-end-13 xxl:row-start-1 xxl:row-end-3"
        >
          <div class="tab-content" id="content-one">
            <h4 class="h3 font-bold text-black-1">Starter Features</h4>
            <p class="m-text max-w-[590px] pt-3 text-black-4">
              Perfect for small businesses and startups looking to establish a
              strong foundation for communication and collaboration.
            </p>
            <ul class="spt48px flex flex-col gap-5">
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Real-Time Messaging
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Document Sharing
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Task Management
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Video Conferencing
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Basic Integrations
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Standard Security
                </span>
              </li>
            </ul>

            <img
              src="./assets/images/starter-features.png"
              alt="Starter features section image"
              class="absolute bottom-0 right-10 max-sm:hidden sm:max-3xl:size-52"
            />
          </div>
          <div class="tab-content hidden" id="content-two">
            <h4 class="h3 font-bold text-black-1">Plus Features</h4>
            <p class="m-text max-w-[590px] pt-3 text-black-4">
              Perfect for small businesses and startups looking to establish a
              strong foundation for communication and collaboration.
            </p>
            <ul class="spt48px flex flex-col gap-5">
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Real-Time Messaging
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Document Sharing
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Task Management
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Video Conferencing
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Basic Integrations
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Standard Security
                </span>
              </li>
            </ul>

            <img
              src="./assets/images/starter-features.png"
              alt="Starter features section image"
              class="absolute bottom-0 right-10 max-sm:hidden sm:max-3xl:size-52"
            />
          </div>
          <div class="tab-content hidden" id="content-three">
            <h4 class="h3 font-bold text-black-1">Pro Features</h4>
            <p class="m-text max-w-[590px] pt-3 text-black-4">
              Perfect for small businesses and startups looking to establish a
              strong foundation for communication and collaboration.
            </p>
            <ul class="spt48px flex flex-col gap-5">
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Real-Time Messaging
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Document Sharing
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Task Management
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Video Conferencing
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Basic Integrations
                </span>
              </li>
              <li class="flex items-center gap-2">
                <i class="ph ph-check-circle text-[24px]"> </i>
                <span class="l-text font-medium text-black-1">
                  Standard Security
                </span>
              </li>
            </ul>

            <img
              src="./assets/images/starter-features.png"
              alt="Starter features section image"
              class="absolute bottom-0 right-10 max-sm:hidden sm:max-3xl:size-52"
            />
          </div>
        </div>
        <div
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="1500"
          class="pricing-card col-start-1 col-end-13 row-start-2 row-end-3 cursor-pointer rounded-3xl bg-secondary p-6 xxl:col-end-7"
          data-content-id="content-three"
        >
          <div class="flex justify-between">
            <div
              class="flex size-15 items-center justify-center rounded-2xl bg-white-1 p-2.5"
            >
              <i class="ph ph-rocket-launch text-[40px] text-primary"></i>
            </div>
            <div
              class="checkbox flex size-12 items-center justify-center rounded-2xl border border-black-4 bg-transparent p-2.5 text-primary"
            >
              <i class="ph ph-check text-[24px]"></i>
            </div>
          </div>
          <h4 class="h4 spt40px font-bold capitalize text-black-1">
            AppleX Plus
          </h4>
          <p class="flex pt-3 text-black-1">
            <span class="d3 font-bold">$</span>
            <span class="d3 price-three font-bold">475 </span>
            <span class="l-text place-self-end font-medium"> / Yearly </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
