<div class="sticky top-0 z-50">
    <div class="swiper brad-carousel10 h-[100vh] bg-secondary1 rounded-2xl allcarosel">
      <div class="swiper-wrapper py-6 gap-8">
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center justify-center gap-3 rotate-90">
              <img class="" src="./assets/images/bit.png" alt="Icon">
              <span class="text-lg font-medium text-nb10 text-nowrap">3000+ HAPPY CUSTOMERS</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center justify-center gap-3 rotate-90">
              <img class="" src="./assets/images/bit-sound.png" alt="Icon">
              <span class="text-lg font-medium text-nb10 text-nowrap">25+ YEARS EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3 rotate-90">
              <img class="" src="./assets/images/bit.png" alt="Icon">
              <span class="text-lg font-medium text-nb10 text-nowrap">20+ SPECIALIST</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3 rotate-90">
              <img class="" src="./assets/images/bit-sound.png" alt="Icon">
              <span class="text-lg font-medium text-nb10 text-nowrap">25+ YEARS EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3 rotate-90">
              <img class="" src="./assets/images/bit.png" alt="Icon">
              <span class="text-lg font-medium text-nb10 text-nowrap">3000+ HAPPY CUSTOMERS</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3 rotate-90">
              <img class="" src="./assets/images/bit-sound.png" alt="Icon">
              <span class="text-lg font-medium text-nb10 text-nowrap">25+ YEARS EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3 rotate-90">
              <img class="" src="./assets/images/bit.png" alt="Icon">
              <span class="text-lg font-medium text-nb10 text-nowrap">20+ SPECIALIST</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="items-wrapper">
            <div class="flex items-center gap-3 rotate-90">
              <img class="" src="./assets/images/bit-sound.png" alt="Icon">
              <span class="text-lg font-medium text-nb10 text-nowrap">25+ YEARS EXPERIENCE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 