<div class="bg-primary rounded-xl mx-2 md:mx-4 lg:mx-6 mb-2 md:mb-4 lg:mb-6 pt-6 md:pt-10 lg:pt-[60px] px-3 sm:px-5 md:px-6 lg:px-10 pb-6 lg:pb-8">
    <div class="container">
      <div class="grid grid-cols-12 gap-6 mb-6 lg:mb-10">
        <div class="col-span-full lg:col-span-6">
          <div class="">
            <h3 class="mb-3 text-nw10">Subscribe our newsletter</h3>
            <p class="text-nw10 text-lg">strategies proactive domination. At the end of the day, going </p>
          </div>
        </div>
        <div class="col-span-full lg:col-span-6">
          <div class="w-full">
            <form class="flex items-center gap-3 flex-wrap sm:flex-nowrap justify-end sm:justify-center">
              <input class="w-full rounded-xl py-3 lg:py-4 px-4 lg:px-5 bg-primary border border-nw10 text-nw10" placeholder="Your Email" type="text" name="" id="">
              <button class="py-2 lg:py-4 px-6 lg:px-8 bg-secondary1 rounded-xl font-medium">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-6 mb-6 lg:mb-10 items-center justify-center">
        <div class="col-span-full xxl:col-span-3">
          <div class="">
            <a class="flex items-center gap-5 justify-center xxl:justify-start" href="index.html">
              <img src="./assets/images/footer-logo1.png" alt="Image">
              <h3 class="text-nw10">Tarapy</h3>
            </a>
          </div>
        </div>
        <div class="col-span-full xxl:col-span-6">
          <div class="footnav">
            <ul class="flex justify-center items-center gap-2 sm:gap-5 md:gap-8 lg:gap-10 flex-wrap">
              <li><a class="text-nw10 sm:text-xl" href="">Home</a></li>
              <li><a class="text-nw10 sm:text-xl" href="">Services</a></li>
              <li><a class="text-nw10 sm:text-xl" href="">Blog</a></li>
              <li><a class="text-nw10 sm:text-xl" href="">Events</a></li>
              <li><a class="text-nw10 sm:text-xl" href="">Portfolio</a></li>
              <li><a class="text-nw10 sm:text-xl" href="">Shop</a></li>
              <li><a class="text-nw10 sm:text-xl" href="">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-span-full xxl:col-span-3">
          <div class="">
            <ul class="flex items-center justify-center xxl:justify-end gap-3">
              <li>
                <a class="p-3 rounded-full hover:bg-nw10 group text-nw10 border border-nw10 size-[40px] flex items-center justify-center duration-300" href="#">
                <i class="ph ph-twitch-logo text-2xl group-hover:text-primary"></i>
              </a>
              </li>
              <li>
                <a class="p-3 rounded-full hover:bg-nw10 group text-nw10 border border-nw10 size-[40px] flex items-center justify-center duration-300" href="#">
                <i class="ph ph-instagram-logo text-2xl group-hover:text-primary"></i>
              </a>
              </li>
              <li>
                <a class="p-3 rounded-full hover:bg-nw10 group text-nw10 border border-nw10 size-[40px] flex items-center justify-center duration-300" href="#">
                <i class="ph ph-facebook-logo text-2xl group-hover:text-primary"></i>
              </a>
              </li>
              <li>
                <a class="p-3 rounded-full hover:bg-nw10 group text-nw10 border border-nw10 size-[40px] flex items-center justify-center duration-300" href="#">
                <i class="ph ph-discord-logo text-2xl group-hover:text-primary"></i>
              </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-full">
          <hr class="p-1">
        </div>
        <div class="col-span-full">
          <div class="text-center">
            <span class="text-nw10">Copyright @ 2024 <a href="index.html">Tarapy</a>  | Designed By <a href="https://themeforest.net/user/pixelaxis" class="text-secondary1 font-medium">Pixelaxis</a></span>

          </div>
        </div>
      </div>
    </div>
  </div>