<div
    class="navheight flex xxl:flex-col justify-between px-4 md:px-10 xxxl:px-7 py-3 xxl:py-10 xxl:h-[97vh] xxl:sticky bg-nw10 border rounded-lg overflow-hidden">
    <div class="flex justify-center items-center mt-2 xxl:mb-[66px]">
        <a class="flex xxl:flex-col xxl:items-center gap-2 md:gap-3 xxl:gap-0" href="../index.html">
            <img class="max-w-fit md:mb-5 w-10 sm:w-13 xxl:w-full" src="assets/images/terapy-logo.png" alt="Logo">
            <h4 class="text-nb10 font-bold">Tarapy</h4>
        </a>
    </div>
    <div class="relative hidden xxl:block navscrolhide">
        <ul id="navigation-bar" class="flex flex-col justify-between gap-1 items-center">
            <li class="rotate-180">
                <a href="../index.html"
                    class="[writing-mode:vertical-rl] px-3 py-3 rounded-lg text-base opacity-60 hover:opacity-100 text-nb10 duration-500 hover:text-nb10 font-medium btnstyle">About</a>
            </li>
            <li class="rotate-180">
                <a class="[writing-mode:vertical-rl] px-3 py-3 rounded-lg text-base opacity-60 hover:opacity-100 text-nb10 duration-500 hover:text-nb10 font-medium btnstyle"
                    href="../index.html">Services</a>
            </li>
            <li class="rotate-180">
                <a class="[writing-mode:vertical-rl] px-3 py-3 rounded-lg text-base opacity-60 hover:opacity-100 text-nb10 duration-500 hover:text-nb10 font-medium btnstyle"
                    href="../index.html">Blog</a>
            </li>
            <li class="rotate-180">
                <a class="[writing-mode:vertical-rl] px-3 py-3 rounded-lg text-base opacity-60 hover:opacity-100 text-nb10 duration-500 hover:text-nb10 font-medium btnstyle"
                    href="../index.html">Events</a>
            </li>
            <li class="rotate-180">
                <a class="[writing-mode:vertical-rl] px-3 py-3 rounded-lg text-base opacity-60 hover:opacity-100 text-nb10 duration-500 hover:text-nb10 font-medium btnstyle"
                    href="../index.html">Portfolio</a>
            </li>
            <li class="rotate-180">
                <a class="[writing-mode:vertical-rl] px-3 py-3 rounded-lg text-base opacity-60 hover:opacity-100 text-nb10 duration-500 hover:text-nb10 font-medium btnstyle"
                    href="../index.html">Shop</a>
            </li>
            <li class="rotate-180">
                <a class="[writing-mode:vertical-rl] px-3 py-3 rounded-lg text-base opacity-60 hover:opacity-100 text-nb10 duration-500 hover:text-nb10 font-medium btnstyle"
                    href="../index.html">Contact</a>
            </li>
        </ul>
    </div>
    <div class="relative order-first xxl:order-none mt-1 xxl:mt-0 xxl:hidden z-[999] mobile-navss">
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <ul class="flex flex-col justify-between items-center">
                    <li class="">
                        <a class="px-3 py-6 rounded-lg text-nw40 hover:bg-primary duration-500 hover:text-nb10 font-medium text-3xl"
                            href="../index.html">Home</a>
                    </li>
                    <li class="">
                        <a class="px-3 py-6 rounded-lg text-nw40 hover:bg-primary duration-500 hover:text-nb10 font-medium text-3xl"
                            href="../index.html">About</a>
                    </li>
                    <li class="">
                        <a class="px-3 py-6 rounded-lg text-nw40 hover:bg-primary duration-500 hover:text-nb10 font-medium text-3xl"
                            href="../index.html">Services</a>
                    </li>
                    <li class="">
                        <a class="px-3 py-6 rounded-lg text-nw40 hover:bg-primary duration-500 hover:text-nb10 font-medium text-3xl"
                            href="../index.html">Blog</a>
                    </li>
                    <li class="">
                        <a class="px-3 py-6 rounded-lg text-nw40 hover:bg-primary duration-500 hover:text-nb10 font-medium text-3xl"
                            href="../index.html">Events</a>
                    </li>
                    <li class="">
                        <a class="px-3 py-6 rounded-lg text-nw40 hover:bg-primary duration-500 hover:text-nb10 font-medium text-3xl"
                            href="../index.html">Portfolio</a>
                    </li>
                    <li class="">
                        <a class="px-3 py-6 rounded-lg text-nw40 hover:bg-primary duration-500 hover:text-nb10 font-medium text-3xl"
                            href="../index.html">Shop</a>
                    </li>
                    <li class="">
                        <a class="px-3 py-6 rounded-lg text-nw40 hover:bg-primary duration-500 hover:text-nb10 font-medium text-3xl"
                            href="../index.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <div class=" cursor-pointer border border-primary px-2.5 sm:px-2 md:px-3 py-1 md:py-1.5 rounded-3xl">
                <span class="text-2xl lg:text-3xl text-primary" onclick="openNav()">&#9776;</span>
            </div>
        </div>
    </div>
</div>