<div class=" bg-at20 rounded-3xl p-4 sm:p-6 md:p-10 xxl:p-[60px]">
    <div class="grid grid-cols-12 items-center justify-between gap-3 md:gap-4 mb-10 lg:mb-[60px]">
        <div class="col-span-full lg:col-span-6 xxxl:col-span-6">
            <span class="display-4">The Yearly Tech Conference Is Now Online</span>
        </div>
        <div class="xxxl:col-span-2"></div>
        <div class="col-span-full lg:col-span-5 xxxl:col-span-4">
            <p>Exce Pteur Revolut Ionary Ideas Sint Occ Aecat Cupi Datat Non Proident, Sunt In Culpa Capta Rev Olutio Nary Ideas Qui Officia Dese Runt Mollit Anim Id Est Labo Rum</p>
        </div>
    </div>
    <div class="relative">
        <img src="../assets/images/conference-thumb.png" alt="Icon">
        <a href="https://www.youtube.com/watch?v=Avk877RvKiE?si=axyRjTH568ti6okn" class="popup-youtube bg-primary p-3 lg:p-[22px] rounded-full absolute flex items-center justify-center top-[30%] sm:top-[40.5%] left-[40%] sm:left-[46%] z-10 size-[60px] lg:size-[74px]">
            <i class="ph-fill ph-play text-nb30 text-lg md:text-3xl"></i>
        </a>
        <div class="wrapper absolute top-[59.5%] lg:top-[57%] xl:top-[54.5%] xxl:top-[53%] xxxl:top-[50%] left-[53.5%] lg:left-[53%] xl:left-[52%] xxl:left-[51%] xxxl:left-[50%] hidden md:inline-block">
            <div class="video-main">
              <div class="promo-video">
                <div class="waves-block">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                  <div class="waves wave-4"></div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>