<div class="grid grid-cols-12 gap-6 bg-at20 justify-center rounded-3xl p-4 sm:p-6 md:p-8 xl:p-[60px]">
    <div class="col-span-full lg:col-span-5">
        <span class="pb-2 lg:pb-4 font-medium">ARE YOU READY TO ATTEND</span>
        <h1 class="display-4 mb-5 md:mb-6 lg:mb-8">Digital Marketing
            Conference</h1>
        <p class="mb-6 md:mb-8 lg:mb-12">Exce Pteur Revolut Ionary Ideas Sint Occ Aecat Cupi Datat Non Proident, Sunt In Culpa
            Capta Rev
            Olutio Nary Ideas Qui Officia Dese Runt Mollit Anim Id Est Labo Rum</p>
        <div class="inline-block">
            <a href="#" class="flex items-center group duration-700">
                <span class="py-3 lg:py-4 px-4 lg:px-8 bg-primary text-nb10 rounded-2xl duration-500 font-medium">Buy Tickets</span>
                <i
                    class="ph ph-arrow-up-right p-[12px] lg:p-[18px] bg-primary text-nb10 rounded-2xl duration-500 font-medium group-hover:rotate-45"></i>
            </a>
        </div>
    </div>
    <div class="hidden xxxl:block xxxl:col-span-1"></div>
    <div class="col-span-full lg:col-span-6">
        <img class="rounded-3xl" src="../assets/images/confrance-digital.png" alt="image">
    </div>
</div>