<div class="bg-primary grid grid-cols-2 justify-center rounded-3xl p-4 sm:p-6 md:p-8 xl:p-[60px] overflow-hidden gap-6">
    <div class="col-span-full xl:col-span-1">
        <h1 class="display-4 text-nb10">Digital marketing
            Conference</h1>
    </div>
    <div class="col-span-full xl:col-span-1 xl:justify-self-end">
        <div class="xl:text-center">
            <div class="count-down mb-6 sm:mb-8 lg:mb-10">
                <div id="countdown">
                    <ul class="flex flex-wrap gap-4 sm:gap-6 xxl:gap-10 justify-start">
                        <li class="relative">
                            <div class="hexagon3">
                                <span class="absolute z-50 -top-6 left-[35%] md:left-[25%]" id="days"></span>
                                <span class="absolute z-50 textstylecount left-[25%] top-2">DAYS</span>
                            </div>
                        </li>
                        <li class="relative">
                            <div class="hexagon3">
                                <span class="absolute z-50 -top-6 left-[35%] md:left-[37%]" id="hours"></span>
                                <span class="absolute z-50 textstylecount left-[20%] top-2">Hours</span>
                            </div>
                        </li>
                        <li class="relative">
                            <div class="hexagon3">
                                <span class="absolute z-50 -top-6 left-[35%] md:left-[30%]" id="minutes"></span>
                                <span class="absolute z-50 textstylecount left-[10%] top-2">Minutes</span>
                            </div>
                        </li>
                        <li class="relative">
                            <div class="hexagon3">
                                <span class="absolute z-50 -top-6 left-[35%] md:left-[27%]" id="seconds"></span>
                                <span class="absolute z-50 textstylecount left-[8%] top-2">Seconds</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inline-block">
                <a href="#" class="flex items-center group duration-700">
                    <span class="py-3 lg:py-4 px-4 lg:px-8 bg-nb10 text-nw10 rounded-2xl duration-500 font-medium">Buy Tickets</span>
                    <i
                        class="ph ph-arrow-up-right p-[12px] lg:p-[18px] bg-nb10 text-nw10 rounded-2xl duration-500 font-medium group-hover:rotate-45"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-span-full sm:mt-8 lg:mt-10">
        <hr class="w-[1018%] -ml-16 block border-[1px] border-nb10 opacity-50">
    </div>
    <div class="col-span-full lg:pt-[60px]">
        <div class="flex items-center justify-between gap-5 flex-wrap xxl:flex-nowrap">
            <div class="flex items-center gap-3 lg:gap-5 xxxl:gap-20 flex-wrap lg:flex-nowrap">
                <div class="flex items-center gap-3">
                    <div class="p-3 border border-nb10 rounded-[48px] flex justify-center items-center size-[40px] lg:size-[60px]">
                        <i class="ph-fill ph-calendar-plus text-4xl text-nb10"></i>
                    </div>
                    <div class="">
                        <span class="font-medium mb-1 text-nb10">04 Days (Friday-Sunday)</span>
                        <span class="text-base text-nb10">70+ Workshops</span>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div class="p-3 border border-nb10 rounded-[48px] flex justify-center items-center size-[40px] lg:size-[60px]">
                        <i class="ph-fill ph-map-pin text-4xl text-nb10"></i>
                    </div>
                    <div class="">
                        <span class="font-medium mb-1 text-nb10">14 South Sherman Street</span>
                        <span class="text-base text-nb10">Astoria, NY 12450</span>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <a href="tel:+4733378901" class="p-3 border border-nb10 rounded-[48px] flex justify-center items-center size-[40px] lg:size-[60px]">
                        <i class="ph-fill ph-phone-call text-4xl text-nb10"></i>
                    </a>
                    <div class="">
                        <span class="font-medium mb-1 text-nb10">Drop Us a Line</span>
                        <span class="text-base text-nb10">support@Eventto.com</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-3">
                <a href="#" class="flex p-2 md:p-3 hover:bg-nb10 rounded-full group duration-500">
                    <i class="ph ph-twitch-logo text-nb10 group-hover:text-primary text-4xl duration-500"></i>
                </a>
                <a href="#" class="flex p-2 md:p-3 hover:bg-nb10 rounded-full group duration-500">
                    <i class="ph ph-linkedin-logo text-nb10 group-hover:text-primary text-4xl duration-500"></i>
                </a>
                <a href="#" class="flex p-2 md:p-3 hover:bg-nb10 rounded-full group duration-500">
                    <i class="ph ph-facebook-logo text-nb10 group-hover:text-primary text-4xl duration-500"></i>
                </a>
                <a href="#" class="flex p-2 md:p-3 hover:bg-nb10 rounded-full group duration-500">
                    <i class="ph ph-discord-logo text-nb10 group-hover:text-primary text-4xl duration-500"></i>
                </a>
            </div>
        </div>
    </div>
</div>