<div class="grid grid-cols-8 items-center p-4 sm:p-6 md:p-10 xxl:p-[60px] bg-at20 rounded-3xl gap-6">
    <div class="col-span-full xxl:col-span-3 px-4 sm:px-6 md:px-8 lg:px-10 py-6 md:py-8 lg:py-12 bg-at10 rounded-3xl">
        <span class="mb-3">FAQ</span>
        <span class="display-4 mb-6 md:mb-10">Your questions answered.</span>
        <div class="border border-nb20 p-3 sm:p-4 lg:p-6 rounded-3xl">
            <div class="flex items-center flex-wrap sm:flex-nowrap gap-3 mb-4 md:mb-6">
                <span class="p-3 sm:p-4 lg:p-5 rounded-xl border border-nb20">
                    <i class="ph-fill ph-question text-primary text-[40px]"></i>
                </span>
                <div class="">
                    <h5 class="mb-3">Still have questions?</h5>
                    <p class="text-sm">Can’t find the answer you’re looking for?Please chat to our friendly team!</p>
                </div>
            </div>
            <a href="#" class="p-3 bg-primary font-bold text-nb10 rounded-xl w-full block text-center">Get in touch</a>
        </div>
    </div>
    <div class="col-span-full xxl:col-span-5 px-4 sm:px-6 md:px-8 lg:px-10 py-6 md:py-8 lg:py-12 bg-at10 rounded-3xl rewards_faq">
        <div class="accordion-section">
            <div class="accordion-single accsingle mb-6 rounded-xl border border-nb20 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between  rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold"
                        type="button">
                        Can i change my package?
                    </button>
                    <button class="arrowclickable p-1 md:p-2 lg:p-3 bg-primary rounded-full flex text-at10"><i class="ph ph-caret-down"></i></button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-sm w-[90%]">Our cancellation policy varies depending on the service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-single accsingle mb-6 rounded-xl border border-nb20 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between  rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold"
                        type="button">
                        Is there any refund option?
                    </button>
                    <button class="arrowclickable p-1 md:p-2 lg:p-3 bg-primary rounded-full flex text-at10"><i class="ph ph-caret-down"></i></button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-sm w-[90%]">Our cancellation policy varies depending on the service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-single accsingle mb-6 rounded-xl border border-nb20 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between  rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold"
                        type="button">
                        What are the payment option?
                    </button>
                    <button class="arrowclickable p-1 md:p-2 lg:p-3 bg-primary rounded-full flex text-at10"><i class="ph ph-caret-down"></i></button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-sm w-[90%]">Our cancellation policy varies depending on the service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-single accsingle rounded-xl border border-nb20 p-3 lg:p-5">
                <h5 class="header-area flex items-center justify-between  rounded-xl">
                    <button
                        class="accordion-btn flex items-start relative w-100 fw-bolder text-start font-semibold"
                        type="button">
                        Any possibilities og schedule chanfe?
                    </button>
                    <button class="arrowclickable p-1 md:p-2 lg:p-3 bg-primary rounded-full flex text-at10"><i class="ph ph-caret-down"></i></button>
                </h5>
                <div class="content-area hidden">
                    <div class="content-body">
                        <p class="font-sm w-[90%]">Our cancellation policy varies depending on the service and service provider. Please check the terms before booking.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>