<div class="grid grid-cols-12 items-center rounded-3xl bg-at20">
    <div class="col-span-12 p-6 lg:p-12 flex items-center flex-wrap gap-4 sm:gap-0 justify-center sm:justify-between  relative md:border-b border-[#B3B6B9] border-opacity-[0.3] overflow-hidden">
        <div class="flex justify-center">
            <img class="w-[70%] lg:w-[100%]" src="../assets/images/footer-logo.png" alt="Logo">
        </div>
        <span class="v-line lgx before:top-0 hidden md:block"></span>
        <div class=" hidden md:block">
            <a href="#"><i class="ph ph-twitch-logo text-[40px] text-primary"></i></a>
        </div>
        <span class="v-line lgx before:top-0 hidden md:block"></span>
        <div class=" hidden md:block">
            <a href="#"><i class="ph ph-discord-logo text-[40px] text-primary"></i></a>
        </div>
        <span class="v-line lgx before:top-0 hidden md:block"></span>
        <div class=" hidden md:block">
            <a href="#"><i class="ph ph-linkedin-logo text-[40px] text-primary"></i></a>
        </div>
        <span class="v-line lgx before:top-0 hidden md:block"></span>
        <div class=" hidden md:block">
            <a href="#"><i class="ph ph-facebook-logo text-[40px] text-primary"></i></a>
        </div>
        <span class="v-line lgx before:top-0 hidden md:block"></span>
        <div class="flex items-center text-center sm:flex-col gap-2 sm:gap-1">
            <div class="flex gap-2 sm:gap-6 lg:gap-10">
                <a href="../index.html">Home</a>
                <a href="../event.html">Event</a>
            </div>
            <div class="flex gap-2 sm:gap-6 lg:gap-5">
                <a href="javascript:void(0);">Schedule</a>
                <a href="javascript:void(0);">Venue</a>
            </div>
        </div>
    </div>
    <div class="col-span-12 flex justify-between w-full relative px-10 md:hidden">
        <span class="v-line lgx before:top-0 hidden"></span>
        <div class="">
            <a href="#"><i class="ph ph-twitch-logo text-[40px] text-primary"></i></a>
        </div>
        <span class="v-line lgx before:top-0 hidden"></span>
        <div class="">
            <a href="#"><i class="ph ph-discord-logo text-[40px] text-primary"></i></a>
        </div>
        <span class="v-line lgx before:top-0 hidden"></span>
        <div class="">
            <a href="#"><i class="ph ph-linkedin-logo text-[40px] text-primary"></i></a>
        </div>
        <span class="v-line lgx before:top-0 hidden"></span>
        <div class="">
            <a href="#"><i class="ph ph-facebook-logo text-[40px] text-primary"></i></a>
        </div>
        <span class="v-line lgx before:top-0 hidden"></span>
    </div>
    <div class="col-span-12 py-6 px-12">
        <div class="flex flex-col sm:flex-row items-center justify-center sm:justify-between flex-wrap gap-1 sm:gap-6">
            <span class="text-base text-center">Copyright @ 2024 Eventto</span>
            <span class="text-base text-center">Designed By <a href="https://themeforest.net/user/pixelaxis" class="text-primary">Pixelaxis</a></span>
        </div>
    </div>
</div>