<div class="grid grid-cols-2 items-center gap-6">
    <div class="col-span-full lg:col-span-1">
        <div class="p-4 sm:p-6 md:p-8 lg:p-12 bg-primary rounded-3xl mb-6">
            <h1 class="display-2 text-nb10 mb-6 lg:mb-10">Book <br class="hidden lg:block"> Your Seat</h1>
            <div class="inline-block">
                <a href="#" class="flex items-center group duration-700">
                    <span class="py-3 lg:py-4 px-4 lg:px-8 bg-nb10 text-nw10 rounded-2xl duration-500 font-medium">Buy Tickets</span>
                    <i
                        class="ph ph-arrow-up-right p-[12px] lg:p-[18px] bg-nb10 text-nw10 rounded-2xl duration-500 font-medium group-hover:rotate-45"></i>
                </a>
            </div>
        </div>
        <div class="p-4 sm:p-6 md:p-8 lg:p-12 bg-secondary1 rounded-3xl">
            <h1 class="display-4 text-nb10 mb-6 lg:mb-10">Become a Sponsor</h1>
            <div class="inline-block">
                <a href="#" class="flex items-center group duration-700">
                    <span class="py-3 lg:py-4 px-4 lg:px-8 bg-nb10 text-nw10 rounded-2xl duration-500 font-medium">Become Sponsor</span>
                    <i
                        class="ph ph-arrow-up-right p-[12px] lg:p-[18px] bg-nb10 text-nw10 rounded-2xl duration-500 font-medium group-hover:rotate-45"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-span-full lg:col-span-1 p-4 sm:p-6 md:p-8 lg:p-12 rounded-3xl bg-at20 h-full">
        <h1 class="display-1 mb-6 lg:mb-8">Register 
            Today</h1>
        <p class="mb-8 sm:mb-10 lg:mb-[60px]">I’m always saying to my friends and my family and my clients, let’s just multiply this thing. Not one beautiful inflatable unicorn in the swimming  It’s a simple idea but it will make a big impact.</p>
        <div class="bg-nw10 p-1 sm:pr-2 sm:py-2 rounded-[60px] xxxl:w-[85%]">
            <form class="flex items-center">
                <input class="border-none placeholder:text-nb10 text-nb10 font-medium" placeholder="Enter Your Email" type="text">
                <button type="submit" class="p-2 sm:p-3 md:py-4 md:px-6 bg-primary text-at10 flex items-center font-medium sm:gap-2 rounded-[40px] group max-sm:size-10"><span class="max-sm:hidden">Register</span><i class="ph ph-arrow-up-right text-xl group-hover:rotate-45 duration-300"></i></button>
            </form>
        </div>
    </div>
</div>