<div class="bg-at20 rounded-3xl py-4 sm:py-6 md:py-10 xxl:py-[60px] px-4 sm:px-6 md:px-10 xxl:px-36">
    <div class="text-center mb-6 md:mb-8 lg:mb-10">
        <span class="font-medium mb-3">DIGITAL CONFERENCE</span>
        <h1 class="display-4">Schedule Conference</h1>
    </div>
    <div class="">
        <div class="singletab">
            <ul class="tablinks flex justify-between items-center gap-2 sm:gap-6 mb-8 md:mb-10 lg:mb-[60px]">
                <li class="nav-links w-full text-center rounded-xl active bg-at10">
                    <button class="tablink  lg:text-3xl py-2 sm:py-4 md:py-8 lg:py-12 w-full font-bold">DAY 01</button>
                </li>
                <li class="nav-links w-full text-center rounded-xl bg-at10">
                    <button class="tablink  lg:text-3xl py-2 sm:py-4 md:py-8 lg:py-12 w-full font-bold">DAY 02</button>
                </li>
                <li class="nav-links w-full text-center rounded-xl bg-at10">
                    <button class="tablink  lg:text-3xl py-2 sm:py-4 md:py-8 lg:py-12 w-full font-bold">DAY 03</button>
                </li>
            </ul>       
            <div class="tabcontents">
                <div class="tabitem active">
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl mb-6">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl mb-6">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny2.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny3.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabitem">
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl mb-6">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl mb-6">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny2.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny3.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabitem">
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl mb-6">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl mb-6">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny2.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 sm:p-8 md:p-12 bg-at10 rounded-xl">
                        <h3 class="mb-3">Magnification on hover</h3>
                        <p class=" mb-6 sm:mb-8 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis odio, auctor ut arcu sed, varius tristique leo. Proin vel consectetur tortor. Pellentesque in tortor luctus, aliquet risus quis, vestibulum eros. Nulla placerat in justo ut elementum. Aliquam auctor neque vitae lorem condimentum, nec viverra sapien placerat. Etiam vestibulum iaculis posuere. </p>
                        <div class="flex items-center justify-center sm:justify-start gap-6 flex-wrap sm:flex-nowrap text-center sm:text-start">
                            <div class="">
                                <img src="../assets/images/denida-moreny3.png" class="rounded-full" alt="image">
                            </div>
                            <div class="text-center sm:text-start">
                                <span class="mb-2 sm:mb-3 block font-medium">November 6, 2020-February 24, 2022</span>
                                <span class="mb-3 block text-2xl font-bold cursor-pointer">Denida Moreny</span>
                                <span class="block font-medium">335 SE 6th Ave, Fort Lauderdale, FL 33301</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>