<div class="bg-at20 rounded-3xl p-4 sm:p-6 md:p-10 xxl:p-[60px]">
    <div class="text-center mb-6 md:mb-10 lg:mb-[60px]">
        <span class="font-medium mb-3">WHAT WE HAVE DONE</span>
        <h1 class="display-4">Our Recent Statics</h1>
    </div>
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-full lg:col-span-6 xl:col-span-4">
            <div class="flex items-center flex-nowrap md:flex-wrap gap-4 xxl:gap-9 bg-at10 rounded-xl p-4 sm:p-6 lg:p-10 xxxl:p-[60px]">
                <div class="">
                    <img src="../assets/images/icon/ticket-booked.png" alt="Icon">
                </div>
                <div class="hero_area rounded-3xl w-full md:w-[48%] lg:w-fit">
                    <div class="counters mb-3">
                        <h1 class="odometer" counter-value="475"></h1>
                    </div>
                    <span class="font-medium">Ticket Booked</span>
                </div>
            </div>
        </div>
        <div class="col-span-full lg:col-span-6 xl:col-span-4">
            <div class="flex items-center flex-nowrap md:flex-wrap gap-4 xxl:gap-9 bg-at10 rounded-xl p-4 sm:p-6 lg:p-10 xxxl:p-[60px]">
                <div class="">
                    <img src="../assets/images/icon/talented-speakers.png" alt="Icon">
                </div>
                <div class="hero_area rounded-3xl w-full md:w-[48%] lg:w-fit">
                    <div class="counters mb-3">
                        <h1 class="odometer" counter-value="24"></h1>
                    </div>
                    <span class="font-medium">Talented Speakers</span>
                </div>
            </div>
        </div>
        <div class="col-span-full lg:col-span-6 xl:col-span-4">
            <div class="flex items-center flex-nowrap md:flex-wrap gap-4 xxl:gap-9 bg-at10 rounded-xl p-4 sm:p-6 lg:p-10 xxxl:p-[60px]">
                <div class="">
                    <img src="../assets/images/icon/useful-seccoins.png" alt="Icon">
                </div>
                <div class="hero_area rounded-3xl w-full md:w-[48%] lg:w-fit">
                    <div class="counters mb-3">
                        <h1 class="odometer" counter-value="745"></h1>
                    </div>
                    <span class="font-medium">Useful Seccions</span>
                </div>
            </div>
        </div>
    </div>
</div>