<div class="grid grid-cols-2 items-center p-4 sm:p-6 md:p-10 xxl:p-[60px] bg-at20 rounded-3xl gap-6 xxxl:gap-10">
    <div class="col-span-full lg:col-span-1">
        <span class="font-medium mb-3">Testimonial</span>
        <span class="display-4 mb-8 lg:mb-10 xl:mb-[60px]">What Our Past Attendees
            Said</span>
        <div class="inline-block">
            <a href="#" class="flex items-center group duration-700">
                <span class="py-3 lg:py-4 px-4 lg:px-8 bg-primary text-nb10 rounded-2xl duration-500 font-medium">Buy Tickets</span>
                <i
                    class="ph ph-arrow-up-right p-[12px] lg:p-[18px] bg-primary text-nb10 rounded-2xl duration-500 font-medium group-hover:rotate-45"></i>
            </a>
        </div>
    </div>
    <div class="col-span-full lg:col-span-1 p-4 md:p-6 xl:p-10 bg-at10 rounded-3xl">
        <div class="swiper testimonial_slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="items-wrapper">
                        <div class="flex flex-wrap sm:flex-nowrap gap-4 sm:gap-8">
                            <div class="">
                                <img class="w-max-unset max-unset rounded-full" src="../assets/images/testimonial.png"
                                    alt="Image">
                            </div>
                            <div class="mb-8 lg:mb-10 xl:mb-[60px]">
                                <p class="mb-4 sm:mb-6 lg:mb-8">"Booking tickets events through Eventto was a breeze! The
                                    website is user-friendly, and the customer service team was incredibly helpful. I
                                    highly recommend their services to anyone looking to attend exciting events
                                    hassle-free."</p>
                                <h4 class="mb-2 sm:mb-3">John Smith</h4>
                                <span>335 SE 6th Ave, Fort Lauderdale.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="items-wrapper">
                        <div class="flex flex-wrap sm:flex-nowrap gap-4 sm:gap-8">
                            <div class="">
                                <img class="w-max-unset max-unset rounded-full" src="../assets/images/testimonial-2.png"
                                    alt="Image">
                            </div>
                            <div class="mb-8 lg:mb-10 xl:mb-[60px]">
                                <p class="mb-4 sm:mb-6 lg:mb-8">"Booking tickets events through Eventto was a breeze! The
                                    website is user-friendly, and the customer service team was incredibly helpful. I
                                    highly recommend their services to anyone looking to attend exciting events
                                    hassle-free."</p>
                                <h4 class="mb-2 sm:mb-3">Ocean Safis</h4>
                                <span>335 SE 6th Ave, Fort Lauderdale.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial_slider_btn sm:pb-3">
            <div class="slider-btn flex justify-end gap-4">
                <button type="button" aria-label="Slide Prev" class="ara-prev">
                    <i
                        class="ph ph-arrow-up-left p-2 sm:p-[12px] lg:p-[18px] rounded-2xl duration-500 font-medium border border-primary text-primary hover:text-nb10 hover:bg-primary"></i>
                </button>
                <button type="button" aria-label="Slide Next" class="ara-next">
                    <i
                        class="ph ph-arrow-up-right p-2 sm:p-[12px] lg:p-[18px] rounded-2xl duration-500 font-medium border border-primary text-primary hover:text-nb10 hover:bg-primary"></i>
                </button>
            </div>
        </div>
    </div>
</div>