<div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="container">
  <div class="bg-primary spy40px max-xs:px-3 xs:spx60px text-neutral-3 rounded-xl smt120px">
    <h2 class="h2 font-bold text-center">About us</h2>
    <p class="l-text text-center pt-4">
      Our commitment to quality is evident in every detail. The state-of-the-art technology seamlessly weaves with our thoughtful design, ensuring that your visit transcends the ordinary. We
      understand that your vehicle deserves more than a routine wash – it deserves an immersive encounter with excellence. Creating an environment unlike any other.
    </p>
    <div class="flex items-center justify-center gap-10 sm:gap-15 smt60px flex-wrap">
      <div class="flex items-center flex-col">
        <p class="d1 font-bold flex items-center"><span data-counter-value="12" class="odometer font-body-font"></span>+</p>
        <p class="xl-text">Years of experience</p>
      </div>
      <div class="h-20 w-px max-xs:hidden bg-[#6C7275]"></div>
      <div class="flex items-center flex-col">
        <p class="d1 font-bold flex items-center"><span data-counter-value="63" class="odometer"></span><span>K</span></p>
        <p class="xl-text">Happy clients</p>
      </div>
      <div class="h-20 w-px bg-[#6C7275] max-md:hidden"></div>
      <div class="flex items-center flex-col">
        <p class="d1 font-bold flex items-center"><span data-counter-value="99" class="odometer font-body-font"></span>%</p>
        <p class="xl-text">Customer satisfaction</p>
      </div>
    </div>
  </div>
</div>
