<div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="smt120px container">
  <div class="bg-neutral-4 border border-neutral-2/20 max-xs:py-6 items-center max-xs:px-3 xs:spx60px xs:spy80px rounded-xl">
    <h2 class="h2 font-bold text-center">Our finest client testimonials.</h2>
    <div class="spt60px brand-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./assets/images/brand-slider-2.png" alt="brand" class="mx-auto" />
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/brand-slider-2.png" alt="brand" class="mx-auto" />
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/brand-slider-3.png" alt="brand" class="mx-auto" />
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/brand-slider-4.png" alt="brand" class="mx-auto" />
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/brand-slider-5.png" alt="brand" class="mx-auto" />
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/brand-slider-6.png" alt="brand" class="mx-auto" />
        </div>
      </div>
    </div>
  </div>
</div>
