<div class="bg-neutral-4 spt60px">
  <div class="container">
    <div class="flex flex-wrap justify-between gap-6">
      <div class="max-lg:order-2">
        <div class="flex items-center gap-5 pb-6 border-b border-neutral-2/30">
          <a href="#" class="flex gap-1 items-center l-text"><span>Facebook</span><i class="ph ph-arrow-up-right text-[24px]"></i></a>
          <a href="#" class="flex gap-1 items-center l-text"><span>Twitter</span><i class="ph ph-arrow-up-right text-[24px]"></i></a>
          <a href="#" class="flex gap-1 items-center l-text"><span>Instagram</span><i class="ph ph-arrow-up-right text-[24px]"></i></a>
        </div>
        <p class="l-text spt32px">Think of your vehicle's maintenance.</p>
      </div>
      <!-- logo -->
      <a href="/" class="max-lg:order-1">
        <img src="./assets/images/logo.png" alt="Logo" />
      </a>
      <div class="max-w-[340px] max-lg:order-2">
        <div class="flex items-center gap-3">
          <i class="ph-fill ph-map-pin text-secondary text-[32px]"></i>
          <p class="l-text opacity-80">House 178/196, Avenue 01, Uttara Dohs, Dhaka Bangladesh</p>
        </div>
        <div class="flex items-center gap-3 pt-6">
          <i class="ph-fill ph-phone-call text-secondary text-[32px]"></i>
          <a href="tel:+8801234567890" class="l-text opacity-80">+880 123 456 7890</a>
        </div>
      </div>
    </div>
    <div class="w-full h-px bg-neutral-2/30 smy60px"></div>
    <div class="grid grid-cols-2 xs:grid-cols-3 lg:grid-cols-5 justify-between gap-6">
      <div class="flex flex-col gap-6">
        <a href="./about.html" class="l-text">About</a>
        <a href="./services.html" class="l-text">Services</a>
      </div>
      <div class="flex flex-col gap-6">
        <a href="./portfolio.html" class="l-text">Portfolio</a>
        <a href="./blog.html" class="l-text">Blog</a>
      </div>
      <div class="flex flex-col gap-6">
        <a href="./our-team.html" class="l-text">Our Team</a>
        <a href="./pricing.html" class="l-text">Pricing</a>
      </div>
      <div class="flex flex-col gap-6">
        <a href="./contact.html" class="l-text">Contact</a>
        <a href="./faq.html" class="l-text">Faq</a>
      </div>
      <div class="flex flex-col gap-6">
        <a href="./service-details.html" class="l-text">Service Details</a>
        <a href="./portfolio-details.html" class="l-text">Portfolio Details</a>
      </div>
    </div>
    <div class="w-full h-px bg-neutral-2/30 smt60px mb-6"></div>
    <div class="flex items-center justify-between gap-6 pb-6 max-xs:flex-col text-center">
      <p class="l-text">Copyright @ 2024 Crafter<span class="text-secondary">X</span></p>
      <p class="l-text">Designed By <a href="#" class="hover:underline hover:text-primary duration-300">Pixelaxis</a></p>
    </div>
  </div>
</div>
