<div class="spt120px container">
  <div
    data-aos="zoom-in"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1500"
    class="bg-neutral-4 border border-neutral-2/20 max-xs:py-6 items-center max-xs:px-3 xs:sp40px rounded-xl lg:grid grid-cols-12 gap-6"
  >
    <h2 class="h2 font-bold col-span-6">Uncover the array of services we provide.</h2>
    <div class="col-start-8 col-span-5 max-xl:smt40px">
      <p class="l-text opacity-80">The experts at Crafter Complete Auto Care have years of experience in a range of auto repair services.</p>
      <div class="btn-area group mt-6">
        <a href="./services.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
          <span class="one h5 font-medium theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full text-neutral-3 bg-primary px-4 xs:px-8 py-2.5 capitalize">Explore More</span>
          <span class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center bg-primary rounded-full text-neutral-3 p-2.5 text-center">
            <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    <!-- single card -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="relative group overflow-hidden">
      <img src="./assets/images/service-1.png" alt="Service Image" class="w-full rounded-xl" />
      <div class="absolute bottom-0 left-0 right-0 sp40px z-10 group-hover:translate-y-0 duration-500 translate-y-[200px]">
        <h3 class="h2 font-bold">Car Repair</h3>
        <div class="btn-area group w-fit mt-[22px]">
          <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
            <span class="one h5 font-medium theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full text-neutral-3 bg-primary px-4 xs:px-8 py-2.5 capitalize">Explore More</span>
            <span class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center bg-primary rounded-full text-neutral-3 p-2.5 text-center">
              <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="theme-card rounded-16px theme-transition-4 absolute bottom-0 left-0 flex h-0 w-full opacity-0 group-hover:visible group-hover:h-full group-hover:opacity-100"></div>
    </div>
    <!-- single card -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="relative group overflow-hidden">
      <img src="./assets/images/service-2.png" alt="Service Image" class="w-full rounded-xl" />
      <div class="absolute bottom-0 left-0 right-0 sp40px z-10 group-hover:translate-y-0 duration-500 translate-y-[200px]">
        <h3 class="h2 font-bold">Car Repair</h3>
        <div class="btn-area group w-fit mt-[22px]">
          <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
            <span class="one h5 font-medium theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full text-neutral-3 bg-primary px-4 xs:px-8 py-2.5 capitalize">Explore More</span>
            <span class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center bg-primary rounded-full text-neutral-3 p-2.5 text-center">
              <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="theme-card rounded-16px theme-transition-4 absolute bottom-0 left-0 flex h-0 w-full opacity-0 group-hover:visible group-hover:h-full group-hover:opacity-100"></div>
    </div>
    <!-- single card -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="relative group overflow-hidden">
      <img src="./assets/images/service-3.png" alt="Service Image" class="w-full rounded-xl" />
      <div class="absolute bottom-0 left-0 right-0 sp40px z-10 group-hover:translate-y-0 duration-500 translate-y-[200px]">
        <h3 class="h2 font-bold">Car Repair</h3>
        <div class="btn-area group w-fit mt-[22px]">
          <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
            <span class="one h5 font-medium theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full text-neutral-3 bg-primary px-4 xs:px-8 py-2.5 capitalize">Explore More</span>
            <span class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center bg-primary rounded-full text-neutral-3 p-2.5 text-center">
              <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="theme-card rounded-16px theme-transition-4 absolute bottom-0 left-0 flex h-0 w-full opacity-0 group-hover:visible group-hover:h-full group-hover:opacity-100"></div>
    </div>
    <!-- single card -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="relative group overflow-hidden">
      <img src="./assets/images/service-4.png" alt="Service Image" class="w-full rounded-xl" />
      <div class="absolute bottom-0 left-0 right-0 sp40px z-10 group-hover:translate-y-0 duration-500 translate-y-[200px]">
        <h3 class="h2 font-bold">Car Repair</h3>
        <div class="btn-area group w-fit mt-[22px]">
          <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
            <span class="one h5 font-medium theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full text-neutral-3 bg-primary px-4 xs:px-8 py-2.5 capitalize">Explore More</span>
            <span class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center bg-primary rounded-full text-neutral-3 p-2.5 text-center">
              <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="theme-card rounded-16px theme-transition-4 absolute bottom-0 left-0 flex h-0 w-full opacity-0 group-hover:visible group-hover:h-full group-hover:opacity-100"></div>
    </div>
    <!-- single card -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="relative group overflow-hidden">
      <img src="./assets/images/service-5.png" alt="Service Image" class="w-full rounded-xl" />
      <div class="absolute bottom-0 left-0 right-0 sp40px z-10 group-hover:translate-y-0 duration-500 translate-y-[200px]">
        <h3 class="h2 font-bold">Car Repair</h3>
        <div class="btn-area group w-fit mt-[22px]">
          <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
            <span class="one h5 font-medium theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full text-neutral-3 bg-primary px-4 xs:px-8 py-2.5 capitalize">Explore More</span>
            <span class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center bg-primary rounded-full text-neutral-3 p-2.5 text-center">
              <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="theme-card rounded-16px theme-transition-4 absolute bottom-0 left-0 flex h-0 w-full opacity-0 group-hover:visible group-hover:h-full group-hover:opacity-100"></div>
    </div>
    <!-- single card -->
    <div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="relative group overflow-hidden">
      <img src="./assets/images/service-6.png" alt="Service Image" class="w-full rounded-xl" />
      <div class="absolute bottom-0 left-0 right-0 sp40px z-10 group-hover:translate-y-0 duration-500 translate-y-[200px]">
        <h3 class="h2 font-bold">Car Repair</h3>
        <div class="btn-area group w-fit mt-[22px]">
          <a href="./service-details.html" aria-label="Contact" class="move-btn theme-transition-4 flex items-center text-center text-white-1">
            <span class="one h5 font-medium theme-transition-4 min-h-[45px] flex items-center justify-center rounded-full text-neutral-3 bg-primary px-4 xs:px-8 py-2.5 capitalize">Explore More</span>
            <span class="two d-center theme-transition-4 flex min-h-[45px] shrink-0 items-center justify-center bg-primary rounded-full text-neutral-3 p-2.5 text-center">
              <i class="ph ph-arrow-up-right text-[24px]" data-icon-name="arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="theme-card rounded-16px theme-transition-4 absolute bottom-0 left-0 flex h-0 w-full opacity-0 group-hover:visible group-hover:h-full group-hover:opacity-100"></div>
    </div>
  </div>
</div>
