<div data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1500" class="smt120px container">
  <div class="bg-neutral-4 border border-neutral-2/20 max-xs:py-6 items-center max-xs:px-3 xs:spx60px xs:spy40px rounded-xl">
    <h2 class="h2 font-bold max-w-[500px] text-center mx-auto">Our finest client testimonials.</h2>

    <div class="spt40px relative">
      <div class="swiper testimonial-slider">
        <div class="swiper-wrapper">
          <!-- single slide -->
          <div class="swiper-slide">
            <div class="rounded-xl sp32px border border-neutral-2/30">
              <h4 class="h4 font-bold">Smooth Car Transport</h4>
              <div class="flex items-center gap-1 pt-3">
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
              </div>
              <p class="xl-text spt32px opacity-80">
                Overall, I highly recommend the Ford to anyone in the market for a reliable, stylish, and high-performing car. It's a fantastic investment that brings together form and function
                seamlessly.
              </p>
              <div class="flex items-center gap-5 spt32px">
                <div>
                  <img src="./assets/images/review-slider-client-1.png" alt="reviewer" class="rounded-full object-cover" />
                </div>
                <div>
                  <p class="h5 font-bold">Jiyeon Jisoo</p>
                  <p class="m-text opacity-80">New York</p>
                </div>
              </div>
            </div>
          </div>
          <!-- single slide -->
          <div class="swiper-slide">
            <div class="rounded-xl sp32px border border-neutral-2/30">
              <h4 class="h4 font-bold">Smooth Car Transport</h4>
              <div class="flex items-center gap-1 pt-3">
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
              </div>
              <p class="xl-text spt32px opacity-80">
                Overall, I highly recommend the Ford to anyone in the market for a reliable, stylish, and high-performing car. It's a fantastic investment that brings together form and function
                seamlessly.
              </p>
              <div class="flex items-center gap-5 spt32px">
                <div>
                  <img src="./assets/images/review-slider-client-2.png" alt="reviewer" class="rounded-full object-cover" />
                </div>
                <div>
                  <p class="h5 font-bold">Jiyeon Jisoo</p>
                  <p class="m-text opacity-80">New York</p>
                </div>
              </div>
            </div>
          </div>
          <!-- single slide -->
          <div class="swiper-slide">
            <div class="rounded-xl sp32px border border-neutral-2/30">
              <h4 class="h4 font-bold">Smooth Car Transport</h4>
              <div class="flex items-center gap-1 pt-3">
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
              </div>
              <p class="xl-text spt32px opacity-80">
                Overall, I highly recommend the Ford to anyone in the market for a reliable, stylish, and high-performing car. It's a fantastic investment that brings together form and function
                seamlessly.
              </p>
              <div class="flex items-center gap-5 spt32px">
                <div>
                  <img src="./assets/images/review-slider-client-1.png" alt="reviewer" class="rounded-full object-cover" />
                </div>
                <div>
                  <p class="h5 font-bold">Jiyeon Jisoo</p>
                  <p class="m-text opacity-80">New York</p>
                </div>
              </div>
            </div>
          </div>
          <!-- single slide -->
          <div class="swiper-slide">
            <div class="rounded-xl sp32px border border-neutral-2/30">
              <h4 class="h4 font-bold">Smooth Car Transport</h4>
              <div class="flex items-center gap-1 pt-3">
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
                <i class="ph-fill ph-star text-primary"></i>
              </div>
              <p class="xl-text spt32px opacity-80">
                Overall, I highly recommend the Ford to anyone in the market for a reliable, stylish, and high-performing car. It's a fantastic investment that brings together form and function
                seamlessly.
              </p>
              <div class="flex items-center gap-5 spt32px">
                <div>
                  <img src="./assets/images/review-slider-client-2.png" alt="reviewer" class="rounded-full object-cover" />
                </div>
                <div>
                  <p class="h5 font-bold">Jiyeon Jisoo</p>
                  <p class="m-text opacity-80">New York</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progress smt40px bottom-0 z-50 w-fit mx-auto shrink-0">
        <div class="testimonial-pagination-progress z-50"></div>
      </div>
    </div>
  </div>
</div>
