<section class="smy60px">
  <div
    class="xs:sp60px grid grid-cols-12 gap-6 rounded-3xl bg-white-3 max-xs:px-3 max-xs:py-6"
  >
    <div
      data-aos="fade-right"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1000"
      class="col-span-12 xl:col-span-5 4xl:col-span-4"
    >
      <h5 class="h6 font-bold capitalize">FAQ</h5>
      <h3 class="d4 pt-3 font-extrabold">
        Your questions <span class="text-secondary">answered.</span>
      </h3>
      <p class="l-text pt-6 font-medium text-black-2">
        Let’s do our best to answer your most frequently asked questions.
      </p>

      <div class="smt40px rounded-3xl border border-black-2/10 p-6">
        <div class="flex gap-3 max-xs:flex-col xs:items-center">
          <div class="w-fit rounded-xl border border-black-2/10 p-5">
            <i class="ph-fill ph-question text-[40px] text-secondary"></i>
          </div>
          <div>
            <h5 class="h5 font-bold">Still have questions?</h5>
            <p class="l-text pt-3 font-medium text-black-2">
              Can’t find the answer you’re looking for?Please chat to our
              friendly team!
            </p>
          </div>
        </div>
        <a
          href="#"
          class="m-text mt-6 block min-w-full rounded-xl bg-secondary p-3 text-center font-bold text-white-1"
        >
          Get in touch
        </a>
      </div>
    </div>
    <div
      data-aos="fade-left"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1000"
      class="col-span-12 flex flex-col gap-4 rounded-3xl xl:col-span-7 xl:gap-6 4xl:col-span-8"
    >
      <!-- faq item -->
      <div
        class="appear-down rounded-xl border border-black-2/10 p-3 duration-500 xs:p-5 sm:px-5 sm:py-4"
      >
        <div
          class="faq-accordion flex cursor-pointer items-center justify-between gap-6 duration-500"
        >
          <h6 class="l-text font-semibold">Do you accept dental insurance?</h6>
          <div
            class="theme-transition-4 flex rounded-full bg-secondary p-2 leading-none text-white-1 xs:p-3"
          >
            <i class="ph ph-caret-down text-[24px]"> </i>
          </div>
        </div>
        <div class="theme-transition-6 h-0 overflow-hidden">
          <p class="m-text mt-3 font-medium text-white-1">
            If you notice any suspicious or unauthorized activity on your
            account, follow these steps: 1. Contact your bank or credit card
            issuer immediately. 2. Report the fraudulent transactions and
            provide details of the unauthorized activity. 3. Request to block or
            deactivate the affected card or account. 4. Follow any additional
            instructions provided by your bank to resolve the issue.
          </p>
        </div>
      </div>
      <!-- faq item -->
      <div
        class="appear-down rounded-xl border border-black-2/10 p-3 xs:p-5 sm:px-5 sm:py-4"
      >
        <div
          class="faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
        >
          <h6 class="l-text font-semibold">
            How often should I visit the dentist?
          </h6>
          <div
            class="theme-transition-4 flex rounded-full bg-secondary p-2 leading-none text-white-1 xs:p-3"
          >
            <i class="ph ph-caret-down text-[24px]"> </i>
          </div>
        </div>
        <div class="theme-transition-6 h-0 overflow-hidden">
          <p class="m-text mt-3 font-medium text-white-1">
            If you notice any suspicious or unauthorized activity on your
            account, follow these steps: 1. Contact your bank or credit card
            issuer immediately. 2. Report the fraudulent transactions and
            provide details of the unauthorized activity. 3. Request to block or
            deactivate the affected card or account. 4. Follow any additional
            instructions provided by your bank to resolve the issue.
          </p>
        </div>
      </div>
      <!-- faq item -->
      <div
        class="appear-down rounded-xl border border-black-2/10 p-3 xs:p-5 sm:px-5 sm:py-4"
      >
        <div
          class="faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
        >
          <h6 class="l-text font-semibold">
            What dental services does your clinic offer?
          </h6>
          <div
            class="theme-transition-4 flex rounded-full bg-secondary p-2 leading-none text-white-1 xs:p-3"
          >
            <i class="ph ph-caret-down text-[24px]"> </i>
          </div>
        </div>
        <div class="theme-transition-6 h-0 overflow-hidden">
          <p class="m-text mt-3 font-medium text-white-1">
            If you notice any suspicious or unauthorized activity on your
            account, follow these steps: 1. Contact your bank or credit card
            issuer immediately. 2. Report the fraudulent transactions and
            provide details of the unauthorized activity. 3. Request to block or
            deactivate the affected card or account. 4. Follow any additional
            instructions provided by your bank to resolve the issue.
          </p>
        </div>
      </div>
      <!-- faq item -->
      <div
        class="appear-down rounded-xl border border-black-2/10 p-3 xs:p-5 sm:px-5 sm:py-4"
      >
        <div
          class="faq-accordion theme-transition-3 flex cursor-pointer items-center justify-between gap-6"
        >
          <h6 class="l-text font-semibold">
            How often should I visit the dentist with a healthy diet?
          </h6>
          <div
            class="theme-transition-4 flex rounded-full bg-secondary p-2 leading-none text-white-1 xs:p-3"
          >
            <i class="ph ph-caret-down text-[24px]"> </i>
          </div>
        </div>
        <div class="theme-transition-6 h-0 overflow-hidden">
          <p class="m-text mt-3 font-medium text-white-1">
            If you notice any suspicious or unauthorized activity on your
            account, follow these steps: 1. Contact your bank or credit card
            issuer immediately. 2. Report the fraudulent transactions and
            provide details of the unauthorized activity. 3. Request to block or
            deactivate the affected card or account. 4. Follow any additional
            instructions provided by your bank to resolve the issue.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
