<section
  class="smy60px max-xxl:spx60px xxl:spx120px spy60px rounded-xl bg-primary text-center text-white-1"
>
  <h2 class="d4 font-extrabold">Our Expert Team</h2>
  <p class="l-text mx-auto max-w-[762px] pt-4">
    Our experienced team at Dentica is dedicated to providing high-quality
    service and personalized care to each of our clients.
  </p>

  <div
    class="spt60px grid grid-cols-1 gap-4 md:grid-cols-2 lg:gap-6 xl:grid-cols-4"
  >
    <!-- expert card 1 -->
    <div
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1000"
    >
      <div class="group/image relative overflow-hidden rounded-xl">
        <img
          src="./assets/images/expert-1.png"
          class="w-full rounded-xl duration-500 hover:scale-105"
          alt="Basic Dental Care image"
        />
        <div
          class="absolute bottom-0 flex w-full translate-y-full items-center justify-center gap-8 bg-secondary py-3.5 duration-500 group-hover/image:translate-y-0"
        >
          <a href="#"><i class="ph ph-twitch-logo text-[32px]"></i></a>
          <a href="#"><i class="ph ph-instagram-logo text-[32px]"></i></a>
          <a href="#"><i class="ph ph-facebook-logo text-[32px]"></i></a>
        </div>
      </div>
      <div class="spt32px">
        <a
          href="dentist-details.html"
          class="h4 font-bold duration-500 hover:text-secondary"
          >Kathryn Murphy</a
        >
        <p class="l-text pt-2 font-medium">Orthopedic</p>
      </div>
    </div>
    <!-- expert card 2 -->
    <div
      data-aos="fade-down"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1000"
    >
      <div class="group/image relative overflow-hidden rounded-xl">
        <img
          src="./assets/images/expert-2.png"
          class="w-full rounded-xl duration-500 hover:scale-105"
          alt="Basic Dental Care image"
        />
        <div
          class="absolute bottom-0 flex w-full translate-y-full items-center justify-center gap-8 bg-secondary py-3.5 duration-500 group-hover/image:translate-y-0"
        >
          <a href="#"><i class="ph ph-twitch-logo text-[32px]"></i></a>
          <a href="#"><i class="ph ph-instagram-logo text-[32px]"></i></a>
          <a href="#"><i class="ph ph-facebook-logo text-[32px]"></i></a>
        </div>
      </div>
      <div class="spt32px">
        <a
          href="dentist-details.html"
          class="h4 font-bold duration-500 hover:text-secondary"
          >Jerome Bell</a
        >
        <p class="l-text pt-2 font-medium">Dentist</p>
      </div>
    </div>
    <!-- expert card 3 -->
    <div
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1000"
    >
      <div class="group/image relative overflow-hidden rounded-xl">
        <img
          src="./assets/images/expert-3.png"
          class="w-full rounded-xl duration-500 hover:scale-105"
          alt="Basic Dental Care image"
        />
        <div
          class="absolute bottom-0 flex w-full translate-y-full items-center justify-center gap-8 bg-secondary py-3.5 duration-500 group-hover/image:translate-y-0"
        >
          <a href="#"><i class="ph ph-twitch-logo text-[32px]"></i></a>
          <a href="#"><i class="ph ph-instagram-logo text-[32px]"></i></a>
          <a href="#"><i class="ph ph-facebook-logo text-[32px]"></i></a>
        </div>
      </div>
      <div class="spt32px">
        <a
          href="dentist-details.html"
          class="h4 font-bold duration-500 hover:text-secondary"
          >Arlene McCoy</a
        >
        <p class="l-text pt-2 font-medium">Orthopedic</p>
      </div>
    </div>
    <!-- expert card 4 -->
    <div
      data-aos="fade-down"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1000"
    >
      <div class="group/image relative overflow-hidden rounded-xl">
        <img
          src="./assets/images/expert-4.png"
          class="w-full rounded-xl duration-500 hover:scale-105"
          alt="Basic Dental Care image"
        />
        <div
          class="absolute bottom-0 flex w-full translate-y-full items-center justify-center gap-8 bg-secondary py-3.5 duration-500 group-hover/image:translate-y-0"
        >
          <a href="#"><i class="ph ph-twitch-logo text-[32px]"></i></a>
          <a href="#"><i class="ph ph-instagram-logo text-[32px]"></i></a>
          <a href="#"><i class="ph ph-facebook-logo text-[32px]"></i></a>
        </div>
      </div>
      <div class="spt32px">
        <a
          href="dentist-details.html"
          class="h4 font-bold duration-500 hover:text-secondary"
          >Darrell Steward</a
        >
        <p class="l-text pt-2 font-medium">Orthopedic</p>
      </div>
    </div>
  </div>
</section>
