<section class="spt60px grid grid-cols-12 gap-6">
  <div class="col-span-12 grid grid-cols-6 gap-6 xl:col-span-6">
    <!-- basic dental care card -->
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="sp40px col-span-6 flex items-center justify-between rounded-xl bg-accent-1 max-md:flex-col max-md:gap-6"
    >
      <div class="max-md:order-2">
        <h3 class="h2 font-bold">Basic Dental Care</h3>
        <p class="l-text max-w-[338px] pt-4 text-black-1">
          Discover How We Illuminate and Elevate Your Smiles.
        </p>
      </div>
      <div class="overflow-hidden rounded-xl">
        <img
          src="./assets/images/basic-dental-card-image.png"
          class="theme-transition-3 rounded-xl hover:scale-105"
          alt="Image of a person with a healthy smile, showing their teeth and mouth, with a friendly message about basic dental care"
        />
      </div>
    </div>
    <!-- Dental Implant card -->
    <div
      data-aos="zoom-in"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
      class="sp40px col-span-6 flex items-center justify-between rounded-xl bg-white-3 max-md:flex-col max-md:gap-6"
    >
      <div class="max-md:order-2">
        <h3 class="h2 font-bold">Dental Implant</h3>
        <p class="l-text max-w-[338px] pt-4 text-black-1">
          Discover How We Illuminate and Elevate Your Smiles.
        </p>
      </div>
      <div class="overflow-hidden rounded-xl">
        <img
          src="./assets/images/dental-implant-image.png"
          class="theme-transition-3 rounded-xl hover:scale-105"
          alt="Image of a person with a dental implant in their mouth, showing the implant and a friendly message about dental implant care"
        />
      </div>
    </div>
  </div>
  <!-- Pedodonti child card -->
  <div
    data-aos="zoom-in"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1500"
    class="spt48px col-span-12 flex flex-col items-center rounded-xl bg-white-4 xl:col-span-6"
  >
    <h3 class="h2 text-center font-bold">Pedodonti</h3>
    <p class="l-text mx-auto w-[336px] pt-4 text-center">
      Discover How We Illuminate and Elevate Your Smiles.
    </p>
    <div class="spt48px">
      <img
        src="./assets/images/child.png"
        alt="Child holding hands with a smiling face"
      />
    </div>
  </div>
  <!-- Prosthodonti card -->
  <div
    data-aos="zoom-in"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1500"
    class="spl40px spt24px col-span-12 flex items-center justify-between overflow-hidden rounded-xl bg-secondary lg:col-span-6 xl:col-span-4"
  >
    <div class="max-xs:pb-6">
      <h3 class="h2 font-bold">Prosthodonti</h3>
      <p class="l-text max-w-[338px] pt-4 text-black-1">
        Discover How We Illuminate and Elevate Your Smiles.
      </p>
    </div>
    <div class="max-xs:pb-6">
      <img
        src="./assets/images/prosthodonti-image.png"
        alt="Image of a person with a friendly smile, showing their teeth and mouth, with two hands holding their palms together, indicating a friendly gesture, with a message about prosthodonti care"
      />
    </div>
  </div>
  <!-- Aesthetic Care card -->
  <div
    data-aos="zoom-in"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1500"
    class="spl40px spt24px col-span-12 flex items-center justify-between rounded-xl bg-accent-1 lg:col-span-6 xl:col-span-4"
  >
    <div class="max-xs:pb-6">
      <h3 class="h2 font-bold">Aesthetic Care</h3>
      <p class="l-text max-w-[338px] pt-4 text-black-1">
        Discover How We Illuminate and Elevate Your Smiles.
      </p>
    </div>
    <div>
      <img
        src="./assets/images/aesthetic-care-image.png"
        alt="Image of a smiling person with a healthy, well-cared-for mouth, highlighting the importance of aesthetic care"
      />
    </div>
  </div>
  <!-- Aesthetic Care card -->
  <div
    data-aos="zoom-in"
    data-aos-anchor-placement="top-bottom"
    data-aos-duration="1500"
    class="spl40px spt24px col-span-12 flex items-center justify-between rounded-xl bg-accent-2 lg:col-span-6 xl:col-span-4"
  >
    <div>
      <h3 class="h2 font-bold">Gaga Dent</h3>
      <p class="l-text max-w-[338px] pt-4 text-black-1">
        Discover How We Illuminate and Elevate Your Smiles.
      </p>
    </div>
    <div class="self-end pb-5 pr-5">
      <img src="./assets/images/gaga-card-image.png" alt="" />
    </div>
  </div>
</section>
