<section
  data-aos="zoom-in"
  data-aos-anchor-placement="top-bottom"
  data-aos-duration="1500"
  class="smy60px sp60px rounded-xl bg-accent-4"
>
  <div class="swiper testimonial">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="mx-auto flex w-fit items-center gap-1 text-[24px] text-secondary"
        >
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
        </div>
        <p class="lead-text spt40px text-center font-medium">
          "Excellent care from start to finish! The staff was friendly and
          professional, and the dentist was extremely knowledgeable and gentle.
          My experience was fantastic, and I highly recommend this dental
          practice to anyone in need of top-notch dental care."
        </p>
        <h3 class="h4 pt-6 text-center font-bold text-black-1">
          Alexis Garcia
        </h3>
        <p class="l-text pt-2 text-center text-black-2">Engineer</p>
      </div>
      <div class="swiper-slide">
        <div
          class="mx-auto flex w-fit items-center gap-1 text-[24px] text-secondary"
        >
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
        </div>
        <p class="lead-text spt40px text-center font-medium">
          "Excellent care from start to finish! The staff was friendly and
          professional, and the dentist was extremely knowledgeable and gentle.
          My experience was fantastic, and I highly recommend this dental
          practice to anyone in need of top-notch dental care."
        </p>
        <h3 class="h4 pt-6 text-center font-bold text-black-1">
          Darrell Steward
        </h3>
        <p class="l-text pt-2 text-center text-black-2">Engineer</p>
      </div>
      <div class="swiper-slide">
        <div
          class="mx-auto flex w-fit items-center gap-1 text-[24px] text-secondary"
        >
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
          <i class="ph-fill ph-star"></i>
        </div>
        <p class="lead-text spt40px text-center font-medium">
          "Excellent care from start to finish! The staff was friendly and
          professional, and the dentist was extremely knowledgeable and gentle.
          My experience was fantastic, and I highly recommend this dental
          practice to anyone in need of top-notch dental care."
        </p>
        <h3 class="h4 pt-6 text-center font-bold text-black-1">Sarah Smith</h3>
        <p class="l-text pt-2 text-center text-black-2">Engineer</p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="swiper testimonial-image spt40px mx-auto h-25">
      <div class="swiper-wrapper pl-10">
        <!-- slider one -->
        <div class="swiper-slide rounded-full duration-500">
          <img
            src="./assets/images/ratting-1.png"
            alt="ratting one"
            class="rounded-full duration-500"
          />
        </div>
        <!-- slider two -->
        <div class="swiper-slide rounded-full duration-500">
          <img
            src="./assets/images/ratting-2.png"
            alt="ratting one"
            class="rounded-full duration-500"
          />
        </div>
        <!-- slider three -->
        <div class="swiper-slide rounded-full duration-500">
          <img
            src="./assets/images/ratting-3.png"
            alt="ratting one"
            class="rounded-full duration-500"
          />
        </div>
      </div>
    </div>
  </div>
</section>
