<div class="my-10 md:my-14 text-center">
    <h1 class="display-4 font-semibold text-primary pb-5 md:pb-6">LATEST NEWS</h1>
    <p class="text-xl">The heart of Restura allure lies in its meticulous attention to every detail,
        from the selection of ingredients to the presentation of each dish.
    </p>
</div>
<div
    class="flex flex-col md:flex-row xl:flex-col xxl:flex-row gap-5 md:gap-6 md:items-center xl:items-start xxl:items-center mb-10">
    <div  >
        <img class="rounded-xl sm:max-w-fit" src="./assets/images/panthouse.png" alt="Image">
    </div>
    <div  >
        <span class="pb-1 md:pb-2 block">October 19, 2024</span>
        <h3 class="pb-2 md:pb-3 font-semibold text-nw10">Panthouse Tonic</h3>
        <p class="pb-2 md:pb-6 text-lg text-nw40">In a world where dining experiences often blend
            into ordinary,
            stands as an emblem of culinary passion redefined.</p>
        <a class="text-lg underline" href="blog-details.html">Blog Details</a>
    </div>
</div>
<div
    class="flex flex-col md:flex-row xl:flex-col xxl:flex-row gap-5 md:gap-6 md:items-center xl:items-start xxl:items-center mb-10">
    <div  >
        <img class="rounded-xl sm:max-w-fit" src="./assets/images/overall-menu.png" alt="Image">
    </div>
    <div  >
        <span class="pb-1 md:pb-2 block">October 29, 2024</span>
        <h3 class="pb-2 md:pb-3 font-semibold text-nw10">We have update our overall menu.</h3>
        <p class="pb-2 md:pb-6 text-lg text-nw40">Qitchen invites you to witness passion personified
            in every aspect of your dining journey.</p>
        <a class="text-lg underline" href="blog-details.html">Blog Details</a>
    </div>
</div>
<div
    class="flex flex-col md:flex-row xl:flex-col xxl:flex-row gap-5 md:gap-6 md:items-center xl:items-start xxl:items-center mb-10">
    <div  >
        <img class="rounded-xl sm:max-w-fit" src="./assets/images/classic-dinner.png" alt="Image">
    </div>
    <div  >
        <span class="pb-1 md:pb-2 block">October 05, 2024</span>
        <h3 class="pb-2 md:pb-3 font-semibold text-nw10">Classic Dinner Night</h3>
        <p class="pb-2 md:pb-6 text-lg text-nw40">While the gastronomic delights are undoubtedly the
            centerpiece, Restura goes beyond being a culinary haven.</p>
        <a class="text-lg underline" href="blog-details.html">Blog Details</a>
    </div>
</div>
<div
    class="flex flex-col md:flex-row xl:flex-col xxl:flex-row gap-5 md:gap-6 md:items-center xl:items-start xxl:items-center mb-10">
    <div  >
        <img class="rounded-xl sm:max-w-fit" src="./assets/images/dinner-night.png" alt="Image">
    </div>
    <div  >
        <span class="pb-1 md:pb-2 block">October 29, 2024</span>
        <h3 class="pb-2 md:pb-3 font-semibold text-nw10">Panthouse Tonic</h3>
        <p class="pb-2 md:pb-6 text-lg text-nw40">While the gastronomic delights are undoubtedly the centerpiece, Restura goes beyond being a culinary haven.</p>
        <a class="text-lg underline" href="blog-details.html">Blog Details</a>
    </div>
</div>
<div
    class="flex flex-col md:flex-row xl:flex-col xxl:flex-row gap-5 md:gap-6 md:items-center xl:items-start xxl:items-center">
    <div  >
        <img class="rounded-xl sm:max-w-fit" src="./assets/images/classic-dinner-night.png" alt="Image">
    </div>
    <div  >
        <span class="pb-1 md:pb-2 block">October 29, 2024</span>
        <h3 class="pb-2 md:pb-3 font-semibold text-nw10">Classic Dinner Night</h3>
        <p class="pb-2 md:pb-6 text-lg text-nw40">While the gastronomic delights are undoubtedly the centerpiece, Restura goes beyond being a culinary haven.</p>
        <a class="text-lg underline" href="blog-details.html">Blog Details</a>
    </div>
</div>