<div class="mb-6">
  <div class="relative">
    <img class="w-full" src="./assets/images/menu-items.png" alt="Icon">
    <div
      class="flex items-center gap-1 xxxl:gap-3 absolute right-0 bottom-0 xxl:bottom-0 xxxl:bottom-0  cursor-pointer bg-nb10  rounded-tl-3xl pl-3 py-3.5">
      <a class=" text-md xl:text-lg text-secondary2" href="../menu.html">MENU</a>
      <i class="ph-thin ph-arrow-circle-up-right text-secondary2 text-sm sm:text-lg lg:text-xl xxl:text-3xl"></i>
    </div>
    <img class="absolute right-0 bottom-[48px] md:bottom-[52px] xxl:bottom-[56px] xxxl:bottom-[58px]"
      src="./assets/images/icon/shape-for-restora.png" alt="shape">
    <img class="absolute right-[66px] md:right-[72px] xl:right-[87px] xxl:right-[96px]  xxxl:right-[103px] bottom-0"
      src="./assets/images/icon/shape-for-restora.png" alt="shape">
  </div>
</div>
<div class="mb-6">
  <div class="relative">
    <img class="w-full" src="./assets/images/reservation.png" alt="Icon">
    <div
      class="flex items-center gap-1 xxxl:gap-3 absolute right-0 bottom-0 xxl:bottom-0 xxxl:bottom-0  cursor-pointer bg-nb10  rounded-tl-3xl pl-3 py-3.5">
      <a class=" text-md xl:text-lg text-secondary2" href="../reservation.html">RESERVATION</a>
      <i class="ph-thin ph-arrow-circle-up-right text-secondary2 text-sm sm:text-lg lg:text-xl xxl:text-3xl"></i>
    </div>
    <img class="absolute right-0 bottom-[48px] md:bottom-[52px] xxl:bottom-[56px] xxxl:bottom-[58px]"
      src="./assets/images/icon/shape-for-restora.png" alt="shape">
    <img class="absolute right-[121px] md:right-[134px] xl:right-[153px] xxl:right-[163px]  xxxl:right-[171px] bottom-0"
      src="./assets/images/icon/shape-for-restora.png" alt="shape">
  </div>
</div>
<div class="mb-6">
  <div class="relative">
    <img class="w-full" src="./assets/images/our-restaurant.png" alt="Icon">
    <div
      class="flex items-center gap-1 xxxl:gap-3 absolute right-0 bottom-0 xxl:bottom-0 xxxl:bottom-0  cursor-pointer bg-nb10  rounded-tl-3xl pl-3 py-3.5">
      <a class=" text-md xl:text-lg text-secondary2" href="../about.html">OUR RESTAURANT </a>
      <i class="ph-thin ph-arrow-circle-up-right text-secondary2 text-sm sm:text-lg lg:text-xl xxl:text-3xl"></i>
    </div>
    <img class="absolute right-0 bottom-[48px] md:bottom-[52px] xxl:bottom-[56px] xxxl:bottom-[58px]"
      src="./assets/images/icon/shape-for-restora.png" alt="shape">
    <img class="absolute right-[152px] md:right-[170px] xl:right-[193px] xxl:right-[203px]  xxxl:right-[210px] bottom-0"
      src="./assets/images/icon/shape-for-restora.png" alt="shape">
  </div>
</div>