<!-- <div class="navheight flex md:flex-col justify-between px-3 py-1 md:py-10 md:min-h-svh">
    <div class="flex justify-center items-center">
        <a class="flex md:flex-col items-center gap-3 md:gap-0" href="#">
            <img class="max-w-fit md:mb-3" src="./assets/images/logo-main.png" alt="Logo">
            <span class="text-xl">RESTURA</span>
        </a>
    </div>
    <div class="relative order-first md:order-none">
        <input type="checkbox" id="cb">
        <div class="menu">
            <label class="cross" for="cb">
                <div class="btn">
                    <i class="icon"></i>
                </div>
            </label>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Reservation</a></li>
                    <li><a href="#">Blgo</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Conatct</a></li>
                </ul>
            </nav>
        </div>
        <div class="wrapper">
            <label class="hamburg" for="cb">
                <div class="btn relative">
                    <i class="icon"></i>
                    <span class="bg-primary w-8 h-1 left-1.8 absolute top-5.3 rounded-full"></span>
                </div>
            </label>
        </div>
    </div>
    <div class="flex justify-center">
        <a   href="#">
            <img src="./assets/images/icon/regave.png" alt="Icon">
        </a>
    </div>
</div> -->


<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a class="display-1" href="../index.html">Home</a>
      <a class="display-1" href="../about.html">About</a>
      <a class="display-1" href="../menu.html">Menu</a>
      <a class="display-1" href="../reservation.html">Reservation</a>
      <a class="display-1" href="../blog.html">Blog</a>
      <a class="display-1" href="../contact.html">Contact</a>
    </div>
  </div>